.bloc-prod-unit{
	width:685px;
}

.prod-unit{

}

.pack-section{
	display:inline-block;
	margin:0 0 0 122px;

}


.table-categorie{
	margin-top: 13px;
}

.table-pack{
	margin-top: 60px;
}

.row-fluid .boutique-title{
	text-align: left;
	color: #196BB3;
	font-family: impact,"Open Sans",OpenSansSemibold,Arial,Sans-Serif;
	font-weight:300;
	font-size: 27px;
}

.row-fluid  .cat-title{
	font-family: impact,"Open Sans",OpenSansSemibold,Arial,Sans-Serif;
	font-weight:300;
	font-size: 27px;
	color:#EB56A3;


}
.produit{
	margin-top: -5px;
	margin-bottom: 30px;

}

.bloc-prod{
 border:solid 2px #196BB3;
 width:154px;
 height: 159px;
 border-radius:13px;
 overflow: hidden;

}

.pack{
	margin-bottom: 30px;
}

.bloc-pack{
 border:solid 2px #196BB3;
 width:409px;
 height: 290px;
 border-radius:13px;
 overflow: hidden;

}


.btn-pack{
	margin:0px -1px;
}

.pack-name{
 width:409px;
 height: 63px;
 background-color:#196BB3; 
 text-align: center;
}

.pack-name h3{
	color:#fff;
	font-family: impact,"Open Sans",OpenSansSemibold,Arial,Sans-Serif;
	font-size: 29px;
	font-weight: 100;
	padding-top: 15px;

}

.img-pack{
	height:159px;
}

.pack-price{
	text-align: center;
	font-family: impact,"Open Sans",OpenSansSemibold,Arial,Sans-Serif;
	font-size: 34px;
	font-weight: 100;
	color:#196BB3;
	margin-top: 10px
}

.nom-prod{
	font-size: 13px;
}

.img-prod{
	width:154px;
	height:124px;
	margin:auto;
	margin-bottom:3px;

}

.btn-desc{

	width:25px;
	height:auto;
	margin:-155px 127px;
	cursor: pointer;
}


.btn-com{
width:159px;
height:auto;
}


.bloc-txt{
	text-align: center;
	font-weight: 100;
	color:#196BB3;
	font-family: impact,"Open Sans",OpenSansSemibold,Arial,Sans-Serif;

}


.bloc-txt .sep{
	display: block;
	margin-top: -5px;
	margin-left: -9px;
	font-size: 18px;


}

.bloc-txt .prix{
	display:block;
	margin-top: -22px;
	font-size: 18px;

}

/* Portrait tablet to landscape and desktop */
@media (max-width: 979px) {

	.bloc-prod-unit{

		border-right: none;
	}
}