body.voyance-telephone-1{
	background:  url("../images/halloween_back.png") no-repeat scroll center top;
}
body.voyance-telephone-1 .subfooter {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #fc8212 0%, #fe6e07 100%) repeat scroll 0 0;
}
body.voyance-telephone-1 .subfooter ul li{
	border-right: solid 1px #fff !important;
}
body.voyance-telephone-1 .subfooter ul li.first{
	background: transparent url("../images_landing/custom/ico-custom1.png") no-repeat scroll 45px center;
}
body.voyance-telephone-1 .subfooter ul li.second{
	background: transparent url("../images_landing/custom/ico-custom2.png") no-repeat scroll 45px center;
}
body.voyance-telephone-1 .subfooter ul li.third{
	background: transparent url("../images_landing/custom/ico-custom3.png") no-repeat scroll 45px center;
}
body.voyance-telephone-1 .subfooter ul li.fourth{
	background: transparent url("../images_landing/custom/ico-custom4.png") no-repeat scroll 45px center;
	border-right: solid 1px #fff !important;
}
body.voyance-telephone-1 .subfooter ul li.fifth{
	background: transparent url("../images_landing/custom/ico-custom5.png") no-repeat scroll 45px center;
	border-right: none !important;
}
body.voyance-telephone-1 .subfooter ul li{
	color: #000000;
	font-weight: bold;
	font-size: 14px;
}
body.voyance-telephone-1 .subfooter ul li{
	padding-right: 18px;
}
body.voyance-telephone-1 .right-part{
	font-family: "Myriad Pro", "open sans";
	line-height: 45px;
}
body.voyance-telephone-1 .voyant-membre h2{
	text-align: left;
	max-width: none;
	border-bottom: none;
	color: #000;
}
body.voyance-telephone-1 .voyant-membre{
background: url("../images_landing/custom/voyant-custom.png") no-repeat scroll right -17px;
max-width: 100%;
padding-left: 60px;
margin: 0 auto -16px;
}
.voyant-membre span{
	font-weight: bold;
}
body.voyance-telephone-1 .right-part .widget{
	background: #ffbc91;
	width: 100% !important;
	max-height: 295px;
}
body.voyance-telephone-1 .right-part .widget .widget-title{
	background: #fd770c;
	height: auto;
	line-height: 30px;
	color: #000;
	margin-bottom: 0px;
	padding-bottom: 10px;
	padding-top: 10px;
}
body.voyance-telephone-1 .right-part .widget input[type="submit"]{
	background: #fe6f08;
	color: #000;
	border:none;
	margin-top: 45px;
}
body.voyance-telephone-1 .right-part .widget input[type="submit"]:hover{
	background: #fe6f08
}
body.voyance-telephone-1 .right-part .voyant-txt{
	width: 65%;
	text-align: center; 
}
body.voyance-telephone-1 .left-part{
	padding-bottom: 0px;
}
body.voyance-telephone-1 .left-part h2{
	color: #fc8714;
	text-transform: lowercase;
	font-weight: bold;
	margin-bottom: 0px;
}
body.voyance-telephone-1 .left-part h2 span{
	text-transform: uppercase;
}
body.voyance-telephone-1 .left-part .comment-ca-marche .faq{
	background: none;
	border:none;
}
.comment-ca-marche .faq img{
	margin-left: -24px;
}
.img-responsive{
  display: block;
  max-width: 100%;
  height: auto;
}
body.voyance-telephone-1 .footer{
	color: #fff;
}
body.voyance-telephone-1 .left-part .comment-ca-marche{
	margin-top: 478px;
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
  body.voyance-telephone-1 .voyant-membre{
	background: none;
  }
  body.voyance-telephone-1 .voyant-membre{
  	text-align: center;
  	padding-left: 0px;
  }
  body.voyance-telephone-1 .voyant-membre h2{
  	text-align: center;
  }
  body.voyance-telephone-1 .right-part .voyant-txt{
	width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
   body.voyance-telephone-1 .voyant-membre{
	background: none;
  }
   body.voyance-telephone-1 .voyant-membre{
  	text-align: center;
  	padding-left: 0px;
  }
   body.voyance-telephone-1 .voyant-membre h2{
  	text-align: center;
  }
   body.voyance-telephone-1 .right-part .voyant-txt{
	width: 100%;
  }
}