    .infob-tel-w,.infob-email-w{
        position:absolute;
        width:192px;
        color:#fff;
        background:#fff; 
        padding:15px;
        border-radius:3px;
        box-shadow:0 0 2px rgba(0,0,0,.5);
        transform:scale(0) rotate(-12deg);
        transition:all .25s;
        opacity:0;
    }

    .infob-email-w{
        margin-top:-81px;
        margin-left:-216px;
    }
    .infob-tel-w{
        margin-top:-101px;
        margin-left:-216px;
    }