body{
  background-color: #282c41;

}
body .top-nav {
    background: #333 none repeat scroll 0 0;
    color: #fff;
    height: 30px;
    line-height: 30px;
    text-align: right;
}
body .top-nav .nav-content {
    font-family: open sans;
    font-size: 13px;
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
}
body .top-nav .nav-content a {
    color: #fff;
    text-decoration: none;
}
.main-container{
    background: url('../images_landing/noel2015/fond_noel.png') no-repeat scroll 0px 0px/ cover; 
    padding-bottom: 50px;
}

.header{
	padding-top: 10px;
  padding-bottom: 5px;
}
.header img{
	max-height: 80px;
    display: block !important;
    margin-right: auto !important;
    margin-left: auto;
}
.header p{
	font-family: "segoe print","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: #ffffff;
}
.header span{
	color: #ff6c6c;
}

.form-control{
	margin: 0 auto;
	width: 80%;
}
.title h1{
	color: #fa0041;
	font-size: 60px;
    text-shadow: #fff 1px 1px,#fff 1px 1px,#fff 1px 1px,#fff 1px 1px;
    font-family: "Pacifico";
    margin-top: 28px;
}
.title span{
	font-weight: bold;
}
.content{
  margin-top: 100px;
}


.main-2-right p{
	font-size: 18px;
	color: #ffffff;
  margin-bottom: 20px;
  font-family: "raleway",sans-serif;
}
.main-2-right span{
	font-weight: bold;
}
p .prix{
    color:#05e966;
}
.main-2{
	margin-top: 20px;
}
.main-2-left-1{
	margin-bottom: 30px;
	padding-top: 15px;
	border: 3px solid #f90040;
	background: #ffffff;
}
.main-2-left-1 p{
    font-family: "Pacifico";
    font-weight: 600;
    margin-top: 0;
    font-size: 28px;
    line-height: 50px;
    color: #282c41;
}
.main-2-left-1 p span{
  color: #f90040;
}
.main-2-left h2{
  font-family: "Pacifico";
  margin-bottom: 20px;
  margin-top: 0px;
  color: #f90040;
  font-weight: 600;
   line-height: 60px;
   font-size: 40px;
}
.main-2-right h2{
  font-size: 22px;
  color: #ffffff;
  line-height: 30px;
  font-family: "raleway",sans-serif;
}
.col-md-6.first{
    background: transparent url("../images_landing/ico-tel.png") no-repeat scroll 12px 0 / contain; 
    padding-left: 56px;
}
.col-md-6.last{
   background: transparent url("../images_landing/ico-tel2.png") no-repeat scroll 15px 0 / contain ;
   padding-left: 60px;
}

.main-1-left{
	background: rgba(255, 255, 255, 0.80);
	padding-bottom: 15px;
	padding-top: 20px;
}
.main-1-left p{
	font-size: 12px;
    line-height: 14px;
    color: #6f6f6f;
}
.main-1-right img{
	border: solid 4px #ffffff;
}
.main-1-right span{
	color: #ffffff;
	font-weight: 600;
	font-size: 22px;
}
.main-2-left-2{
	margin-bottom: 10px;
}
.main-2-left-2 .text-center{
	border: 2px solid #e6a8b3;
	margin-left: 8px;
	background: #ffffff none repeat scroll 0 0;
    box-shadow: -1px 3px 3px #888888;
    cursor: default;
    font-size: 18px;
    margin-bottom: 5px;
    width: 23%;
}
.main-2-left-2  span{
	font-size: 12px;
    font-style: normal;
    font-weight: bold;
}
.main-2-left-2 img{
	display: block;
    margin: 10px auto 5px;
}
.main-2-right{
	border: solid 4px #ffffff;
	background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #282c41 0%, #282c41 100%) repeat scroll 0 0;
	box-shadow: -1px 3px 3px #888888;
    margin-bottom: 26px;
}
.main-2-right .btn-default{
	display: block;
    margin: 35px auto -18px;
    height: 45px;
    width: 220px;
    background: #05e966 none repeat scroll 0% 0%;
    color: #282c41;
    font-weight: bold;
    font-size: 16px;
    border-radius: 20px;
}
.footer{
	background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #fff 0%, #fff 100%) repeat scroll 0 0;
    color: #282c41;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer-2{
	margin-bottom: 10px;
    margin-top:20px;
    color: #fff;
}
.footer p{
	text-align: left;
	margin-left: 35px;
	margin-bottom: 0px;
	line-height: 17px;
  width: 105%;
}
.footer .row div{
	margin-bottom: 10px;
}
.footer .one{
	 background: transparent url("../images_landing/noel2015/blue-star.png") no-repeat scroll 0px center;
    margin-right: 20px;
}
.footer .two{
	 background: transparent url("../images_landing/noel2015/blue_cad.png") no-repeat scroll 0px center;
    margin-right: 20px;
}
.footer .three{
	 background: transparent url("../images_landing/noel2015/talk.png") no-repeat scroll 0px center;
    margin-right: 0px;
}
.footer .four{
	background: transparent url("../images_landing/noel2015/coupe.png") no-repeat scroll 0px center;
   margin-right: 0px;
}
.footer .five{
	 background: transparent url("../images_landing/noel2015/secu.png") no-repeat scroll 0px center; 
}
.main-2-right .message_envoye{
  color: #caff7a;
}
@font-face{
    font-family:"Pacifico";
    font-style:bold;
    src: url('../fonts/Pacifico.ttf')
}
/*******************************/

@media (max-width: 767px) {
  .main-2-left-2 .text-center{
  	width: 45%
  }
  .footer .row div{
  	border-right: none !important;
  }
  .title h1{
  	font-size: 18px;
    margin-top: -3px;
  }
  .header p{
  	font-size: 14px;
  	margin-top: 5px;
  }
  .main-1-right span{
  	font-size: 18px;
  }
  .main-2-right h2{
  	font-size: 14px;
  }
  .main-2-right p{
  	font-size: 14px;
  }
  .main-2-right{
  	margin-bottom: 30px;
  }
  .form-control{
  	font-size: 12px;
  }
  body .top-nav .nav-content{
  	font-size: 10px;
  }
  body .top-nav{
  	text-align: left;
  	padding-left: 5px;
  }
  .img-responsive{
  	margin: 0 auto;
  }
  .content{
    margin-top: 0px;
  }
  .tel{
    font-size: 20px!important;
    padding: 6px 8px 6px 34px!important;
  }
  .footer{
   margin-right: -5px!important;
  }
  .footer p{
    width: 100%;
  }
  body .top-nav .nav-content{
    font-size: 9px;
    text-align: center;
  }
  body .top-nav{
    padding-right: 5px;
     width: 105%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .footer .row div{
  	border-right: none !important;
  }
  .content{
    margin-top: 0px;
  }
}