

/*form styles*/
#main_container {
    margin: 5px auto;
    text-align: center;
    position: relative;
    max-width: 600px;
    height: auto;
    /*width: 50%;*/
}

#main_container fieldset {
    background: #22424d;color: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 15px 20px;
    box-sizing: border-box;
    margin: 0 5%;
    /*stacking fieldsets above each other*/
    position: absolute;
    width: 100%;
}
/*Hide all except first fieldset*/
/*#main_container fieldset:not(:first-of-type) {*/
#main_container fieldset:not(:first-of-type) {
    display: none;
}

/*buttons*/
#main_container .action-button {
    width: 60px;
    background: url(../images_landing/rdv/next.png) transparent 0 0 no-repeat;
    font-weight: bold;
    color: white;
    border: 0 none;
    cursor: pointer;
    padding: 20px;
}


/*headings*/
.fs-title {
    font-size: 16px;
    margin-bottom: 20px;
    color: #ffffff;
}
.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
    margin-bottom: 10px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    color: #0080ae;
    text-transform: uppercase;
    font-size: 13px;
    width: 33.33%;
    float: left;
    position: relative;
}
#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #333;
    background: white;
    border-radius: 3px;
    margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
    background: #1871b9;
    color: white;
}


body {
    background-color: #E8E8E8;
    background-image: url(../images/bg/bg5.png);
}

#planning_selection .table{
    margin-bottom: 30px!important;
}

.col-sm-6 .table{
    background: #fffefe;
    /*color: #000000;*/
}

label.primary {
    width : 100%;
}

.datepicker {
    width: 12%;
}
.p-title {
    color: #1871b9;
    font-size: 14px;
    font-weight: bold;
}
.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
    color: #505050;
}
td label.default{
    width: 100%;
}
#form_jour{
    padding: 0px!important;
}

.secureImages {
    clear: right;
    text-align: right;
    padding: 20px 0 0;
}

.subfooter{
    margin-top: 120px!important;
}

fieldset.planning{
    padding: 15px 5px!important;
    width: 100%;
}

body.consultation-en-ligne .right-part{
    margin-top: 10px!important;
}


body.consultation-en-ligne{
    /*background: url('../images_landing/bg-landing-voyance-gratuite.jpg') no-repeat center top #fff;*/
    background: url('../images_landing/bg-consultatione-en-ligne1.png') repeat center top #fff;
    margin: 0;
}

body.consultation-en-ligne .main{
    max-width: 1280px;
    margin: 0 auto;
    width:100%;
    font-family: open sans;
    clear: both;
    min-height: 635px;
}

body.consultation-en-ligne .top-nav{
    background: #333;
    text-align: right;
    color: #fff;
    height: 30px;
    line-height: 30px;
}

body.consultation-en-ligne .top-nav .nav-content{
    max-width: 1280px;
    margin: 0 auto;
    width:100%;
    font-family: open sans;
    font-size: 13px;
}
body.consultation-en-ligne .top-nav .nav-content a{
    color: #fff;
    text-decoration: none;
}
body.consultation-en-ligne .logo{
    margin-top: 35px;
}

body.consultation-en-ligne .left-part{
    max-width: 680px;
    width: 100%;
    float: left;
    padding-bottom: 35px;
}


body.consultation-en-ligne .left-part h1{
    font-weight:200;
    color: #b83d56;
    font-size: 25px;
    text-align: center;
}


body.consultation-en-ligne .left-part h2{
    font-weight:200;
    color: #b83d56;
    font-size: 24px;
    margin-top: 145px;
    margin-bottom: 50px;
}


body.consultation-en-ligne .left-part .content{
    text-align: justify;width:100%;font-size: 13px;color: #808080;
}



body.consultation-en-ligne .left-part .comment-ca-marche .cols-3{
    float: left;
    max-width: 26%;
    width: 100%;
    font-style: italic;
    font-size: 14px;
    text-align: center;
    line-height: 18px;
}

body.consultation-en-ligne .left-part .comment-ca-marche .cols-3.first{
    background: url('../images_landing/ico-form.png') no-repeat 40px center transparent; padding-left: 60px;margin-right: 50px;
}

body.consultation-en-ligne .left-part .comment-ca-marche .cols-3.middle{
    background: url('../images_landing/ico-chat.png') no-repeat 15px center transparent; padding-left: 60px;margin-right: 50px;
}

body.consultation-en-ligne .left-part .comment-ca-marche .cols-3.last{
    margin-right: 0px;background: url('../images_landing/ico-mail.png') no-repeat 30px center transparent; padding-left: 60px;
}




body.consultation-en-ligne .right-part{
    max-width: 700px;
    float: right;
    margin-top: 40px;
    font-family: open sans;
    position: relative;
    margin-right: 80px;
}
body.consultation-en-ligne .right-part #form-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.85);
    border: none;
    height: 100%;
    display: none;
}

body.consultation-en-ligne .right-part .pop{
    position: absolute;
    text-align: center;
    border-radius: 50%;
    color: #FFF;
    font-family: open sans;
    font-size: 17px;
    text-transform: uppercase;
    padding: 41px 30px;
    top: 0px;
    left: 0px;
    margin-top: -30px;
    margin-left: -100px;
    background: #E51E85 none repeat scroll 0% 0%;
}

body.consultation-en-ligne .right-part form{
    padding: 0 45px;
}


body.consultation-en-ligne .right-part span.h4{
    color: #fff;
    display: block;
    font-family: open sans;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 35px;
    border-bottom: 1px solid !important;
    padding-bottom: 10px;
    margin-bottom: 15px;
}


body.consultation-en-ligne .subfooter{
    background-color: #b83d56;
    background: -moz-linear-gradient(top,  #b83d56 0%, #165c9a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b83d56), color-stop(100%,#165c9a));
    background: -webkit-linear-gradient(top,  #b83d56 0%,#165c9a 100%);
    background: -o-linear-gradient(top,  #b83d56 0%,#165c9a 100%);
    background: -ms-linear-gradient(top,  #b83d56 0%,#165c9a 100%);
    background: linear-gradient(to bottom,  #b83d56 0%,#165c9a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b83d56', endColorstr='#165c9a',GradientType=0 );
    display: block;
    width: 100%;
    font-family: open sans;
    color: #fff;

}

.clear{
    clear: both;
}

body.consultation-en-ligne .subfooter ul{
    clear: both;
    list-style: outside none none;
    max-width: 1080px;
    margin: 60px auto 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

body.consultation-en-ligne .subfooter ul li{
    height: 31px;
    border-right: 1px solid !important;
    float: left;
    padding-left:89px;
    padding-right: 20px;
    font-size: 15px;
    line-height: 16px;
}

body.consultation-en-ligne .subfooter ul li.first{
    background:url('../images_landing/ico-arg1.png') no-repeat 45px center transparent;
}

body.consultation-en-ligne .subfooter ul li.second{
    background:url('../images_landing/ico-arg2.png') no-repeat 45px center transparent;
}

body.consultation-en-ligne .subfooter ul li.third{
    background:url('../images_landing/ico-arg3.png') no-repeat 45px center transparent;
}

body.consultation-en-ligne .subfooter ul li.fourth{
    background:url('../images_landing/ico-arg4.png') no-repeat 45px center transparent;border-right: 0px !important;
    padding-right: 0;
}


body.consultation-en-ligne .footer{
    text-align: center;
    font-family: open sans;
    color: #000;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    clear: both;
    display: block;
}

body.consultation-en-ligne .left-part .content .txt-content {
    background-color: #fff;
    padding: 10px 18px;
}




@media (max-width: 1280px) {
    body.consultation-en-ligne .left-part {
        max-width: 330px;
        width: 100%;
        background: none;
    }



    body.consultation-en-ligne .left-part .comment-ca-marche .cols-3 {
        width: 100%;
        font-style: italic;
        text-align: left;
        line-height: 18px;
        float: none;
        padding-left: 92px !important;
        max-width: 100%;
        min-height: 50px;
        line-height: 50px;
        font-size: 14px;
    }

    body.consultation-en-ligne .left-part .comment-ca-marche .cols-3 br{display: none;}

    body.consultation-en-ligne .subfooter ul{
        max-width: 95%;
        padding-left: 0;
    }


    body.consultation-en-ligne .subfooter ul li{
        background-position: 20px center !important;
        padding-left:65px;
        max-width: 20%;
    }
}


@media (max-width: 980px) {

    body.consultation-en-ligne{
        background: #FFF url("../images_landing/bg-color.jpg") repeat-x scroll center top;
        margin: 0px;
    }

    body.consultation-en-ligne .main{background: none;}

    body.consultation-en-ligne .right-part{
        max-width: 49%;
    }
    body.consultation-en-ligne .right-part .widget {
        width: 97%;
        padding: 15px;
    }


    body.consultation-en-ligne .right-part form {
        padding: 0px 5px;
    }

    body.consultation-en-ligne .logo{text-align: center;}

    body.consultation-en-ligne .left-part{
        background: none !important;
    }

    body.consultation-en-ligne .subfooter ul li{
        max-width: 40%;
        width: 100%;
        margin-bottom: 20px;
        border: none !important;
    }

    body.voyance-telephone-1 .right-part .widget .widget-title{
        font-size: 17px !important;
    }

}


@media (max-width: 900px) {
    body.consultation-en-ligne .subfooter ul li{
        max-width: 30%;
    }
}

@media (max-width: 780px) {
    body.consultation-en-ligne .pop{
        display: none;
    }

    body.consultation-en-ligne .left-part {
        max-width: 49%;margin-right: 2%;
        width: 100%;
    }


}

@media (max-width: 550px) {
    body.consultation-en-ligne .left-part {
        max-width: 98%;
        margin: 5px auto;
    }

    body.consultation-en-ligne .left-part .content{
        margin: 5px auto;
    }

    body.consultation-en-ligne .comment-ca-marche{
        display: none;
    }

    body.consultation-en-ligne .right-part{
        max-width: 98%;
        margin: 5px auto;
    }

    body.consultation-en-ligne .subfooter ul li{
        max-width: 90%;
        margin-bottom: 30px;
    }

    body.consultation-en-ligne .top-nav {
        background: #333 none repeat scroll 0% 0%;
        color: #FFF;
        height: auto;
        padding-left: 15px;
        padding-right: 15px;
        line-height: 19px;
        text-align: center;}

    body.consultation-en-ligne .right-part span.h4{
        font-size: 30px;
    }

    input,select,textarea{font-size: 16px;}

}
@media (max-width: 375px) {
    body.consultation-en-ligne .right-part .widget input{
        max-width: 97%;
    }
}
@media (max-width: 320px) {
    body.consultation-en-ligne .right-part .widget {
        width: 97%;
        padding: 3%;
        margin-right: 0;
    }
    body.consultation-en-ligne .subfooter ul {
        max-width: 94%;
        padding-left: 0;
    }
}


/*****************************************************************************************************************/

input[type=checkbox].ace, input[type=radio].ace {
    opacity: 0;
    position: absolute;
    z-index: 12;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.space {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
}

#planning_selection {
    color: #333;
}
#planning_selection input,#planning_selection select,#planning_selection .btn{
    border-radius: 0;
}
.FormField {
    display: block;
    position: relative;
    margin-bottom: 2rem
}

.FormField-Label {
    display: block;
    margin-bottom: 0.2rem;
    font-family: inherit;
    font-size: 1.6rem
}

.FormField-Input {
    display: block;
    width: 100%;
    padding: 0.8rem 1.2rem;
    border: 1px solid
}

select.FormField-Input {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    color: #858585;
    background-color: #ffffff;
}

.FormField-Input.radio {
    display: inline-block
}

.FormField-TableInputContainer {
    display: table;
    width: 100%;
    margin: auto
}

.FormField-TableInputContainer-Cell {
    display: table-cell;
    padding-right: 1rem;
    text-align: center;
    white-space: nowrap
}

.FormField-TableInputContainer-Cell:last-child {
    padding-right: 0
}

.FormField-TableInputContainer.fixed-2-col .FormField-TableInputContainer-Cell {
    width: 33.333%
}

.FormField-TableInputContainer.fixed-3-col .FormField-TableInputContainer-Cell {
    width: 33.333%
}

.FormField-TableInputContainer.gender {
    max-width: 300px
}

.FormField-TableInputContainer.relationship-status {
    max-width: 400px
}

.FormField.radio .FormField-Label, .FormField.radio .FormField-Input {
    display: inline-block;
    width: auto;
    margin-top: 0;
    vertical-align: middle;
    margin: 0 0.2rem
}

.FormField-Info {
    display: block;
    position: absolute;
    margin-top: -3.7rem;
    padding: 0.8rem 1.4rem;
    background-color: white;
    border: 1px solid;
    transition: all 0.25s;
    opacity: 0;
    z-index: -1
}

.FormField-Input:focus + .FormField-Info {
    margin-top: -8rem;
    opacity: 1;
    z-index: 1
}

.FormField-Label {
    text-transform: uppercase
}

.FormField-Label .ico-woman {
    font-size: 1.9rem;
    font-weight: bold;
    color: #F3AAB4
}

.FormField-Label .ico-man {
    font-size: 1.9rem;
    font-weight: bold;
    color: #3BDBE6
}

.FormField-Input {
    border: none
}

.FormField-Input:not([type=radio]):focus, .FormField-Input:not([type=radio]):focus:invalid {
    outline-width: 0;
    box-shadow: 0 0 6px -1px #050120;
    border-color: transparent
}

.FormField-Info {
    border: none;
    color: #050120;
    box-shadow: 0 0 6px -1px #050120
}

input[type="checkbox"], input[type="radio"] {
    width: 20px !important;
    height: 20px !important
}


.alert {
    border-radius: 5px
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1
}

.icon-liste li span{
    padding-left: 10px;
    display: block;
    margin: 10px;
}

li.icone-cray{
    list-style-image: url(../images_landing/rdv/icon-cray.png);
}
li.icone-screen{
    list-style-image: url(../images_landing/rdv/icon-screen.png);
}
li.icone-payment{
    list-style-image: url(../images_landing/rdv/icon-payment.png);
}
li.icone-hand{
    list-style-image: url(../images_landing/rdv/icon-hand.png);
}
li.icone-recommanded{
    list-style-image: url(../images_landing/rdv/stars.png);
}li.icone-consultation{
    list-style-image: url(../images_landing/rdv/consultation.png);
}
li.icone-consultation span {
    margin-top: -10px;
}

p.choice-planning {
    background: #b83d56;
    padding: 10px;
    border-radius: 12px;
    color: #fff;
    font-size: larger;
    margin-left: 66px;
}

.widget .time {
    background: url(../images_landing/rdv/time.png) 0 0 no-repeat;
    height:66px;
}

.header {
    background: url(../images_landing/rdv/header.png) 0 0 no-repeat;
    height: 240px;
    width: 100%;
}

.header-contentt {
    margin-left: 20%;
    display: table;
}
.header-contentt-cell {
    display: table-cell;
    font-weight: bold;
    width: 100%;
}
.header-contentt-cell2 {
    margin-left: 20%;

}