.container-fluid {
    padding: 0;
}
.limited-container {
    max-width: 1300px;
    padding: 0 30px;
    margin: auto;
}
header {
    padding-top: 30px;
}
h1 {
    font-size: 2.4em;
    text-align: center;
}
#logo img {
    width: 100%;
    max-width: 342px;
}
section {
    padding-top: 80px;
}
article, #form-container {
    padding: 30px;
}
h2 {
    margin: 0 auto;
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-size: 1.7em;
    font-weight: bold;
    text-align: center;
}
.form-group {
    margin-bottom: 0;
}
input, select {
    display: block;
    width: 100%;
    padding: 4px 12px;
    margin-bottom: 15px;
    outline: none;
}
.gender-select {
    height: 30px;
    margin: 5px 0 15px 0;
    text-align: center;
}
.gender-select * {
    display: inline-block;
    width: auto;
}
.gender-select label {
    margin: 0 20px;
}
.gender-select input {
    margin-left: 6px;
}
.date {
    text-align: center;
}
.date select {
    display: inline-block;
    width: 30%;
    margin-right: 2%;
}
.date select:last-child {
    margin-right: 0;
}

#tirage {
    float: right;
    padding-left: 30px;
}
#cards-container {
    text-align: center;
    margin-bottom: 80px;
}
#cards-result {
    text-align: center;
}
.card {
    display: inline-block;
    position: relative;
    margin-right: -34px;
    margin-left: -34px;
    width: 95px;
    height: 167px;
    /*position: relative;*/
    overflow: hidden;
    cursor: pointer;
}
.card:first-child {
    margin-left: 0;
}
.card:last-child, .flipped-card:last-child  {
    margin-right: 0;
}
.card.Flipped {
    z-index: 100;
}
.card.Flipped:hover {
    z-index: 110;
}
.flipped-card{
    display: inline-block;
    width: 86px;
    height: 167px;
    margin-right: 10px;
    border-radius: 5px;
    background: #d59d5c;
}
@media screen and (min-width: 860px) and (max-width: 1270px){
    /* enlève 3 cartes du jeu de tirage */
    .card[data-card="7"], .card[data-card="8"], .card[data-card="9"] {
        display: none;
    }
    section {
        padding-top: 60px;
    }
}
@media screen and (min-width: 860px) and (max-width: 1140px){
    /* enlève 5 cartes du jeu de tirage */
    .card[data-card="10"], .card[data-card="11"]{
        display: none;
    }
}
@media screen and (min-width: 860px) and (max-width: 1050px){
    /* enlève 7 cartes du jeu de tirage */
    .card[data-card="12"], .card[data-card="13"],  .card[data-card="14"]{
        display: none;
    }
    section {
        padding-top: 40px;
    }
    
    .limited-container {
        padding: 0 26px;
    }    
    article, #form-container {
        padding: 20px;
    }
    #tirage {
        padding-left: 20px;
    }
}
@media screen and (min-width: 860px) and (max-width: 970px){
    h2 {
        font-size: 1.5em;
    }
    .gender-select label {
        margin: 0 15px;
    }
    #tirage {
        padding-right: 0;
    }
}
@media screen and (min-width: 860px) and (max-width: 910px){
    .gender-select label {
        margin: 0 8px;
    }
}
@media screen and (max-width: 860px){
    header {
        padding-top: 20px;
    }
    section {
        padding-top: 60px;
    }
    .card[data-card="7"], .card[data-card="8"] {
        display: none;
    }
    
    #form-container {
        float: none;
        width: 80%;
        margin: auto;
        margin-bottom: 80px;
    }
    #tirage {
        float: none;
        width: auto;
        padding: 0;
        margin-bottom: 60px;
    }
    #cards-container {
        margin-bottom: 50px;
    }
}
@media screen and (max-width: 770px){
    .card[data-card="9"], .card[data-card="10"], .card[data-card="11"]{
        display: none;
    }
    header {
        padding-top: 10px;
    }
    h1 {
        font-size: 2em;
    }
}
@media screen and (max-width: 680px){
    .card[data-card="12"], .card[data-card="13"], .card[data-card="14"] {
        display: none;
    }
    h1 {
        font-size: 1.8em;
    }
    .flipped-card {
        margin-right: 6px;
    }
}
@media screen and (max-width: 580px){
    header .limited-container > * {
        width: 100%;
    }
    #logo img {
        width: 80%;
    }
    h1 {
        margin-bottom: 10px;
    }
    section {
        padding-top: 50px;
    }
    .card[data-card="6"], .card[data-card="15"], .card[data-card="16"], .card[data-card="17"], .card[data-card="18"], .card[data-card="19"], .card[data-card="20"], .card[data-card="21"], .card[data-card="22"] {
        display: none;
    }
    div.card{
        margin-left: -16px;
        margin-right: -16px;
    }
    #tirage {
        margin-bottom: 30px;
    }
    #cards-container {
        margin-bottom: 0px;
    }
    #cards-result{
        display: none;
    }
    #form-container {
        width: 95%;
    }
}
@media screen and (max-width: 440px){
    .limited-container {
        padding: 0 10px;
    }
    
    .card {
        width: 75px;
    }
    .card img, .flipped-card img {
        width: 100%
    }
    
    article, #form-container {
        padding: 15px;
    }
    h2 {
        font-size: 1.5em;
    }
    .gender-select label {
        margin: 0 10px;
    }
}