@media only screen and (max-width: 320px){
.voyance-tarot .relative{
    	margin-left:-15px;
    }

    .voyance-tarot .tarot-left{
    	margin-left: -15px;
    }
    .voyance-tarot .tarot-right{
    	margin-left: -19px;
    }

    .voyance-tarot .paquet img.tarot-1,.voyance-tarot .paquet img.tarot-2,.voyance-tarot .paquet img.tarot-3,.voyance-tarot .paquet img.tarot-4,.voyance-tarot .paquet img.tarot-5,.voyance-tarot .paquet img.tarot-5{
      transform:rotate(0deg);
   }

}

 @media only screen and (max-width: 480px){

 	.voyance-tarot .row-fluid{
 		padding-left: 0px;
 	}
 	.voyance-tarot .tarot-left{
    	float:none;
    	width:100%;
    	margin-left: -15px;/* dans w = 320 juste ici pour test*/
    }
	.voyance-tarot .relative{
		 margin-left: 1px;
	}
	.voyance-tarot .donne{
		width:300px;
		margin-left: -16px;
	}
	.tarot-left .first-title{
		margin-left: auto;
    width:318px;
	}

	.tarot-left .second-title{
		margin-left: auto;
    margin-right: auto;
		margin-top: -65px;
	}

	.voyance-tarot .donne{
		margin-left: -35px;
	}
	.voyance-tarot .pickHolder{
		margin-left: 2px;
	}
   
   .voyance-tarot .tarot-right{
   		/*margin-left: auto;*/
   		margin-left: -19px; /* dans w = 320 juste ici pour test*/
   		float:none;
   		margin-top: -80px;
   		width:100%;
   }

   .voyance-tarot .paquet img{
   	width:70px;
   	height:125px;
   }
   .voyance-tarot .paquet img.tarot-1,.voyance-tarot .paquet img.tarot-2,.voyance-tarot .paquet img.tarot-3,.voyance-tarot .paquet img.tarot-4,.voyance-tarot .paquet img.tarot-5,.voyance-tarot .paquet img.tarot-5{
   		transform:rotate(0deg);
   }
 
   .voyance-tarot .donne,.tarot-left .second-title{
   	display:none;
   }
     .voyance-tarot .paquet img.tarot-6,.voyance-tarot .paquet img.tarot-7,.voyance-tarot .paquet img.tarot-8,.voyance-tarot .paquet img.tarot-9,.voyance-tarot .paquet img.tarot-10,.voyance-tarot .paquet img.tarot-11,.voyance-tarot .paquet img.tarot-12{
   		transform:rotate(0deg);
   		display:none;
   }

   .voyance-tarot .paquet img.tarot-1{
		top: 0px;
		left:-6px;
	}
	.voyance-tarot .paquet img.tarot-2{
		top: 0px;
		left:56px;
	}
	.voyance-tarot .paquet img.tarot-3{
		top: 0px;
		left:118px;
	}
	.voyance-tarot .paquet img.tarot-4{
		top: 0px;
		left:181px;
	}
	.voyance-tarot .paquet img.tarot-5{
		top: 0px;
		left:244px;
	}

	.widget #form-w, .vy-title{
		width:318px;
		margin-left: auto;
	}
	.vy-title{
		width:318px;
		/*margin-right: 0px;*/
	}
	.vy-title h1, #two-columns h1{
		font-size: 12px;
	}
	.widget .inp-txt input, .widget .inp-txt textarea{
		width:283px;
	}
	.widget .cnt-right{
		width:182px;
	}
	.widget .daten{
		width:96px;
	}

	.widget .inp-txt textarea{
		width:283px;
	}
	.widget #form-w .btn_button{
		width:283px;
	}
}

 @media only screen and (min-width: 480px) and (max-width: 767px) {

    .voyance-tarot .tarot-left{
    	float:none;
    	width:80%
    }

    .voyance-tarot .donne{
    	width:525px;
    	margin-left: 35px;
    }

    .voyance-tarot .tarot-right{
    	float:none;
    	margin-left: 65px;
    	margin-top: 30px;
    	width:80%;
    }
	.voyance-tarot .relative{
		margin-left: 100px;
	}

    .tarot-left .second-title{
    	margin-left: 208px;
    }

    .tarot-left .first-title{
    	margin-left: 188px;
    }

}


/***************************************************************
* Tablet Portrait *
****************************************************************/

 @media only screen and (min-width: 768px) and (max-width: 979px) {


  .voyance-tarot .tarot-left{
    	float:none;
    	width:80%
    }

    .voyance-tarot .donne{
    	width:525px;
    	margin-left: 35px;
    }

    .voyance-tarot .tarot-right{
    	float:none;
    	margin-left: 0px;
    	margin-top: 30px;
    	width:80%;

    }
	.voyance-tarot .relative{
		margin-left: 100px;
	}

    .tarot-left .second-title{
    	margin-left: 208px;
    }

    .tarot-left .first-title{
    	margin-left: 188px;
    
}

/***************************************************************
* Mobile Portrait *
****************************************************************/

@media only screen and (max-width: 767px) {   
  
}

/***************************************************************
* Mobile Landscape *
****************************************************************/


