body {
    background: url(../images_landing/tarot-vps-1/background.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Times New Roman', 'Times Roman', serif;
    color: black;
}
body.no-background {
    background: transparent;
}

.alert {
    text-align: center;
    color: white;
}
.alert-danger {
    background-color: red;
    border-color: red;
}
.alert-warning {
    background-color: darkgoldenrod;
    border-color: darkgoldenrod;
}
.alert-info {
    background-color: darkcyan;
    border-color: darkcyan;
}
.alert-success {
    background-color: green;
    border-color: green;
}

header {
    background: #b5b5b5; /* Old browsers */
    background: -moz-linear-gradient(top,  #b5b5b5 0%, #3d3d3d 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #b5b5b5 0%,#3d3d3d 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #b5b5b5 0%,#3d3d3d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5b5b5', endColorstr='#3d3d3d',GradientType=0 ); /* IE6-9 */
}
h1 {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}
h3 {
    font-weight: bold;
}
.content-title {
    text-align: center;
    margin-bottom: 30px;
}
.fond-jaune {
    border-radius: 7px;
    border: 3px solid #ffbc03;
    background: #ffbc03; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffbc03 0%, #ffdd78 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffbc03 0%,#ffdd78 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffbc03 0%,#ffdd78 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbc03', endColorstr='#ffdd78',GradientType=0 ); /* IE6-9 */
}
h2 {
    text-transform: uppercase;
    border-bottom: 1px solid #f9f9f9;
    color: #000;
}
label {
    font-size: .9em;
    color: #000;
    text-transform: uppercase;
    font-weight: normal;
}
input, select {
    border: 1px solid #e9e9e9;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #f4f4f4 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f4f4f4 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffffff 0%,#f4f4f4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */
}
button {
    width: 100%;
    padding: 8px 30px;
    border: 2px solid #868686;
    border-radius: 5px;
    background: #ffa700;
    background: -moz-linear-gradient(top, #ffa700 0%, #ff2b00 100%);
    background: -webkit-linear-gradient(top, #ffa700 0%,#ff2b00 100%);
    background: linear-gradient(to bottom, #ffa700 0%,#ff2b00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa700', endColorstr='#ff2b00',GradientType=0 );
    text-align: center;
    color: #000;
    font-size: 1.3em;
    font-weight: bold;
    white-space: normal;
    text-transform: uppercase;
}
#submit-form {
    display: block;
    width: 220px;
    margin: 30px auto -60px auto;
    font-size: 1.2em;
}