.row-fluid .span6{
	margin-top: -4px;
}


.voyance-tarot .tarot-left{
	width:100%;
}
.voyance-tarot .relative{
	margin-left: 100px;
}

.tarot-left .first-title{
	margin-left: 188px;
}

.tarot-left .second-title{
	margin-left: 218px;
}
.voyance-tarot .donne{
	margin-left: 60px;
}


.voyance-tarot  .ninesixty .cat-title-tarot{
	margin-bottom: 23px;
}
