@font-face {
    font-family: 'Fjalla One';
    font-style: normal;
    font-weight: 400;
    src: local("Fjalla One"), url(https://fonts.gstatic.com/s/fjallaone/v4/rxxXUYj4oZ6Q5oDJFtEd6i3USBnSvpkopQaUR-2r7iU.ttf) format("truetype");
}
@font-face {
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    src: local("Lobster"), local("Lobster-Regular"), url(https://fonts.gstatic.com/s/lobster/v16/TSDaXhyJuDJ-NBU0popSWA.ttf) format("truetype");
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3aCWcynf_cDxXwCLxiixG1c.ttf) format("truetype");
}
@font-face {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    src: local("Oxygen"), local("Oxygen-Regular"), url(https://fonts.gstatic.com/s/oxygen/v5/78wGxsHfFBzG7bRkpfRnCQ.woff2) format("woff2");
}
@font-face {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 700;
    src: local("Oxygen Bold"), local("Oxygen-Bold"), url(https://fonts.gstatic.com/s/oxygen/v5/yVHpdQrmTj9Kax1tmFSx2ltXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
    display: block;
}
audio, canvas, video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden], template {
    display: none;
}
html {
    background: #fff;
    color: #000;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
html, button, input, select, textarea {
    font-family: sans-serif;
}
body {
    margin: 0;
}
a {
    background: transparent;
}
a:focus {
    outline: thin dotted;
}
a:hover, a:active {
    outline: 0;
}
h1 {
    font-size: 2em;
    margin: .67em 0;
}
h2 {
    font-size: 1.5em;
    margin: .83em 0;
}
h3 {
    font-size: 1.17em;
    margin: 1em 0;
}
h4 {
    font-size: 1em;
    margin: 1.33em 0;
}
h5 {
    font-size: .83em;
    margin: 1.67em 0;
}
h6 {
    font-size: .75em;
    margin: 2.33em 0;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b, strong {
    font-weight: bold;
}
dfn {
    font-style: italic;
}
mark {
    background: #ff0;
    color: #000;
}
code, kbd, pre, samp {
    font-family: monospace, serif;
    font-size: 1em;
}
pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}
q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}
q:before, q:after {
    content: '';
    content: none;
}
small {
    font-size: 80%;
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -.5em;
}
sub {
    bottom: -.25em;
}
img {
    border: 0;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 0;
}
fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em;
}
legend {
    border: 0;
    padding: 0;
    white-space: normal;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
}
button, input {
    line-height: normal;
}
button, select {
    text-transform: none;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled], input[disabled] {
    cursor: default;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
html {
    background: url("../images_landing/vendredi-13-05-16/bg.jpg") center no-repeat fixed;
    min-height: 100%;
    background-size: cover;
}
.modal-open {
    overflow: hidden;
}
.modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.modal.fade .modal-dialog {
    -webkit-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out ,  -webkit-transform .3s ease-out;
}
.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.modal-dialog {
    position: relative;
    margin: 10px;
    width: 90%!important;
}
.modal-content {
    position: relative;
    background-color: #59cfe8;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 3px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    background-clip: padding-box;
    outline: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border: 6px solid #eab210;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #fff;
}
.modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0);
}
.modal-backdrop.in {
    opacity: .4;
    filter: alpha(opacity=40);
}
.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}
.modal-header:before, .modal-header:after {
    content: " ";
    display: table;
}
.modal-header:after {
    clear: both;
}
.modal-header .close {
    margin-top: -2px;
}
.modal-title {
    margin: 0;
    line-height: 1.42857;
}
.modal-body {
    position: relative;
    padding: 3em .3em;
    display: -webkit-box!important;
    display: -webkit-flex!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -webkit-justify-content: space-around!important;
    -ms-flex-pack: distribute!important;
    justify-content: space-around!important;
    -webkit-box-orient: horizontal!important;
    -webkit-box-direction: normal!important;
    -webkit-flex-direction: row!important;
    -ms-flex-direction: row!important;
    flex-direction: row!important;
    -webkit-box-align: center!important;
    -webkit-align-items: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
    border: 8px dotted #eab210;
}
.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
.modal-footer:before, .modal-footer:after {
    content: " ";
    display: table;
}
.modal-footer:after {
    clear: both;
}
.modal-footer .btn+.btn {
    margin-left: 5px;
    margin-bottom: 0;
}
.modal-footer .btn-group .btn+.btn {
    margin-left: -1px;
}
.modal-footer .btn-block+.btn-block {
    margin-left: 0;
}
.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}
@media (min-width: 768px) {
    .modal-dialog {
    width: 600px;
    margin: 30px auto;
}
.modal-content {
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}
.modal-sm {
    width: 300px;
}
}
@media (min-width: 992px) {
    .modal-lg {
    width: 900px;
}
}
body {
    overflow-x: hidden;
    min-height: 100%;
}
.container {
    width: 960px;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
}
main {
    width: 960px;
    margin: 0 auto;
}
.site--header {
    width: 100%;
    top: 0;
    z-index: 5;
    height: 81px;
    background-color: #3fdaea;
    background-image: -webkit-linear-gradient(to bottom, #44c0da 0%, #87d8eb 100%);
    background-image: linear-gradient(to bottom, #44c0da 0%, #87d8eb 100%);
    border: 1px solid #b8beb9;
    box-shadow: -.3px 5px 6px rgba(55, 43, 1, .5) ,  inset 0 1px 1px #fff;
}
.logo {
    width: 73px;
    height: 73px;
}
@media all and (max-width: 530px){
    .logo {
        width: 50px;
        height: 50px;
    }
}
.title {
    max-width: 88%;
}
.site-name {
    font-family: 'Lobster', cursive;
    color: #2b2b2b;
    margin-left: 15px;
    font-size: 40px;
}
.center-ner {
    width: 100%;
    background-color: #fff;
    height: 60px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    box-shadow: 0 1px 5px 0 #000;
}
.center-ner h3 {
    font-family: "Fjalla One";
    font-size: 26px;
    font-weight: 500;
    text-transform: uppercase;
    color: #454545;
}
.study {
    margin: auto;
    padding: 1rem 0;
    border-radius: 40px;
    max-width: 80%;
    background-color: rgba(255, 255, 255, 0.65);
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 2rem;
}
@media all and (max-width: 430px){
    .study {
        max-width: 100%;
    }
}
.article--title {
    color: #454545;
    font-family: "Fjalla One";
    font-size: 26px;
    font-weight: 500;
    text-align: center;
}
.article--content {
    width: 669px;
    color: #454545;
    font-family: Oxygen;
    font-size: 14px;
    font-weight: 400;
    margin: 15px auto;
}
.article--headline {
    font-size: 32px;
    font-family: "Lobster";
    font-weight: 500;
}
.small {
    font-size: 26px;
}
.article--subtitle {
    font-size: 20px;
    font-family: "Fjalla One";
    font-weight: 300;
}
.article--header {
    margin: 16px auto;
    color: white;
    text-align: center;
}
.main-section {
    margin: 20px 0;
    margin-bottom: 60px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.main-section article {
    margin-left: 28px;
    margin-right: 28px;
}
.card_container {
    margin: 1px auto;
    padding: 3px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    z-index: 1;
    -webkit-perspective: 1000;
    perspective: 1000;
}
td.ng-scope {
    padding: 8px;
}
.card {
    background: #006832 url(../images_landing/vendredi-13-05-16/Saint-Patrick.svg) no-repeat 50% 45%;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 6px;
    border: 2px solid #064524;
    box-shadow: -.558px 7.981px 6px 0 #352b01;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all .25s linear;
    transition: all .25s linear;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.face.back {
    display: block;
    background-color: #edc805;
    border-radius: 6px;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border: 2px solid #064524;
    box-shadow: -.558px 7.981px 6px 0 #352b01;
}
.face--image {
    width: 85%;
    height: 85%;
}
.flip .card {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
table {
    margin: 0 auto;
}
.timer {
    text-shadow: 1px 1px 1px #064524, 2px 2px 1px #064524, 3px 3px 1px #064524, 4px 4px 1px #064524, 5px 5px 1px #064524, 6px 6px 1px #064524, 7px 7px 1px #064524, 8px 8px 1px #064524, 9px 9px 1px #064524, 10px 10px 1px #064524, 11px 11px 1px #064524, 12px 12px 1px #064524, 13px 13px 1px #064524, 14px 14px 1px #064524, 15px 15px 1px #064524, 16px 16px 1px #064524, 17px 17px 1px #064524, 18px 18px 1px #064524, 19px 19px 1px #064524, 20px 20px 1px #064524, 21px 21px 1px #064524, 22px 22px 1px #064524, 23px 23px 1px #064524, 24px 24px 1px #064524, 25px 25px 1px #064524, 26px 26px 1px #064524, 27px 27px 1px #064524, 28px 28px 1px #064524, 29px 29px 1px #064524, 30px 30px 1px #064524, 31px 31px 1px #064524, 32px 32px 1px #064524, 33px 33px 1px #064524, 34px 34px 1px #064524, 35px 35px 1px #064524, 36px 36px 1px #064524;
    overflow: hidden;
    display: block;
    margin: 10px auto;
    position: fixed;
    width: 80px;
    height: 80px;
    line-height: 80px;
    background-color: #006832;
    border-radius: 100%;
    border: 2px solid #064524;
    font-size: 30px;
    text-align: center;
    color: #eec904;
    top: 15px;
    left: 15px;
}
.critical {
    color: #ff5400;
    -webkit-animation: critical 1s infinite ease-in-out;
    animation: critical 1s infinite ease-in-out;
}
.startbtn {
    display: block;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.btn.btn-default.btn-lg {
    overflow: hidden;
    line-height: 2rem;
    width: 200px;
    height: 60px;
    background: #538a34 none repeat scroll 0% 0%;
    color: #f5deb3;
    font-family: Oxygen;
    font-size: 2rem;
    border-radius: 5px;
    border: 1px solid #064524;
    box-shadow: -.558px 7.981px 6px 0 #352b01;
}
.btn-lg:hover {
    text-shadow: 1px 1px 1px #064524, 2px 2px 1px #064524, 3px 3px 1px #064524, 4px 4px 1px #064524, 5px 5px 1px #064524, 6px 6px 1px #064524, 7px 7px 1px #064524, 8px 8px 1px #064524, 9px 9px 1px #064524, 10px 10px 1px #064524, 11px 11px 1px #064524, 12px 12px 1px #064524, 13px 13px 1px #064524, 14px 14px 1px #064524, 15px 15px 1px #064524, 16px 16px 1px #064524, 17px 17px 1px #064524, 18px 18px 1px #064524, 19px 19px 1px #064524, 20px 20px 1px #064524, 21px 21px 1px #064524, 22px 22px 1px #064524, 23px 23px 1px #064524, 24px 24px 1px #064524, 25px 25px 1px #064524, 26px 26px 1px #064524, 27px 27px 1px #064524, 28px 28px 1px #064524, 29px 29px 1px #064524, 30px 30px 1px #064524, 31px 31px 1px #064524, 32px 32px 1px #064524, 33px 33px 1px #064524, 34px 34px 1px #064524, 35px 35px 1px #064524, 36px 36px 1px #064524;
}
.cntr {
    margin: 15px auto;
    position: relative;
}
.points {
    position: absolute;
}
footer {
    bottom: 0;
    width: 100%;
    height: 50px;
    margin-top: 2em;
}
footer .attribute {
    margin: 0 auto;
    color: #fff;
    font-family: "Open Sans";
    font-size: 14px;
}
.reassure {
    height: 53px;
    width: 960px;
    margin: 10px auto;
    background: #fefefe;
    background-image: -webkit-linear-gradient(bottom, #e0dcdc 0%, #f0eeee 19%, #fff 100%);
    background-image: linear-gradient(0deg, #e0dcdc 0%, #f0eeee 19%, #fff 100%);
    box-shadow: 0 1px 5px 0 #000;
}
.reassure ul {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.reassure ul li {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.reassure ul li:nth-of-type(1)::before {
    content: '';
    display: none;
}
.reassure ul li:before {
    content: '';
    border-right: 1px solid #000;
    opacity: .3;
    margin-right: 21px;
    width: 15px;
    height: 30px;
}
.reassure ul li:nth-of-type(1)>.elem>.elem-icon {
    margin-right: 4px!important;
    margin-left: 9px;
}
.reassure ul li:nth-of-type(5)>.elem {
    margin-right: 9px!important;
}
.elem {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 1.3;
}
.elem p {
    font-family: Oxygen;
    font-size: 13px;
    font-weight: 700;
    color: #454545;
}
.elem-icon {
    width: 27px;
    height: auto;
    margin-right: 6px;
}
.astro-form {
    border-radius: 40px;
    background-color: #e9b003;
    background-image: -webkit-linear-gradient(to bottom, #e9b003 0%, #fcd758 55%, #e9b003 100%);
    background-image: linear-gradient(to bottom, #e9b003 0%, #fcd758 55%, #e9b003 100%);
    box-shadow: inset 4px 4px 1px rgba(255, 255, 255, 0.5), inset -4px -4px 2px rgba(0, 0, 0, 0.5), 0px 0px 25px 5px white;
    width: 381px;
    z-index: 48;
    position: relative;
    padding-bottom: 30px;
}
.form--header {
    top: 15px;
    margin-bottom: 20px;
}
hr {
    margin: 1px auto!important;
    background-color: #efebe1;
    width: 312px;
}
.form--title {
    margin: 1rem;
    border-bottom: 1px solid #eed78f;
    font-size: 20px;
    font-family: "Fjalla One";
    color: #fffefe;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
}
.form--title img {
    border: 0;
    display: block;
    margin: auto;
}
.form--subtitle {
    font-size: 19px;
    font-family: "Fjalla One";
    color: #078c19;
    line-height: 1.305;
    text-align: center;
    font-weight: 500;
}
.form--btn {
    font-size: 20px;
    font-family: "Oxygen";
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    text-shadow: .5px .866px 0 white;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    background-color: #038733;
    background-image: -webkit-linear-gradient(to bottom, #038733 0%, #81be49 100%);
    background-image: linear-gradient(to bottom, #038733 0%, #81be49 100%);
    box-shadow: -.349px 4.988px 6px 0 #352b01;
    width: 263px;
    height: 50px;
    border-radius: 50px;
    position: absolute;
    bottom: -25px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.form--btn:hover {
    background-color: #81be49;
    background-image: -webkit-linear-gradient(to bottom, #81be49 0%, #038733 50%, #81be49 100%);
    background-image: linear-gradient(to bottom, #81be49 0%, #038733 50%, #81be49 100%);
}
.container-90 {
    margin: 0 auto;
    height: 100%;
    width: 90%;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.form-content {
    margin: 0!important;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transform: translateY(-8%);
    transform: translateY(-8%);
}
.Genre {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.Genre>label>img {
    margin-right: 10px;
    height: 17px;
    width: 17px;
}
.Date {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
#jour {
    width: 56px;
    background-color: #fff;
    background-image: -webkit-linear-gradient(bottom, #f2f2f2 0%, #fff 50%, #fff 100%);
    background-image: linear-gradient(to top, #f2f2f2 0%, #fff 50%, #fff 100%);
    border: 1px solid #e6e6e6;
}
#mois {
    width: 111px;
    background-color: #fff;
    background-image: -webkit-linear-gradient(bottom, #f2f2f2 0%, #fff 50%, #fff 100%);
    background-image: linear-gradient(to top, #f2f2f2 0%, #fff 50%, #fff 100%);
    border: 1px solid #e6e6e6;
}
#year {
    width: 80px;
    background-color: #fff;
    background-image: -webkit-linear-gradient(bottom, #f2f2f2 0%, #fff 50%, #fff 100%);
    background-image: linear-gradient(to top, #f2f2f2 0%, #fff 50%, #fff 100%);
    border: 1px solid #e6e6e6;
}
#prenom, #son_prenom {
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .6) ,  inset 0 1px 3px rgba(0, 0, 0, .3);
    margin-top: 10px;
}
.sonprenom {
    width: 100%;
}
input {
    box-sizing: border-box;
    padding: 5px 12px;
    color: #454545;
}
::-webkit-input-placeholder {
    color: #454545;
}
::-moz-placeholder {
    color: #454545;
}
:-moz-placeholder {
    color: #454545;
}
:-ms-placeholder {
    color: #454545;
}
select {
    box-sizing: border-box;
    padding: 4px 8px;
    color: #454545;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .6) ,  inset 0 1px 3px rgba(0, 0, 0, .3);
    margin-top: 10px;
}
#pays {
    width: 203px;
    margin: 0!important;
}
#email {
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .6) ,  inset 0 1px 3px rgba(0, 0, 0, .3);
    margin-top: 10px;
}
label {
    color: #454545;
    font-family: Oxygen;
    font-size: 14px;
    font-weight: 600;
    font-style: italic;
}
.gender-l {
    text-transform: uppercase;
    font-style: unset;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 5px 25px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.gender-l input {
    margin: auto 10px!important;
}
.pays {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}
.modal-gif {
    width: 536px;
    height: 400px;
}
@media (max-width: 960px) {
    .container {
        width: 90%!important;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    main {
        width: 100vw!important;
        padding: 0 2rem;
        box-sizing: border-box;
    }
.main-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.reassure {
    width: 100%;
    height: auto;
}
.site-name {
    font-size: 2em;
}
.article--headline {
    font-size: 1.6rem;
}
.article--subtitle {
    font-size: 1.15rem;
}
td.ng-scope {
    padding: .1px;
}
.card_container {
    width: 75px;
    height: 75px;
    line-height: 100px;
    z-index: 1;
    padding: 3px;
}
.card {
    background-size: 90%;
}
.small {
    font-size: 1.3rem;
}
.astro-form {
    width: 100%;
    height: unset;
}
.container-90 {
    width: 95%;
}
.form-content>* {
    height: 40px!important;
}
#jour, #mois, #year {
    height: 40px;
}
#prenom, #prenom+select, #son_prenom, #email {
    width: 96%;
}
.two {
    margin-top: 3.2333em;
}
.center-ner h3 {
    font-size: .95rem;
    text-align: center;
}
.study>.article--title {
    font-size: 1.3rem;
}
.article--content {
    width: 90%;
    font-size: 1rem;
}
li::before {
    display: none;
}
.reassure ul li:nth-of-type(1)>.elem>.elem-icon {
    margin: 0!important;
}
.reassure ul {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.elem {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 1.3;
    width: 100%;
}
.reassure ul li {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}
.elem p {
    font-family: Oxygen;
    font-size: 13px;
    font-weight: 700;
    color: #454545;
    width: 80%;
}
.modal-dialog {
    width: 100vw!important;
    margin: 0;
}
.modal-content {
    height: auto;
}
.modal-body {
    -webkit-box-orient: vertical!important;
    -webkit-box-direction: normal!important;
    -webkit-flex-direction: column!important;
    -ms-flex-direction: column!important;
    flex-direction: column!important;
    padding: 0;
}
.modal-gif {
    width: 100%;
    height: auto;
}
.startbtn {
    display: block;
    text-align: center;
    left: 100%;
    -webkit-transform: translate(0%, 29%);
    transform: translate(0%, 29%);
    position: initial!important;
}
}
@-webkit-keyframes critical {
    0% {
    color: #eec904;
    -webkit-transform: scale(1);
    transform: scale(1);
}
50% {
    color: #FF5400;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
}
@keyframes critical {
    0% {
    color: #eec904;
    -webkit-transform: scale(1);
    transform: scale(1);
}
50% {
    color: #FF5400;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
}

.dri-article {
    display: flex;
    flex-direction: column}
.dri-article>h2 {
    font-family: Lobster;
    font-size: 40px;
    color: #fff;
    font-weight: 400;
    text-align: center;
    line-height: 1;
    margin: 0;
    text-shadow: 0 0 5px #454545;
}
.headline-3 {
    font-family: "Fjalla One";
    font-size: 20px;
    color: #232527;
    font-weight: 300;
    text-align: center;
    margin: 36px 0;
    text-shadow: 0 0 5px white;
}
.label-h {
    font-family: Lobster;
    font-size: 28px;
    color: #fff;
    font-weight: 300;
    margin: 15px 0!important;
    clear: both;
    font-style: normal;
    text-shadow: 0px 0px 4px #066625, 0px 0px 4px #066625, 0px 0px 4px #066625, 0px 0px 4px #066625, 0px 0px 4px #066625, 0px 0px 4px #066625, 0px 0px 4px #066625, 0px 0px 4px #066625, 0px 0px 4px #066625, 0px 0px 4px #066625, 0px 0px 4px #066625, 0px 0px 4px #066625, 0px 0px 4px #066625, 0px 0px 4px #066625, 0px 0px 4px #066625, 0px 0px 4px #066625, 0px 0px 4px #066625, 0px 0px 4px #066625, 0px 0px 4px #066625, 0px 0px 4px #066625, 0px 0px 4px #066625, 0px 0px 4px #066625, 0px 0px 4px #066625, 0px 0px 4px #066625, 0px 0px 4px #066625, 0px 0px 4px #066625, 0px 0px 4px #066625, 0px 0px 4px #066625, 0px 0px 4px #066625, 0px 0px 4px #066625, 0px 0px 4px #066625, 0px 0px 4px #066625, 0px 0px 4px #066625, 0px 0px 4px #066625, 0px 0px 4px #066625, 0px 0px 4px #066625, 0px 0px 4px #066625, 0px 0px 4px #066625, 0px 0px 4px #066625, 0px 0px 4px #066625, 0px 0px 4px #066625, 0px 0px 4px #066625, 0px 0px 4px #066625, 0px 0px 4px #066625, 0px 0px 4px #066625, 0px 0px 4px #066625, 0px 0px 4px #066625, 0px 0px 4px #066625, 0px 0px 4px #066625, 0px 0px 4px #066625, 0px 0px 4px #066625, 0px 0px 4px #066625, 0px 0px 4px #066625, 0px 0px 4px #066625, 0px 0px 4px #066625, 0px 0px 4px #066625, 0px 0px 4px #066625, 0px 0px 4px #066625, 0px 0px 4px #066625, 0px 0px 4px #066625, 0px 0px 4px #066625, 0px 0px 4px #066625, 0px 0px 4px #066625, 0px 0px 4px #066625, 0px 0px 4px #066625, 0px 0px 4px #066625, 0px 0px 4px #066625, 0px 0px 4px #066625, 0px 0px 4px #066625;
}
.dri-article .form--btn {
    position: relative;
    bottom: initial;
    width: 100%;
    height: auto;
    padding: 0.8rem 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    border-radius: 2rem;
    background-color: #ef0bf7;
    border: 3px solid white;
    background-image: -webkit-linear-gradient(right, #e6a513, #eec904 55%, #dfb316);
    background-image: -moz-linear-gradient(right, #e6a513, #eec904 55%, #dfb316);
    background-image: -o-linear-gradient(right, #e6a513, #eec904 55%, #dfb316);
    background-image: -ms-linear-gradient(right, #e6a513, #eec904 55%, #dfb316);
    background-image: linear-gradient(to right, #e6a513 0%, #eec904 55%, #dfb316 100%);
    line-height: initial;
    font-family: Oxygen;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    text-shadow: 0px 0px 3px #066625, 0px 0px 3px #066625, 0px 0px 3px #066625, 0px 0px 3px #066625, 0px 0px 3px #066625, 0px 0px 3px #066625, 0px 0px 3px #066625, 0px 0px 3px #066625, 0px 0px 3px #066625, 0px 0px 3px #066625, 0px 0px 3px #066625, 0px 0px 3px #066625, 0px 0px 3px #066625, 0px 0px 3px #066625, 0px 0px 3px #066625, 0px 0px 3px #066625, 0px 0px 3px #066625, 0px 0px 3px #066625, 0px 0px 3px #066625, 0px 0px 3px #066625, 0px 0px 3px #066625, 0px 0px 3px #066625, 0px 0px 3px #066625, 0px 0px 3px #066625, 0px 0px 3px #066625, 0px 0px 3px #066625, 0px 0px 3px #066625, 0px 0px 3px #066625, 0px 0px 3px #066625, 0px 0px 3px #066625, 0px 0px 3px #066625, 0px 0px 3px #066625, 0px 0px 3px #066625, 0px 0px 3px #066625, 0px 0px 3px #066625, 0px 0px 3px #066625, 0px 0px 3px #066625, 0px 0px 3px #066625, 0px 0px 3px #066625, 0px 0px 3px #066625, 0px 0px 3px #066625, 0px 0px 3px #066625, 0px 0px 3px #066625, 0px 0px 3px #066625, 0px 0px 3px #066625, 0px 0px 3px #066625, 0px 0px 3px #066625, 0px 0px 3px #066625, 0px 0px 3px #066625, 0px 0px 3px #066625, 0px 0px 3px #066625, 0px 0px 3px #066625, 0px 0px 3px #066625, 0px 0px 3px #066625, 0px 0px 3px #066625, 0px 0px 3px #066625, 0px 0px 3px #066625, 0px 0px 3px #066625, 0px 0px 3px #066625, 0px 0px 3px #066625, 0px 0px 3px #066625, 0px 0px 3px #066625, 0px 0px 3px #066625, 0px 0px 3px #066625, 0px 0px 3px #066625, 0px 0px 3px #066625, 0px 0px 3px #066625, 0px 0px 3px #066625, 0px 0px 3px #066625;
}
input#tel, textarea#message {
    background-color: #fff;
    border: 1px solid #b0b1b1;
    padding: 0 10px}
textarea#message {
    box-sizing: border-box;
    width: 100%;
    height: 91px;
    padding: 10px 12px;
    -webkit-box-shadow: 0 1px rgba(255, 255, 255, .6), inset 0 1px 3px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 1px rgba(255, 255, 255, .6), inset 0 1px 3px rgba(0, 0, 0, .3);
    box-shadow: 0 1px rgba(255, 255, 255, .6), inset 0 1px 3px rgba(0, 0, 0, .3)}
input#tel {
    width: 100%;
    height: 30px;
    -webkit-box-shadow: 0 1px rgba(255, 255, 255, .6), inset 0 1px 3px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 1px rgba(255, 255, 255, .6), inset 0 1px 3px rgba(0, 0, 0, .3);
    box-shadow: 0 1px rgba(255, 255, 255, .6), inset 0 1px 3px rgba(0, 0, 0, .3);
    align-self: center!important;
    margin: 10px auto;
    display: flex}
form.dri {
    align-self: center;
    width: 790px;
    margin-top: 4em}
img[alt=Voyante] {
    position: absolute;
    right: 10px;
    top: 30%;
    z-index: -9;
    transform: translateY(-100%);
}
.group {
    position: relative;
    margin: 30px 0;
     display: block;
}

@keyframes bounceInDown {
    0% {
    opacity: 0;
    transform: translateY(-2000px)}
60% {
    opacity: 1;
    transform: translateY(30px)}
80% {
    transform: translateY(-10px)}
100% {
    transform: translateY(0)}
}
.animated {
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: bounceInDown}

@media (max-width: 960px) {
    .headline-3 {
        font-size: 1.2rem;
        width: 100%;
        white-space: normal;
    }

    .dri-article>h2 {
        font-size: 2rem;
    }

    form.dri {
        width: 100%;
        margin-top: 2em;
    }

    img[alt="Voyante"] {
        display: none;
        visibility: hidden;
    }

    .label-h {
        font-size: 1.5rem;
        width: 100%;
        white-space: normal;
        display: block;
    }

    #message {
        width: 100%;
        height: 100px;
    }

    #tel {
        width: 100% !important;
        height: 30px;
        align-self: center!important;
        margin: 10px auto;
        display: flex;
    }

    .form--btn {
        position: relative;
        bottom: initial;
        width: 90%;
        height: 56px;
        font-family: Oxygen;
        font-size: 0.89rem;
        font-weight: 700;
        text-transform: uppercase;
        color: #000;
        text-shadow: 1px 1px rgba(0,  0,  0,  .3);
        line-height: 1;
    }

    html {
        background-size: cover !important;
    }
}
#tictactoe u {
    text-decoration: underline;
}
#tictactoe {
    background-color: transparent;
    color: inherit;
}
.tictactoe-wrapper {
    position: static;
    height: auto;
}
.tictactoe-dialogs .cover {
    top: 83px;
    background-color: white;
    opacity: 0.4;
}
.tictactoe-dialogs .pick {
    background-color: rgba(0, 0, 0, 0.8);
    width: 80%;
    max-width: 960px;
    margin: auto;
    padding: 4rem 1rem;
}
.tictactoe-dialogs .pick .msg {
    color: white;
    font-size: 30px;
    margin-bottom: 3rem;
}
.tictactoe-dialogs .pick button {
    background-color: #3fdaea;
    color: white;
}
.tictactoe-dialogs .pick button.x:before {
    background-color: white;
}
.tictactoe-dialogs .pick button.x:after {
    background-color: white;
}
.tictactoe-dialogs .pick button.o:after {
    border-color: white;
}

.tictactoe-dialogs .end {
    width: 100%;
    max-width: 960px;
    margin: auto;
    padding: 1rem;
}

.tictactoe-container {
    position: static;
    transform: none;
}
.tictactoe-game {
    float: none;
    margin: auto;
    width: 21rem;
    height: 21rem;
    border-radius: 40px;
    background-color: #3fdaea;
    box-shadow: 0px 0px 25px 5px white;
}
.tictactoe-game:last-child {
    margin-right: auto;
}
.tictactoe-game .row .col {
    width: 7rem;
    height: 7rem;
    font-size: 5rem;
    color: white;
    border-color: white;
    border-width: 0.1rem;
}

@media all and (max-width: 520px){
    .tictactoe-game {
        width: auto;
        height: auto;
    }
    .tictactoe-game .row .col {
        height: 6.25rem;
        width: 6.25rem;
    }
}

.tictactoe-game .row .col u.x:before {
    width: 0.8rem;
    background-color: white;
}
.tictactoe-game .row .col u.x:after {
    width: 0.8rem;
    background-color: white;
}
.tictactoe-game .row .col u.o:after {
    border-color: white;
    border-width: 0.8rem;
}

.tictactoe-game .row.top .col:first-child {
    border-top-left-radius: 40px;
}
.tictactoe-game .row.top .col:last-child {
    border-top-right-radius: 40px;
}
.tictactoe-game .row.bottom .col:first-child {
    border-bottom-left-radius: 40px;
}
.tictactoe-game .row.bottom .col:last-child {
    border-bottom-right-radius: 40px;
}