@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);@import url(../framework/bootstrap/css/bootstrap.min.css) screen;@import url(../framework/bootstrap/css/bootstrap-responsive.min.css);@import url(../framework/fontawesome/css/font-awesome.min.css);.ch0 img{margin:20px;width:100px;-moz-border-radius:100px;border-radius:180px;border:5px solid #3266aa;background:url(../images/shine-70.png) right top no-repeat rgba(0,0,0,.15);background-size:100%;-ms-filter:"progid: DXImageTransform.Microsoft.Alpha(Opacity=70)";opacity:.7;filter:alpha(opacity=100);-moz-opacity:.7;-khtml-opacity:.7}.ch0r img{margin:20px;width:100px;-moz-border-radius:100px;border-radius:180px;border:5px solid #fd00a0;background:url(../images/shine-70.png) right top no-repeat rgba(0,0,0,.15);background-size:100%;-ms-filter:"progid: DXImageTransform.Microsoft.Alpha(Opacity=70)";opacity:.7;filter:alpha(opacity=100);-moz-opacity:.7;-khtml-opacity:.7}.ch0 img:hover,.ch0r img:hover{background:url(../images/shine-70.png) right top no-repeat rgba(0,0,0,.15);background-size:100%;-ms-filter:"progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";opacity:1;filter:alpha(opacity=100);-moz-opacity:1;-khtml-opacity:1}.button{cursor:pointer;width:200px;padding:13px 26px;-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;-webkit-box-shadow:rgba(0,0,0,1) 0 1px 0;-moz-box-shadow:rgba(0,0,0,1) 0 1px 0;box-shadow:rgba(0,0,0,1) 0 1px 0;border-top-color:#25ADC6;background:#25ADC6;color:#FFF;text-decoration:none;font-size:17px;font-family:Georgia,Serif;vertical-align:middle}.button:active{border-top-color:#1b435e;background:#1b435e;text-decoration:none}#carte{float:left;width:271px}#validation{width:271px;text-align:center;float:right;font-size:11px}#carta0,#carta1,#carta2,#carta3,#carta4{height:90px;width:44px;display:block;float:left;background-image:url(../img/cartas/backCard.jpg);background-repeat:no-repeat;background-position:center center;margin:10px 5px 0}.arrow_box{position:relative;background:#FF00A1;border:4px solid #246BAC}.arrow_box:after,.arrow_box:before{top:100%;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none}.arrow_box:after{border-color:#FF00A1 transparent transparent;border-width:30px;left:50%;margin-left:-30px}.arrow_box:before{border-color:#246BAC transparent transparent;border-width:36px;left:50%;margin-left:-36px}.mogo{color:#ddf8c6;text-align:center;font-size:15px;line-height:54px;font-weight:700;text-transform:uppercase;text-shadow:0 1px 2px rgba(0,0,0,.4)}.voyance-tarot .row-fluid{padding:20px}.voyance-tarot .row-fluid .cat-widget-title{width:70%;text-align:center;margin:0 auto}.voyance-tarot .tarot-content{width:100%}.voyance-tarot .tarot-left{width:50%;float:left}.voyance-tarot .tarot-right{width:50%;float:right};.voyance-tarot .tarot-right>form>table{width:100%}.voyance-tarot .tarot-right td{padding:0 12px}.voyance-tarot .horopart{font-size:12px}.voyance-tarot .horopart input[type=checkbox]{height:10px}.voyance-tarot .tarot-right .btn{text-align:center;margin:0 auto;width:70%;display:block}.voyance-tarot .paquet{width:100%;float:left}.voyance-tarot .paquet img{position:absolute;width:100px;height:145px;cursor:pointer}.voyance-tarot .paquet img.tarot-1{left:0;top:0;transform:rotate(30deg);-ms-transform:rotate(30deg);-webkit-transform:rotate(30deg)}.voyance-tarot .paquet img.tarot-2{left:30px;top:2px;transform:rotate(25deg);-ms-transform:rotate(25deg);-webkit-transform:rotate(25deg)}.voyance-tarot .paquet img.tarot-3{left:60px;top:4px;transform:rotate(20deg);-ms-transform:rotate(20deg);-webkit-transform:rotate(20deg)}.voyance-tarot .paquet img.tarot-4{left:90px;top:6px;transform:rotate(15deg);-ms-transform:rotate(15deg);-webkit-transform:rotate(15deg)}.voyance-tarot .paquet img.tarot-5{left:120px;top:8px;transform:rotate(10deg);-ms-transform:rotate(10deg);-webkit-transform:rotate(10deg)}.voyance-tarot .paquet img.tarot-6{left:150px;top:10px;transform:rotate(5deg);-ms-transform:rotate(5deg);-webkit-transform:rotate(5deg)}.voyance-tarot .paquet img.tarot-7{left:180px;top:12px}.voyance-tarot .paquet img.tarot-8{left:210px;top:10px;transform:rotate(355deg);-ms-transform:rotate(355deg);-webkit-transform:rotate(355deg)}.voyance-tarot .paquet img.tarot-9{left:230px;top:8px;transform:rotate(350deg);-ms-transform:rotate(350deg);-webkit-transform:rotate(350deg)}.voyance-tarot .paquet img.tarot-10{left:250px;top:6px;transform:rotate(345deg);-ms-transform:rotate(345deg);-webkit-transform:rotate(345deg)}.voyance-tarot .paquet img.tarot-11{left:280px;top:4px;transform:rotate(335deg);-ms-transform:rotate(335deg);-webkit-transform:rotate(335deg)}.voyance-tarot .paquet img.tarot-12{left:310px;top:0;transform:rotate(325deg);-ms-transform:rotate(325deg);-webkit-transform:rotate(325deg)}.voyance-tarot .donne{clear:both}.voyance-tarot .donne h5{text-align:center;font-size:1.3em}.voyance-tarot .clearfix{clear:both}.voyance-tarot .pickHolder{float:left;margin-left:5px;width:100px;height:145px;background:#dbdbdb}.voyance-tarot .relative{position:relative;width:80%;height:225px;margin-left:100px;margin-top:15px}.voyance-tarot .tarot-right .civilite label{float:left;margin:0 10px}.voyance-tarot .ninesixty{width:1100px;margin:0 auto}.voyance-tarot .ninesixty .cat-widget-title{background:#FFF;border-radius:8px;box-shadow:0 0 10px 5px rgba(0,0,0,.2);padding:4px}.voyance-tarot .ninesixty .row-fluid .social-share-footer{background:#FFF;padding:0;box-shadow:0 0 10px -5px rgba(0,0,0,.2);text-align:center;-webkit-border-top-left-radius:8px;-webkit-border-top-right-radius:8px;-moz-border-radius-topleft:8px;-moz-border-radius-topright:8px;border-top-left-radius:8px;border-top-right-radius:8px}.voyance-tarot .ninesixty .tarot-content{background:#FFF;box-shadow:0 0 10px -5px rgba(0,0,0,.2);padding:0 0 10px;-webkit-border-bottom-right-radius:8px;-webkit-border-bottom-left-radius:8px;-moz-border-radius-bottomright:8px;-moz-border-radius-bottomleft:8px;border-bottom-right-radius:8px;border-bottom-left-radius:8px}.voyance-tarot .share-icons .indic{color:#000;padding:5px;font-weight:700;background:#ed5ae8;background:-moz-linear-gradient(top,#ed5ae8 0,#d13bd6 45%,#f407f0 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ed5ae8),color-stop(45%,#d13bd6),color-stop(100%,#f407f0));background:-webkit-linear-gradient(top,#ed5ae8 0,#d13bd6 45%,#f407f0 100%);background:-o-linear-gradient(top,#ed5ae8 0,#d13bd6 45%,#f407f0 100%);background:-ms-linear-gradient(top,#ed5ae8 0,#d13bd6 45%,#f407f0 100%);background:linear-gradient(to bottom,#ed5ae8 0,#d13bd6 45%,#f407f0 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed5ae8', endColorstr='#f407f0', GradientType=0)}.voyance-tarot input[type=submit]{font-size:22px;margin-top:5px}

.container-fluid{
  padding-left: auto;
}
.voyance-tarot .row-fluid{
  padding: 0px;
}

.voyance-tarot .prec{
	font-size: 11px;
}

.voyance-tarot .ninesixty .tarot-content{
	background: none;
	box-shadow: none;
}
.voyance-tarot .ninesixty{
	width: 100%;
}
.voyance-tarot .paquet{
  float:none;
}
.voyance-tarot .tarot-right{

}
.widget-t{
	margin-right: auto;
	margin-left: auto;
}

.tarot-left .vy-title {
	margin-bottom: 30px;
}
.voyance-tarot .pickHolder {
	background: #fff;
	border: 1px solid #e42683;
	border-radius: 6px;
	width: 89px;
	height: 143px;
}
.voyance-tarot .donne{
  width:100%;
  margin-left: 90px;
}

.voyance-tarot .relative{
	 margin-left: 135px;
}

.voyance-tarot .paquet img.tarot-1{
	top: -11px;
}
.voyance-tarot .paquet img.tarot-2{
	top: 3px;
}
.voyance-tarot .paquet img.tarot-3{
	top: 13px;
}
.voyance-tarot .paquet img.tarot-4{
	top: 20px;
}
.voyance-tarot .paquet img.tarot-5{
	top: 24px;
}
.voyance-tarot .paquet img.tarot-6{
	top: 26px;
}
.voyance-tarot .paquet img.tarot-7{
	top: 26px;
}
.voyance-tarot .paquet img.tarot-8{
	top: 24px;
}
.voyance-tarot .paquet img.tarot-9{
	top: 20px;
}
.voyance-tarot .paquet img.tarot-10{
	top: 13px;
}
.voyance-tarot .paquet img.tarot-11{
	top: 3px;
}
.voyance-tarot .paquet img.tarot-12{
	top:-11px;
}

a{
	color: #e42683;
}
/* formulaire widget */


.widget-t .form-part{
    background-color: #e42683;
    border-radius: 5px;
    padding: 10px;
}

.widget-t .cnt-right{
    width:229px;
}

.widget-t #form-w-t .btn_button{

    background-color: #1871b9;
    border: 0 none;
    border-radius: 7px;
    color: #fff;
    cursor: pointer;
    font-size: 19px;
    height: 45px;
    text-transform: uppercase;
    width: 348px;
    margin-top: 6px;
    font-weight: bold

}
.widget-t #form-w-t label{
    font-weight: bold;
    color:#fff;
    font-size: 13px;
}

.widget-t #form-w-t{
    margin-top: 18px;
    width:370px;
    margin-left: auto;
    margin-right: auto;
}

.widget-t select, .widget-t input[type="text"],.widget-t input[type="email"],.widget-t input[type="tel"], .widget-t textarea{
    font-size: 14px;
    height:35px;
    background:#f9d2e7;
    color:#e42683;
    border-radius: 5px;
    border:none;
    position:relative;
    z-index: 100;
}
.widget-t select{
  padding-left: 5px;
}
input, button, select,textarea{
   font-family:Arial,"Open Sans",OpenSansSemibold,sans-serif;
}
.widget-t .daten{
  width:113px;

}
.widget-t  .vt2{
margin-top: 5px;

}
.widget-t .inp-txt input, .widget-t .inp-txt textarea{
  width:333px;
  height: 25px;
  text-align: center;
}
.widget-t .inp-txt textarea{
  height:65px;
  width:336px;
}
.widget-t .dn-part label{
  text-align: center;
}

.widget-t .label-left{
  margin-left: 16px;
  width: 99px;
  float: left;
}
.widget-t .cnt-right{

}
/* class h4 */
.widget-t-title .h4{
    font-family:"Open Sans",OpenSansSemibold,Arial,sans-serif;
    font-weight: 600; 
    color:#292929;
    font-size: 17px !important;
    line-height: 27px; 
    text-transform: uppercase; 
}
.widget-t-title .h4:after {
  content:"";
  display:block;
  position:relative;
  height:4px;
  left:50%;
  margin-left: -30px;
  margin-top: 10px;
  width:60px;
  top:-3px;
  z-index: 2;
  background:linear-gradient(to bottom, rgba(251, 131, 250, 0.5) 0%, rgba(228, 38, 131, 1) 100%) repeat scroll 0 0 #e93cec;
  background-image:-moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 12px 12px;
}

.widget-t .widget-t-title{
    text-align: center;
}
/* end class h4 */

.widget-t #form-w-t .btn-full-one{
    background:#1871b9;
}
.widget-t .form-part-one{
    background:#eb2692;
    float:right; 
}

.widget-t .vy-title{
    background:#e42683;
    height: 44px;
    margin-left: auto;
    margin-right: auto;
    /*padding: 11px;*/
    text-align: center;
    text-transform: uppercase;
    width: 370px;
}

.widget-t .widget-title{
  background:none;
}

.tarot-left .vy-title h2, #two-columns h2{
  font-size: 14px;
  color:#fff;
  font-weight: bold;
  background-color: none;
}

.tarot-left .first-title{
	width: 230px;
  margin-left: 223px;
}
.tarot-left .second-title{
	width: 180px;
   margin-left: 238px;
}

.widget-t .text-justify{
  margin-left: auto;
  margin-right: auto;
  font-size: 13px;
  width:95%;
  margin-top: 40px;
}

.widget-t .text-justify h2{
  line-height: 30px;
  margin-bottom: 10px;
}

.voyance-tarot .ninesixty .cat-widget-title{
  box-shadow: none;
}

/*==========================*/
.container{
  margin-right: auto;
}

#wrapper{
  background:none;
  box-shadow: none;
}