/* 
    ----------------------------------------
    --     structure landing voyance 2    --
    ----------------------------------------

    Created on : 20 avril 2016
    Author     : Laurène Dourdin <2aurene@gmail.com>
*/
@import "knacss444/knacss";

body {
    font-size: 1.3rem;
}

.PageWrapper {
    display: table;
    width: 100%;
    max-width: 1080px;
    margin: auto;
    padding: 0 2rem;
    position: relative;
}


.SiteLogo {
    display: inline-block;
    height: 100px;
    width: 100px;
    background: grey;
}

.ContentBand {
    margin-top: 5.5rem;
    margin-bottom: 4rem;
    
    &-Column {
        display: table-cell;
        vertical-align: bottom;
        width: 50%;
    }
}

.DescText-Title {
    height: 150px;
    margin-top: 0;
    background-color: silver;
    &-Legend {
        margin-top: 0;
        padding: 1.2rem 1.8rem;
        background-color: grey;
    }
}

.DescText-Content {
    background: silver;
    padding: 1.2rem 1.8rem;
}

.alert {
    display: block;
    padding: 0.8rem 1.2rem;
    margin: 0;
    margin-bottom: 2rem;
    border: 1px solid;
}

.fa img {
    display: none;
}

.Column-Form {
    text-align: right;
}

.FormContainer {
    position: relative;
    display: inline-block;
    max-width: 500px;
    width: 100%;
    padding: 3rem;
    padding-top: 1.5rem;
    margin: auto;
    text-align: left;
    background-color: grey;
    
    &.overlay {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.85);
        border: none;
        height: 100%;
        z-index: 2;
    }
    
    &-Header {
        margin: 0;
        margin-bottom: 1.5rem;
        text-align: center;
        font-family: inherit;
        font-size: 2.8rem;
        font-weight: inherit;
    }
    
    &-Slogan {
        font-size: 1.8rem;
        text-align: center;
    }
    
    &-Fields {
        padding: 0 2rem;
    }
    
    &-Submit {
        display: block;
        min-width: 60%;
        margin: auto;
        margin-top: 3rem;
        padding: 1rem 2rem;
        font-family: inherit;
        font-size: 2.2rem;
        font-weight: bold;
        white-space: nowrap;
    }
    
    &.DRI {
        background-color: transparent;
        text-align: center;
        
        .DRI {
            &-Intro {
                padding: 2rem;
                background-color: lightgrey;
                * {
                    margin: 0;
                    font-family: inherit;
                    font-weight: normal;
                }
                &-Title {
                    margin-bottom: 1rem;
                    padding-bottom: 0.5rem;
                    border-bottom: 3px dotted;
                    font-size: 2.2rem;
                }
                &-Text {
                    font-size: 2rem;
                    color: grey;
                }
            }
            &-Slogan {
                padding: 1rem 2rem;
                margin: 0;
                background-color: grey;
                color: white;
                font-size: 2.2rem;
                font-family: inherit;
                font-weight: normal;
            }
            &-Form {
                padding: 2rem;
                background-color: silver;
            }
            &-Sent {
                padding: 2rem;
                font-family: inherit;
                font-size: 2rem;
            }
        }
    }
}

.FormField {
    display: block;
    position: relative;
    margin-bottom: 2rem;
    
    &-Label {
        display: block;
        margin-bottom: 0.2rem;
        font-family: inherit;
        font-size: 1.6rem;
    }
    
    &-Input {
        display: block;
        width: 100%;
        padding: 0.8rem 1.2rem;
        border: 1px solid;
        &.radio {
            display: inline-block;
        }
    }
    
    &-TableInputContainer {
        display: table;
        width: 100%;
        margin: auto;
        
        &-Cell {
            display: table-cell;
            padding-right: 1rem;
            text-align: center;
            white-space: nowrap;
            
            &:last-child {
                padding-right: 0;
            }
        }
        
        &.fixed-2-col &-Cell {
            width: 33.333%;
        }
        &.fixed-3-col &-Cell {
            width: 33.333%;
        }
        
        &.gender {
            max-width: 300px;
        }    
        &.relationship-status {
            max-width: 400px;
        }
    }
    
    &.radio &-Label, &.radio &-Input {
        display: inline-block;
        width: auto;
        margin-top: 0;
        vertical-align: middle;
        margin: 0 0.2rem;
    }
    
    &-Info {
        display: block;
        position: absolute;
        margin-top: -3.7rem;
        padding: 0.8rem 1.4rem;
        background-color: white;
        border: 1px solid;
        transition: all 0.25s;
        opacity: 0;
        z-index: -1;
    }
    
    &-Input:focus + &-Info {
        margin-top: -8rem;
        opacity: 1;
        z-index: 1;
    }
}

.How {
    padding: 0 3rem;
}

.How-Wizard {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0 1rem;
    height: 8rem;
    box-sizing: content-box;
    border: 1px solid;
    background-color: white;
    
    &Item {
        display: inline-block;
        height: 8rem;
        position: relative;
        box-sizing: border-box;
        border: 4rem solid transparent;
        border-left-color: inherit;
        border-right: 0;
        
        &:before {
            content: "";
            display: inline-block;
            position: absolute;
            top: -4rem;
            left: -4.1rem;
            border: 4rem solid transparent;
            border-left-color: white;
            border-right: 0;
        }
        
        &:first-child {
            border: none;
            &:before {
                display: none;
            }
        }
        
        > * {
            display: inline-block;
            position: relative;
            top: -4rem;
        }
        
        &-Img {
            width: 5rem;
            height: 5rem;
            margin: 1.5rem;
            margin-right: 0;
            float: left;
            background-color: grey;
        }
        
        &-Txt {
            line-height: 2rem;
            margin: 2rem 1rem;
            height: 4rem;
        }
    }
}

.ReassuranceList {
    list-style-type: none;
    display: table;
    width: 100%;
    padding: 1.5rem 0;
    text-align: center;
    background-color: grey;
    
    &-Item {
        display: table-cell;
        border-right: 1px solid;
        padding: 0 2rem;
        text-align: left;
        
        &-Img {
            display: inline-block;
            width: 3rem;
            height: 3rem;
            margin: 0 1rem;
            background-color: white;
        }
        
        &-Txt {
            display: inline-block;
        }
        
        &:last-child {
            border-right: 0;
        }
        
        strong {
            font-weight: bold;
        }
    }
}

.SiteCopyright {
    text-align: center;
}

/* Autres règles responsives */
@media screen and (min-width: 900px) and (max-width: 1200px){
    .How-Wizard {
        height: auto;
        width: 100%;
        &Item {
            display: block;
            border: none;
            > * {
                position: static;
            }
            &::before {
                display: none;
            }
        }
    }
}
@media screen and (max-width: 695px){
    .How-Wizard {
        height: auto;
        &Item {
            display: block;
            border: none;
            > * {
                position: static;
            }
            &::before {
                display: none;
            }
        }
    }
}
@media screen and (max-width: 1200px){
    .ReassuranceList-Item {
        padding: 0 1rem;
        &-Img {
            margin: 0 1rem;
        }
    }
}
@media screen and (max-width: 970px){
    .WidgetBand {
        padding-top: 1.5rem;
    }
    .ContentBand-Column.WidgetBand-DescText { 
        width: 100%;
        padding-right: 0;
        
        .ContentBand-ColumnHeader {
            display: table-cell;
            vertical-align: top;
            padding-right: 2rem;
            text-align: left;
        }
        
        .DescText {
            display: table-cell;
        }
    }
    .ContentBand-Column.FormBand-Form {
        text-align: center;
    }
    .ReassuranceList-Item {
        font-size: 1.3rem;
    }
    .FormContainer-Submit {
        white-space: normal;
    }
}
@media screen and (max-width: 900px){
    .ContentBand {
        margin-top: 3rem;
    }
    .How {
        text-align: center;
        &-Header {
            text-align: left;
        }
        &-Wizard {
            margin-bottom: 4rem;
            &Item {
                border-left-width: 2.5rem;
                &::before {
                    left: -2.6rem;
                    border-left-width: 2.5rem;
                }
            }
        }
    }
    .ReassuranceList {
        text-align: left;
        &-Item {
            display: inline-block;
            border-right: none;
            margin-bottom: 1rem;
        }
    }
    .FormContainer-Fields {
        padding: 0;
    }
    .FormContainer-Submit {
        font-size: 1.8rem;
    }
}
@media screen and (max-width: 730px){
    .ContentBand {
        margin-bottom: 3rem;
        &-Column {
            display: table;
            width: 100%;
            margin: auto;
            &.Form {
                text-align: center;
            }
        }
    }
    
}
@media screen and (max-width: 695px){
    .How {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
@media screen and (max-width: 470px){
    .PageWrapper {
        padding: 0;
    }
    .How-Header {
        font-size: 2rem;
    }
    
    .FormContainer {
        &-Header {
            font-size: 2.5rem;
        }
        
        &-Submit {
            font-size: 1.8rem;
            margin-bottom: 2rem;
        }
    }
    .relationship-status .FormField-TableInputContainer-Cell {
        display: block;
        margin-left: 20%;
        text-align: left;
    }
}
@media screen and (max-width: 340px){
    .DescText-Title-Legend {
        font-size: 1.7rem;
    }
    .FormContainer-Header {
        font-size: 2.3rem;
    }
}
