/* 
    ----------------------------------------
    --     structure landing voyance 1    --
    ----------------------------------------

    Created on : 04 avril 2016
    Author     : Laurène Dourdin <2aurene@gmail.com>
*/

/* --------------------------- STRUCTURE GÉNÉRALE --------------------------- */

@import "knacss444/knacss";

.PageWrapper {
    display: table;
    width: 100%;
    max-width: 1280px;
    margin: auto;
    padding: 0 2rem;
}

.SiteHeader {
    text-align: right;
    font-size: 1.2rem;
    background-color: grey;
    padding: 0.5rem 0;
    
    &-Nav a {
        color: inherit;
        text-decoration: none;
    }
}

.SiteLogo {
    display: inline-block;
    height: 100px;
    width: 100px;
    background: grey;
}

.ContentBand {
    margin-bottom: 5rem;
    padding-top: 3rem;

    &-Column {
        display: table-cell;
        vertical-align: top;

        &Header {
            margin-bottom: 20px;
        }
    }
}

.TextContent {
    max-width: 320px;
}

.DescText-Title {
    font-family: inherit;
    font-weight: inherit;
    font-size: 2.5rem;
    text-align: center;
    
    strong {
        font-weight: bold;
    }
}

.DescText-Content {
    background: grey;
    padding: 1.2rem 1.8rem;
}

.How {
    margin-right: 3rem;
    padding-top: 6rem;
    
    &-Header {
        font-family: inherit;
        font-weight: inherit;
        font-size: 2.5rem;
    }
}

.How-Wizard {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0 1rem;
    height: 8rem;
    box-sizing: content-box;
    border: 1px solid;
    background-color: white;
    
    &Item {
        display: inline-block;
        height: 8rem;
        position: relative;
        box-sizing: border-box;
        border: 4rem solid transparent;
        border-left-color: inherit;
        border-right: 0;
        
        &:before {
            content: "";
            display: inline-block;
            position: absolute;
            top: -4rem;
            left: -4.1rem;
            border: 4rem solid transparent;
            border-left-color: white;
            border-right: 0;
        }
        
        &:first-child {
            border: none;
            &:before {
                display: none;
            }
        }
        
        > * {
            display: inline-block;
            position: relative;
            top: -4rem;
        }
        
        &-Img {
            width: 5rem;
            height: 5rem;
            margin: 1.5rem;
            margin-right: 0;
            float: left;
            background-color: grey;
        }
        
        &-Txt {
            line-height: 2rem;
            margin: 2rem 1rem;
            height: 4rem;
        }
    }
}

.ContentBand-Column.Form {
    padding-top: 2.5rem;
    position: relative;
    text-align: right;
}

.alert {
    display: block;
    padding: 0.8rem 1.2rem;
    margin: 0;
    margin-bottom: 2rem;
    border: 1px solid;
}

.fa img {
    display: none;
}

.FormContainer {
    display: inline-block;
    position: relative;
    max-width: 530px;
    min-width: 320px;
    width: 100%;
    margin: auto;
    padding: 2.5rem;
    padding-top: 1.5rem;
    text-align: left;
    border: 1px solid black;
    
    &.overlay {
        display: none;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.85);
        border: none;
        height: 100%;
        z-index: 5;
        right: 0;
    }
    
    &-Pop {
        position: absolute;
        top: -3rem;
        left: -9rem;
        width: 14rem;
        height: 14rem;
        padding: 3.1rem 2rem;
        border-radius: 50%;
        background: grey;
        text-align: center;
        color: white;
        line-height: 2.6rem;
        font-size: 1.7rem;
        z-index: 2;
    }
    
    &-Header {
        margin: 0;
        margin-bottom: 2rem;
        text-align: center;
        font-family: inherit;
        font-size: 3.5rem;
        font-weight: inherit;
        border-bottom: 1px solid;
    }
    
    &-Fields {
        padding: 0 4rem;
    }
    
    &-Slogan {
        font-size: 1.8rem;
        text-align: center;
    }
    
    &-Submit {
        display: block;
        min-width: 60%;
        margin: auto;
        margin-top: 3rem;
        padding: 1rem 2rem;
        font-family: inherit;
        font-size: 2.2rem;
        font-weight: bold;
    }
}

.FormField {
    display: block;
    position: relative;
    margin-bottom: 2rem;
    
    &-Label {
        display: block;
        margin-bottom: 0.2rem;
        font-family: inherit;
        font-size: 1.6rem;
    }
    
    &-Input {
        display: block;
        width: 100%;
        padding: 0.8rem 1.2rem;
        border: 1px solid;
        &.radio {
            display: inline-block;
        }
    }
    
    &-TableInputContainer {
        display: table;
        width: 100%;
        margin: auto;
        
        &-Cell {
            display: table-cell;
            padding-right: 1rem;
            text-align: center;
            
            &:last-child {
                padding-right: 0;
            }
        }
        
        &.fixed-2-col &-Cell {
            width: 33.333%;
        }
        &.fixed-3-col &-Cell {
            width: 33.333%;
        }
        
        &.gender {
            max-width: 300px;
        }    
        &.relationship-status {
            max-width: 400px;
        }
    }
    
    &.radio &-Label, &.radio &-Input {
        display: inline-block;
        width: auto;
        margin-top: 0;
        vertical-align: middle;
        margin: 0 0.2rem;
    }
    
    &-Info {
        display: block;
        position: absolute;
        margin-top: -3.7rem;
        padding: 0.8rem 1.4rem;
        background-color: white;
        border: 1px solid;
        transition: all 0.25s;
        opacity: 0;
        z-index: -1;
    }
    
    &-Input:focus + &-Info {
        margin-top: -8rem;
        opacity: 1;
        z-index: 1;
    }
}

.SiteFooter {
    background-color: grey;
}

.ReassuranceList {
    list-style-type: none;
    display: table;
    width: 100%;
    padding: 1.5rem 0;
    text-align: center;
    
    &-Item {
        display: table-cell;
        border-right: 1px solid;
        padding: 0 2rem;
        font-size: 1.5rem;
        text-align: left;
        
        &-Img {
            display: inline-block;
            width: 3rem;
            height: 3rem;
            margin: 0 2rem;
            background-color: white;
        }
        
        &-Txt {
            display: inline-block;
        }
        
        &:last-child {
            border-right: 0;
        }
        
        strong {
            font-weight: bold;
        }
    }
}

.SiteCopyright {
    text-align: center;
}

@media screen and (min-width: 900px) and (max-width: 1200px){
    .How-Wizard {
        height: auto;
        width: 100%;
        &Item {
            display: block;
            border: none;
            > * {
                position: static;
            }
            &::before {
                display: none;
            }
        }
    }
}
@media screen and (max-width: 695px){
    .How-Wizard {
        height: auto;
        &Item {
            display: block;
            border: none;
            > * {
                position: static;
            }
            &::before {
                display: none;
            }
        }
    }
}
@media screen and (max-width: 1200px){
    .ReassuranceList-Item {
        padding: 0 1rem;
        font-size: 1.3rem;
        &-Img {
            margin: 0 1rem;
        }
    }
}
@media screen and (max-width: 900px){
    .ContentBand .ContentBand-Column {
        display: table;
        width: 100%;
        margin: auto;
    }
    .How {
        text-align: center;
        &-Header {
            text-align: left;
        }
        &-Wizard {
            margin-bottom: 4rem;
            &Item {
                border-left-width: 2.5rem;
                &::before {
                    left: -2.6rem;
                    border-left-width: 2.5rem;
                }
            }
        }
    }
    .ContentBand-Column.Form {
        text-align: center;
    }
    .FormContainer.overlay {
        max-width: none;
    }
    .ReassuranceList {
        text-align: left;
        &-Item {
            display: inline-block;
            border-right: none;
            margin-bottom: 1rem;
        }
    }
}
@media screen and (max-width: 695px){
    .ContentBand {
        padding-top: 2rem;
        margin-bottom: 3rem;
        overflow: hidden;
        .PageWrapper {
            padding: 0;
        }
    }
    .TextContent {
        margin: auto;
        padding: 0 2rem;
    }
    .How {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .ContentBand-Column.Form {
        padding: 0;
    }
    .FormContainer-Pop {
        top: -12rem;
        left: initial;
        right: -1rem;
    }
    .FormContainer-Fields {
        padding: 0 1rem;
    }
}
@media screen and (max-width: 470px){
    .ContentBand-ColumnHeader {
        margin-bottom: 0;
    }
    .SiteHeader {
        font-size: 1rem;
    }
    .DescText-Title, .How-Header {
        font-size: 2rem;
    }
    .FormContainer {
        padding: 1.5rem;
        &-Header {
            font-size: 2.7rem;
        }
        &-Slogan {
            font-size: 1.6rem;
        }
    }
    .relationship-status .FormField-TableInputContainer-Cell {
        display: block;
        margin-left: 20%;
        text-align: left;
        width: auto !important;
    }
}
@media screen and (max-width: 400px){
    .FormContainer-Pop {
        top: -9rem;
        left: initial;
        right: -1rem;
        font-size: 1.3rem;
        line-height: 2rem;
        width: 11rem;
        height: 11rem;
        padding: 2.5rem 2rem;
    }
}