/**
 * ============================== [ automne-16 ] ===============================
 * Created on : 21 septembre 2016 By Laurène Dourdin <2aurene@gmail.com>
 */
@charset "UTF-8";

@import "templates/s-landing-tarot-2";

/* Typographies */
$txtbase: 'Open Sans', sans-serif;
$handscripted: 'Dancing Script', cursive;
$title: 'Ubuntu Condensed', sans-serif;

/* Images */
$img_dir: "../images_landing/automne-16/";
$background: $img_dir + "bg.jpg";
$logo: $img_dir + "logo-myastro.png";
$header: $img_dir + "title.png";
$psychic: $img_dir + "aline.png";
$cardback: $img_dir + "cardback.png";
$formtitle_arrow: $img_dir + "fleche.png";
$icon_star: $img_dir + "ico-star.png";
$icon_gift: $img_dir + "ico-gift.png";
$icon_lock: $img_dir + "ico-lock.png";
$icon_trophy: $img_dir + "ico-trophy.png";
$icon_how_form: $img_dir + "how-ico-form.png";
$icon_how_phone: $img_dir + "how-ico-phone.png";

/* Couleurs */
$white: white;
$bg: #FFFCF3;
$grey: #454545;
$brown: #543D13;
$orange: #ED3E09;
$light-orange: #F17B46;
$btn-orange: #F64E09;
$btn-darkorange: #F43B07;
$card-place: linear-gradient(to bottom, rgba(216, 215, 212, 0.6) 0%, rgba(78, 77, 75, 0.6) 100%);
$bg-grey-transparent: rgba(81, 71, 70, 0.25);
$bg-grey: #514746;
$woman: #F9324D;
$men: #2BCEDD;

/* ------------------------------- [ LAYOUT ] ------------------------------- */

body {
    background: url($background) no-repeat center top fixed;
    background-size: cover;
    color: $grey;
    font-family: $txtbase;
    font-weight: 300;
}

/* ------------------------------- [ HEADER ] ------------------------------- */

.SiteLogo {
    background: url($logo) center no-repeat;
    background-size: contain;
    height: 107px;
    width: 107px;
}

.PageLogo {
    background: url($header) center bottom no-repeat;
}

@media screen and (max-width: 800px) {
    .PageLogo {
        background-size: contain;
    }
}
@media screen and (max-width: 600px){
    .PageLogo {
        background-position: center;
        height: 100px;
    }
}

/* ---------------------------- [ TEXT CONTENT ] ---------------------------- */

.DescText-Title {
    background-color: transparent;
    color: $orange;
    font-family: $handscripted;
    font-size: 2.4rem;
    height: auto;
    text-align: center;
    
    &-Legend {
        background: url($psychic) right no-repeat;
        font-size: 1.9rem;
        min-height: 107px;
        padding-right: 111px;
        text-align: right;
    }
}

.DescText-Content {
    background: transparent;
    text-indent: 5rem;
}

@media screen and (max-width: 430px){
    .DescText-Title {
        font-size: 2rem;
        &-Legend {
            font-size: 1.7rem;
        }
    }
}

/* -------------------------------- [ TAROT ] ------------------------------- */

.WidgetTarot-Card {
    overflow: visible;
    
    &.notFlipped {
        background-color: transparent;
    }
    
    &-Face.front {
        background-color: transparent;
        background-image: url($cardback);
        background-repeat: no-repeat;
        background-size: cover;
        border: none;
    }
    &-Face.back {
        border: none;
    }
    /* Animation carte la roue de fortune */
    &.Flipped[data-result="10"] {
        -webkit-box-shadow: 0px 0px 12px 4px $orange;
        box-shadow: 0px 0px 12px 4px $orange;
    }
    
    &.place {
        background: -webkit-$card-place;
        background: $card-place;
        border-radius: 6px;
        opacity: 0.6;
    }
}

/* -------------------------------- [ FORM ] -------------------------------- */

.FormContainer {
    background-color: $bg-grey-transparent;
    border: none;
    max-width: 450px;
    padding: 2rem;
    
    &-Header {
        background: url($formtitle_arrow) no-repeat bottom center;
        color: $brown;
        font-family: $title;
        padding-bottom: 3rem; 
    }

    &-Submit {
        background: -webkit-linear-gradient(to bottom, $btn-orange 0%, $btn-darkorange 100%);
        background: linear-gradient(to bottom, $btn-orange 0%, $btn-darkorange 100%);
        background-color: $btn-orange;
        border: none;
        border-radius: 4rem;
        box-shadow: inset 2px 2px 1px rgba(255, 255, 255, 0.8), inset -2px -2px 2px rgba(0, 0, 0, 0.5);
        color: $white;
        cursor: pointer;
        font-family: $title;
        font-size: 2.2rem;
        text-transform: uppercase;
        padding: 1rem 4rem;
        
        &:hover {
            box-shadow: inset 2px 2px 1px rgba(0, 0, 0, 0.5), inset -2px -2px 2px rgba(255, 255, 255, 0.8);
        }
    }
}

.FormField-Label {
    text-transform: uppercase;
    .ico-woman {
        color: $woman;
        font-size: 1.9rem;
        font-weight: bold;
    }
    .ico-man {
        color: $men;
        font-size: 1.9rem;
        font-weight: bold;
    }
}

.FormField-Input {
    border: none;
    
    &:not([type=radio]):focus, &:not([type=radio]):focus:invalid {
        border-color: transparent;
        box-shadow: 0 0 6px -1px $orange;
        outline-width: 0;
    }
}

input[type="checkbox"], input[type="radio"] {
    height: 20px !important;
    width: 20px !important;
}

.FormField-InfoPop {
    border: none;
    box-shadow: 0 0 6px -1px $brown;
    color: $brown;
}

@import "modules_themes/form-alert-vivid";

/* ------------------------------- [ DRI ] ---------------------------------- */

.DRI {
    &-Intro {
        background-color: $bg-grey-transparent;
        font-family: $title;
        &-Title {
            color: $orange;
            text-transform: uppercase;
        }
        &-Text {
            color: $brown;
        }
    }
    
    &-Slogan {
        background-color: $light-orange;
        color: $white;
        font-family: $title;
        text-transform: uppercase;
    }
    
    &-Form {
        background-color: $bg-grey;
        color: $white;
        padding: 2rem;
        .FormField-Input {
            color: $grey;
            font-weight: bold;
            font-size: 1.4rem;
            text-align: center;
        }
    }
    
    &-Sent {
        font-family: $title;
        strong {
            color: $light-orange;
            font-weight: normal;
        }
    }
}

/* ------------------------------- [ HOW ] ---------------------------------- */

.How-Header {
    font-family: $title;
    font-size: 2.4rem;
    font-weight: normal;
    margin-top: 2rem !important;
}

.How-Wizard {
    border: 0;
    color: $grey;
    &Item-Img.form {
        background: transparent url($icon_how_form) center no-repeat;
        background-size: contain;
    }
    &Item-Img.phone {
        background: transparent url($icon_how_phone) center no-repeat;
        background-size: contain;
    }
}

/* ----------------------------- [ REASSURANCE ] ---------------------------- */

.ReassuranceList {
    background: $bg-grey;
    color: $white;
}

.ReassuranceList-Item-Img.star {
    background: transparent url($icon_star) center no-repeat;
    background-size: contain;
}
.ReassuranceList-Item-Img.lock {
    background: transparent url($icon_lock) center no-repeat;
    background-size: contain;
}
.ReassuranceList-Item-Img.gift {
    background: transparent url($icon_gift) center no-repeat;
    background-size: contain;
}
.ReassuranceList-Item-Img.trophy {
    background: transparent url($icon_trophy) center no-repeat;
    background-size: contain;
}