/* 
    intégration : guillaume deschamps <guillaumedeschamps75@gmail.com>
    20/07/2016 pour KGCOM

    Destiné à une page DRI simple sur deux colonnes :
    1: bloc voyante + bloc FAQ
    2: liste voyant-e-s + formulaire "rappel gratuit"
*/

@import "_s-landing-voyance-2";

// your own styles
// -----------------
/* --------------- fonts --------------- */

/* --------------- variables  --------------- */

$img_dir : "../images_landing/cartes-dri/";

$font1: 'Raleway', sans-serif;

$color1: #0c5a74; //bleu foncé, bg main title
$color2: #15c0f8; //bleu clair titre 3, submit
$color3: #454545; //gris reassurance
$color4: #6d6c6a; // gris texte courant

html {
    height: 100%;
}

body {
    font-family: "Arial", sans-serif;
    background: #fff;
}

h2, h3{ color:$color1; font-family: $font1}

submit, 
h1,h2,h3,h4,h5,h6{
    hyphens: none;
}

.SiteHeader{
    display: inline-block;
    width: 100%;
}

.SiteLogo {
    background: url($img_dir+"logo-MYASTRO.svg") center no-repeat;
    background-size: contain;
    width: 10rem;
    height: 10rem;
    margin: 1rem auto;
    display: block;
    h1{opacity: 0}
}

.ContentBand{
    max-width: 100rem;
    margin: 0 auto 2rem;

    .PageWrapper{
        background: url($img_dir+"bg.jpg") center no-repeat;
        background-size: cover;  
        
        &-bg{
            margin: 0 auto;
            padding: 3rem auto;
            max-width: 52rem;
            text-align: center;
        }
    }
}

.DescText{
    &-Title {
        background-color: $color1;
        color:#fff;
        text-align: center;
        font-size: 2.5rem;
        font-family: "Arial", sans-serif;
        font-weight:lighter;
        height: inherit;
        margin: 0 auto;
        padding: 0.5rem;
        
        .ico-pig{
            display: inline-block;
            width: 5rem;
            height: 2.5rem;
            background: url($img_dir+"ico-pig.svg") center no-repeat;
        }
        
        span{
            font-weight: bold; 
            text-transform: uppercase;
        }
    }
     &-Subtitle {
        color: $color2;
        text-align: center;
        font-size: 3rem;
        font-family: $font1;
         font-weight: lighter;
        margin: 0 auto;
        padding: 1rem 0;
    }
    
}

/* MODULE LISTE VOYANT-E-S */
.liste-voyants{
    margin: 0 auto;

    h2{
        font-size:1.75rem; 
        text-align: center;
        color: #fff;
        font-weight: 400;
        margin: 1rem auto;
        
    }

    ul{
        display: flex;
        flex-direction: row;
        //align-items: stretch;
        justify-content: space-between;
        margin: 0; 
        padding: 0;
        list-style: none;
        
        li {
            margin: 0;
            padding: 0;
            div{
                width: 10rem;
                height: 10rem;
            }
            span{
                text-transform: uppercase;
                color:#fff;
                font-size: 1.8rem;
            }
        }
    }
    .voyant-1{
        background: url($img_dir+"voyant-stephane.jpg") center no-repeat;
    }
    .voyant-2{
        background: url($img_dir+"voyant-sarah.jpg") center no-repeat;
    }
    .voyant-3{
        background: url($img_dir+"voyant-pierre.jpg") center no-repeat;
    }
    .voyant-4{
        background: url($img_dir+"voyant-carmela.jpg") center no-repeat;
    }
}

.FormContainer {
    max-width: inherit;
    
    &-Header {
        font-family: 'Ubuntu Condensed';
        color: $color1;
        //padding-bottom: 3rem; 
        background: url($img_dir+"fleche.png") no-repeat bottom center;
    }
    
    &-Submit {
        padding: 1rem 4rem;
        background-color: $color2;
        color: #fff;
        font-size: 2.2rem;
        text-transform: uppercase;
        border:0px solid red;
        transition: all 0.25s ease-in;
        &:hover {
            background-color: darken($color2, 25%);
        }
    }
    
    &.DRI .DRI {
        &-Intro {
            
            &-Title {
                color: #ccc;
                text-transform: uppercase;
            }
            &-Text {
                color: white;
            }
        }
        &-Slogan {
            background-color: lighten($color1, 20%);
            color: #fff;
            span{text-transform: uppercase;}
        }
        &-Form {
            padding: 2rem;
            background-color: transparent;
            
            .FormField-Input {
                text-align: center;
                font-weight: bold;
                font-size: 1.4rem;
                color: #bbb;
            }
        }
        &-Sent {
            color: #fff;
            strong {
                font-weight: normal;
                color: $color2;
            }
        }
                
    }
}

.FormField{
    &-Input {
        border: 1px solid #ccc;

        &:not([type=radio]):focus, &:not([type=radio]):focus:invalid {
            outline-width: 0;
            border-color: transparent;
        }
        
        &:active,
        &:focus{
            background-color: lighten($color2, 5%);
        }
    }
    
    &-Info {
        border: none;
        color: #ccc;
        box-shadow: 0 0 6px -1px #ccc;
    }
}

input[type="checkbox"], input[type="radio"] {
    width: 20px !important;
    height: 20px !important;
}

.faq{
    padding: 2rem 2.5rem; 
    color:#6d6c6a;
    
    ul{
        
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0;
        padding: 0;

        li{
            font-style: italic;
            font-size: 1.6rem;
            line-height: 120%;
            list-style: none;
            padding: 0 0 10px 50px; 
            color: #fff;
        }

        .ico-formulaire{
            background: transparent url($img_dir+"ico-form.svg") center left no-repeat;
        }
        .ico-standardiste{
            background: transparent url($img_dir+"ico-phone.svg") center left no-repeat;
        }
    }
}




.ReassuranceList {
    background-color: $color3;
    color: #fff;
}

.ReassuranceList-Item-Img.star {
    background: transparent url($img_dir+"ico-star.png") center no-repeat;
    background-size: contain;
}
.ReassuranceList-Item-Img.lock {
    background: transparent url($img_dir+"ico-lock.png") center no-repeat;
    background-size: contain;
}
.ReassuranceList-Item-Img.gift {
    background: transparent url($img_dir+"ico-gift.png") center no-repeat;
    background-size: contain;
}
.ReassuranceList-Item-Img.trophy {
    background: transparent url($img_dir+"ico-trophy.png") center no-repeat;
    background-size: contain;
}

.alert {
    border-radius: 5px;

    &-danger {
        color: #a94442;
        background-color: #f2dede;
        border-color: #ebccd1;
    }
    &-success {
        color: #3c763d;
        background-color: #dff0d8;
        border-color: #d6e9c6;
    }
    &-warning {
        color: #8a6d3b;
        background-color: #fcf8e3;
        border-color: #faebcc;
    }
    &-info {
        color: #31708f;
        background-color: #d9edf7;
        border-color: #bce8f1;
    }
}

.SiteCopyright{color:$color3}

@media screen and (min-height: 1000px){

}
@media screen and (max-width: 1000px){

}
@media screen and (max-width: 730px){
    
}
@media screen and (max-width: 640px){
   
    .PageWrapper{
        display:inherit;
        padding: 0 2rem;
        flex-wrap: wrap-reverse;
    }
    
    .SiteLogo{
        &:after,
        &:before{
            display:none;
        }
    }
    
    .flex-mobile{
        border:0px solid red;
        display: flex;
        flex-direction: column-reverse;  

        
    }
    
    .FormContainer{
        padding: 0;
    }
    
    .colG,
    .colD{
        margin: 0;
        width: 100%;
    }
    
    .main-voyant{
        background-image:none;
        height: inherit;
        text-align: center;
        margin: 1rem 0 2rem;
        
        h2 {
            font-size:2rem;
            height:inherit; 
            text-align:center; 
            margin: 0 auto;
        }
    }
    
    .liste-voyants{
        //margin-top: 4rem;
        h2{
            padding: 2rem 0;
        }
        ul{
           /* display:inherit !important;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0; 
            padding: 0;
            list-style: none;
            width: 100%;*/
            
            li{
                display:flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                //margin-bottom: 1rem;
                
                &:nth-child(3),
                &:nth-child(4){
                    display: none;
                }
            }
        }
    }
    
    
    .DescText-Content{
        padding: 1.5rem;
    }
    
    .DescText-Content,
    .faq{
        width: 100%;
        h3{font-size: 1.8rem}
        ul{
            /*flex-direction: column;
            align-items:flex-start;
            justify-content: space-between;*/
            @include grid(2);
        }
    }
    
    .DRI-Form {
        margin-bottom: 4rem;
    }
}
@media screen and (max-width: 470px){
   

}
@media screen and (max-width: 400px){
   
}
