@charset "UTF-8";
@import "knacss501/_normalize/normalize";
// Pallete
$primary: #f90e45;
$grey: #454545;
$headline: #fff;
$cta-color: $headline;
$articleBg: rgba(255,255,255, .8);
// Font Face
$ff-primary:'Oswald', sans-serif;
$ff-secondary: 'Open Sans', sans-serif;
$ff-additional: 'Lobster', cursive;
//
$assets: '/images_landing/grande-voyance/18/';
// zodiac list
$zodiac:(
  (bel, "bel.png"),
  (tau, "tau.png"),
  (gem, "gem.png"),
  (can, "can.png"),
  (lio, "lio.png"),
  (vie, "vie.png"),
  (bal, "bal.png"),
  (sco, "sco.png"),
  (sag, "sag.png"),
  (cap, "cap.png"),
  (ver, "ver.png"),
  (poi, "poi.png")
);
.astro{
  @each $sign, $bg in $zodiac{
    &-#{$sign}{
      background: url($assets + $bg) no-repeat center;
    }
  }
}
//
html{
  font-size: 16px;
}
body {
  background: #784e69 url($assets + 'bg.jpg') no-repeat top center;
  background-size: cover;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    width: 0 !important
  }
  &::-webkit-scrollbar-track-piece {
    background-color: transparent;
    -webkit-border-radius: 6px;
  }
}

.fullview {
  height: 100vh;
  position: relative;
}

.page {
  &-header {
    font-family: $ff-primary;
    .title{
      text-align: center;
      color: $primary;
      font-size: 3.188rem;
    }
    .headline{
      color: $headline;
      font-size: 1.75rem;
      text-transform: uppercase;
      text-align: center;
    }
  }
  &-article{
    background: $articleBg;
    display: block;
    padding: 1rem;
    position: relative;
  }
}


.article{
  &-container{
    grid-gap: .8rem;
    width: 25rem;
    margin: 0 auto;
  }
  &-more{
    background: $primary;
    color: $cta-color;
    font-size: 1.2rem;
    font-family: $ff-secondary;
      &-container{
      }
    }
  &-aside{
    background-size: contain;
    display: block;
    color: #fff;
    width: 300px;
    height: 300px;
    position: absolute;
    z-index: -2;
    h3{
      font-family: $ff-additional;
      font-size: 2.2rem;
    }
  }
}
.scroll {
  &-container{
  }
  display: block;
  background: url($assets + 'scroll.png') center no-repeat;
  background-size: cover;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  filter: drop-shadow(0 0 1px #3c3c3c);
  animation: bounce 5s ease-in-out infinite;
}


@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
	40% {
    transform: translateY(-30px);
  }
	60% {
    transform: translateY(-15px);
  }
}



