@charset "UTF-8";
@import "templates/s-tarot-noel";
@import "modules/mixins";
// Pallete
$primary : #f90e45;
$grey : #454545;
$headline : #fff;
$cta-color : $headline;
$articleBg : rgba(255, 255, 255, .8);
$socialColor : #672cae;
$proColor : #63e4b5;
$calColor : #feb800;
// Font Face
$ff-primary : 'Oswald',
sans-serif;
$ff-secondary : 'Open Sans',
sans-serif;
$ff-additional : 'Lobster',
cursive;
//
$assets : '/images_landing/grande-voyance/18/';
// zodiac list
$zodiac : ((bel, "bel.png"), (tau, "tau.png"), (gem, "gem.png"), (can, "can.png"), (lio, "lio.png"), (vie, "vie.png"), (bal, "bal.png"), (sco, "sco.png"), (sag, "sag.png"), (cap, "cap.png"), (ver, "ver.png"), (poi, "poi.png"));
.astro {
  @each $sign,
  $bg in $zodiac {
    &-#{$sign} {
      background : url($assets + $bg) no-repeat center;
    }
  }
}

* {
  box-sizing : border-box;
}

//
html {
  font-size : 16px;
}

body {
  background         : #784e69 url($assets + 'bg-dri.jpg') no-repeat top center;
  background-size    : cover;
  -ms-overflow-style : none;
  min-height         : 100vh;
  &::-webkit-scrollbar {
    width : 0 !important
  }
  &::-webkit-scrollbar-track-piece {
    background-color      : transparent;
    -webkit-border-radius : 6px;
  }
  font-family        : $ff-secondary;
  overflow-x         : hidden;
}

::-webkit-input-placeholder {
  color   : #fff !important;
  opacity : 1 !important;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color   : #fff !important;
  opacity : 1 !important;
}

*::placeholder {
  color   : #fff !important;
  opacity : 1 !important;
}

.PageTitle {
  background : transparent;
  @include respond-to('mobile') {
    height : auto;
  }
}

.PageHeader {
  @include respond-to('mobile') {
    margin-bottom : 0;
  }
}

.PageWrapper {
  padding : 0;
}

.title {
  text-align  : center;
  font-family : $ff-primary;
  color       : $primary;
  margin      : 0;
  font-size   : 4.7rem;
  @include respond-to('mobile') {
    font-size : 2.6rem
  }
}

.headline {
  color          : #fff;
  font-size      : 1.7rem;
  text-transform : uppercase;
  text-align     : center;
  margin         : 0;
  @include respond-to('mobile') {
    font-size : 0.96rem;
  }
}

.Container {
  background : transparent;
  position   : relative;
  overflow   : inherit;
  padding    : 1.5rem;
  @include respond-to('mobile') {
    padding : 0;
    margin  : 60px auto 0;
  }
}

.DRI {
  &-Title {
    text-align : center;
    color      : $grey;
  }
  &-PromoTitle {
    font-size   : 2.4rem;
    &::before {
      content         : '';
      display         : block;
      background      : url($assets + "phone.png") no-repeat center;
      background-size : contain;
      width           : 58px;
      height          : 58px;
      margin          : 0 auto;
    }
    font-family : $ff-additional;
    margin      : 0;
    .small {
      font-family : $ff-secondary;
      font-size   : 0.45em;
      display     : block;
      margin-top  : -15px;
    }
  }
}

.Form {
  &Container {
    background : $articleBg;
    padding    : 3rem 0;
    margin-top : 16px;
    @include respond-to('mobile') {
      margin  : 0;
      padding : 0.8rem 0
    }
    &-Fields {
      padding : 0 0.5rem;
    }
  }
  &Field {
    &-Input {
      background : #8f5f7a;
      color      : #fff;
    }
  }
}

optgroup {
  background : #8f5f7a;
}

button,
input,
optgroup,
option,
select {
  color       : #fff;
  font-family : $ff-secondary;
  font-weight : 600;
}

.Button {
  border      : none;
  background  : $primary;
  color       : #fff;
  font-family : $ff-secondary;
  font-weight : 600;
  padding     : 1rem;
  width       : 100%;
}

.psychic {
  display         : block;
  width           : 190px;
  height          : 190px;
  border-radius   : 50%;
  position        : absolute;
  bottom          : -43px;
  left            : -149px;
  background      : url($assets + "psych.png") no-repeat center;
  background-size : contain;
  z-index         : -1;
  &::before {
    content     : 'Gaëlle';
    display     : block;
    font-size   : 2rem;
    color       : #454545;
    font-weight : 600;
    position    : absolute;
    top         : -55px;
    text-align  : center;
    width       : 100%;
  }
  @include respond-to('mobile') {
    display : none;
  }
}

.promotion {
  &-special {
    font-family     : $ff-additional;
    font-size       : 40px;
    color           : #fff;
    background      : url($assets + 'ribbon.png') no-repeat center;
    background-size : contain;
    transform       : rotate(-18deg);
    position        : absolute;
    width           : 300px;
    left            : -160px;
    top             : 120px;
    @include respond-to('mobile') {
      top       : -10px;
      left      : -71px;
      transform : rotate(-35deg);
      font-size : 28px;
    }
  }
  &-tenmin {
    width           : 200px;
    height          : 170px;
    position        : absolute;
    background      : url($assets + 'offre.png') no-repeat center;
    background-size : contain;
    right           : -40px;
    top             : 34px;
    z-index         : 1;
    @include respond-to('mobile') {
      width : 128px;
      top   : -75px;
      right : 0;
    }
  }
  &-fivemin {
    width           : 200px;
    height          : 170px;
    position        : absolute;
    background      : url($assets + 'fivemin.png') no-repeat center;
    background-size : contain;
    right           : -20px;
    top             : 34px;
    z-index         : 1;
    @include respond-to('mobile') {
      width : 128px;
      top   : 3px;
      right : 0;
    }
  }
}

a,
a:hover,
a:active,
a:visited {
  text-decoration : none;
  color           : inherit;
}
