@charset "UTF-8";
@import "knacss501/_normalize/normalize";
@import "knacss501/config-variables";
@import "knacss501/_include-media/include-media";
@import "knacss501/layout-grids";
// Pallete
$primary: #f90e45;
$grey: #454545;
$headline: #fff;
$cta-color: $headline;
$articleBg: rgba(255, 255, 255, .8);
$socialColor: #672cae;
$proColor: #63e4b5;
$calColor: #feb800;
// Font Face
$ff-primary:'Oswald',
sans-serif;
$ff-secondary: 'Open Sans',
sans-serif;
$ff-additional: 'Lobster',
cursive;
//
$assets: '/images_landing/grande-voyance/18/';
// zodiac list
$zodiac:( (bel, "bel.png"), (tau, "tau.png"), (gem, "gem.png"), (can, "can.png"), (lio, "lio.png"), (vie, "vie.png"), (bal, "bal.png"), (sco, "sco.png"), (sag, "sag.png"), (cap, "cap.png"), (ver, "ver.png"), (poi, "poi.png"));
.astro {
  @each $sign,
  $bg in $zodiac {
    &-#{$sign} {
      background: url($assets + $bg) no-repeat center;
    }
  }
}

* {
  box-sizing: border-box;
}

//
html {
  font-size: 16px;
}

body {
  background: #784e69 url($assets + 'bg.jpg') no-repeat top center;
  background-size: cover;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    width: 0 !important
  }
  &::-webkit-scrollbar-track-piece {
    background-color: transparent;
    -webkit-border-radius: 6px;
  }
  font-family: $ff-secondary;
}

.typo {
  &-headline {
    font-family: $ff-additional;
  }
}

.loading {
  background: #784e69;
  position: fixed;
  width: 100vw;
  height: 100vh;
  margin: 0;
  z-index: 9999;
  top: 0;
}

// #0 sections
.section {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  height: 100vh;
  &-intro {
    .page {
      &-header {
        padding: 32px 0 0 0;
      }
    }
  }
  &-love {}
  &-social {}
  &-pro {}
  &-cal {
    .page {
      &-header {
        padding: 50px 0 0 0;
        .article {
          &-header {
            display: block;
            color: #feb800;
            font-family: "Lobster", cursive;
            font-size: 5rem;
            text-shadow: 0 0 1px #454545;
            text-align: center;
          }
        }
      }
    }
    .article-container {
      overflow: hidden;
      width: 960px;
      display: flex;
      margin: 0 auto;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
  &-numero {}
  &-dates {
    h3 {
      font-family: $ff-additional;
      position: relative;
      color: #1f8899;
      font-size: 38px;
      text-align: center;
      .huge {
        font-size: 8rem;
        line-height: 0;
        text-align: center;
        margin-right: -17px;
      }
    }
    .article {
      display: flex;
      justify-content: center;
      align-items: center;
      width: inherit;
    }
    &-wrapper {
      display: inline-block;
      width: 320px;
      &:last-of-type {
        align-self: flex-end;
      }
    }
  }
  &-addon {
    .article-wrapper {
      flex-direction: row;
      .article-container {
        width: 320px;
        display: inline-block;
        margin: 15px;
        &:first-of-type{
          align-self: self-start;
        }
      }
    }
    .headline {
      margin-left: -29px;
      padding: 2rem;
    }
    &-content{
      color: #454545;
background: rgba(255,255,255,0.8);
display: block;
padding: 1.6rem;
position: relative;
min-height: 200px;
    }
  }
}

.article {
  &-wrapper {
    height: 72%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
  }
}

//
.page {
  &-header {
    font-family: $ff-primary;
    height: 150px;
    .title {
      &-container {
        >* {
          margin: 0;
        }
      }
      text-align: center;
      color: $primary;
      font-size: 3.188rem;
    }
    .headline {
      color: $headline;
      font-size: 1.75rem;
      text-transform: uppercase;
      text-align: center;
    }
  }
  &-article {
    background: $articleBg;
    display: block;
    padding: 1.6rem;
    position: relative;
    min-height: 200px;
  }
}

// Layout
.article {
  width: 35rem;
  margin: 0 auto;
  font-family: $ff-secondary;
  color: $grey;
  &-headline {
    font-size: 28px;
    margin: 0;
  }
  &-paragraph {
    font-size: 1.2rem;
  }
  &-more {
    background: $primary;
    color: $cta-color;
    font-size: 1.2rem;
    font-family: $ff-secondary;
    &-container {
      width: 150px;
      text-align: center;
      float: right;
      margin-top: .8rem;
    }
  }
  &-aside {
    background-size: contain;
    display: block;
    color: #fff;
    width: 250px;
    height: 250px;
    position: absolute;
    z-index: -2;
    left: -130px;
    margin-left: -1rem;
    top: -3.5rem;
    h3 {
      font-family: $ff-additional;
      font-size: 2rem;
      font-weight: inherit;
    }
  }
}

.scroll {
  &-container {
    height: 60px;
    bottom: 0;
    position: absolute;
    width: 100%;
  }
  display: block;
  background: url($assets + 'scroll.png') center no-repeat;
  background-size: cover;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  filter: drop-shadow(0 0 1px #3c3c3c);
  animation: bounce 5s ease-in-out infinite;
}

.love {
  &-c {
    width: 300px;
    .article-aside {
      color: $primary;
      left: -160px;
      #title {
        font-size: 2.4rem;
        span {
          font-size: 8rem;
        }
      }
    }
  }
  &-s {
    width: 300px;
    float: right;
    top: -40px;
    left: -40px;
    .article-more {
      color: #454545;
      background: transparent;
      text-decoration: underline;
      text-align: right;
      font-weight: 600;
    }
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

//
// sections
.social {
  &-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60rem;
    margin: 0 auto;
    .page-article {
      display: inline-block;
      width: 25rem;
      min-height: 20rem;
      font-family: $ff-secondary;
      color: $grey;
      .article-more {
        position: absolute;
        bottom: -44px;
        right: 0;
        width: 200px;
        text-align: center;
      }
    }
  }
}

#social {
  #title {
    font-family: "Lobster", cursive;
    color: #672cae;
    position: relative;
    font-size: 38px;
    text-align: center;
    .huge {
      font-size: 8rem;
      line-height: 0;
      text-align: center;
      margin-right: -17px;
    }
  }
}

.pro {
  display: flex;
  width: 60rem;
  .page {
    &-article {
      width: 500px;
    }
  }
  &-aside {
    width: 25rem;
    font-size: 3rem;
    font-family: $ff-additional;
    color: $proColor;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    #title {
      font-size: 38px;
      text-align: center;
      .huge {
        font-size: 8rem;
        line-height: 0;
        text-align: center;
        margin-right: -17px;
      }
    }
  }
  .article {
    &-more {
      color: $grey;
      background: transparent;
      text-decoration: underline;
      text-align: right;
      font-weight: 600;
    }
  }
}

#sifre {
  .article-more {
    position: absolute;
    bottom: -35px;
    right: 0;
    padding: 0 10px;
  }
}

.number {
  color: $primary;
  font-size: 24rem;
  font-family: $ff-additional;
  &-art {
    h3 {
      font-family: "Lobster", cursive;
      position: relative;
      color: $primary;
      font-size: 38px;
      text-align: center;
      .huge {
        font-size: 8rem;
        line-height: 0;
        text-align: center;
        margin-right: -17px;
      }
    }
  }
}

.mo {
  &-wrapper {
    display: block;
    width: 960px;
    overflow: hidden;
  }
  &-container {
    position: relative;
    margin-top: 0;
    margin-bottom: 10px;
    width: calc(320px*12);
    padding: 0;
    margin-left: 2px;
  }
  &-block {
    width: 306px;
    display: inline-block;
    float: left;
  }
  &-article {
    background: #fff;
    width: 280px;
    padding: 10px;
    height: 350px;
    color: $grey;
    font-family: $ff-secondary;
  }
  &-control {
    display: block;
  }
}

.transition {
  transition: .7s;
}

.nav {
  width: 32px;
  height: 32px;
  display: block;
  background-size: contain;
  &-prev {
    background: transparent url($assets + 'prev.png') no-repeat center;
  }
  &-next {
    background: transparent url($assets + 'next.png') no-repeat center;
  }
}

// layout
//#x Nos conseils & Vos Objectifs
.addon {
  .headline {
    text-align: center;
    font-family: $ff-additional;
    font-size: 3rem;
    color: $grey;
    &::before {
      content: '';
      width: 66px;
      height: 66px;
      background-size: contain;
      display: inline-block;
    }
    &-adv {
      &::before {
        background: transparent url($assets + "adv.png") no-repeat center;
      }
    }
    &-obj {
      &::before {
        background: transparent url($assets + "obj.png") no-repeat center;
      }
    }
  }
}
