@charset "UTF-8";
@import "templates/s-tarot-noel";
@import "modules/mixins";
//@import "knacss501/_normalize/normalize";
// Pallete
$primary : #f90e45;
$grey : #454545;
$headline : #fff;
$cta-color : $headline;
$articleBg : rgba(255, 255, 255, .8);
$socialColor : #672cae;
$proColor : #63e4b5;
$calColor : #feb800;
// Font Face
$ff-primary : 'Oswald',
sans-serif;
$ff-secondary : 'Open Sans',
sans-serif;
$ff-additional : 'Lobster',
cursive;
//
$assets : '/images_landing/grande-voyance/18/';
// zodiac list
$zodiac : ((bel, "bel.png"), (tau, "tau.png"), (gem, "gem.png"), (can, "can.png"), (lio, "lio.png"), (vie, "vie.png"), (bal, "bal.png"), (sco, "sco.png"), (sag, "sag.png"), (cap, "cap.png"), (ver, "ver.png"), (poi, "poi.png"));
.astro {
  @each $sign,
  $bg in $zodiac {
    &-#{$sign} {
      background : url($assets + $bg) no-repeat center;
    }
  }
}

* {
  box-sizing : border-box;
}

html {
  font-size : 16px;
  height    : 100%;
}

body {
  height             : 100%;
  background         : #8f6083;
  -ms-overflow-style : none;
  &::-webkit-scrollbar {
    width : 0 !important
  }
  &::-webkit-scrollbar-track-piece {
    background-color      : transparent;
    -webkit-border-radius : 6px;
  }
  font-family        : $ff-secondary;
  overflow-x         : hidden;
}

.typo {
  &-headline {
    font-family : $ff-additional;
  }
}

@mixin v-center {
  display         : flex;
  align-items     : center;
  justify-content : center
}

// Loading
.loading {
  background     : #8f6083;
  position       : fixed;
  height         : 100vh;
  margin         : 0;
  z-index        : 9999;
  top            : 0;
  @include v-center;
  width          : 100vw;
  flex-direction : column;
  @include respond-to('mobile') {
    display : none;
  }
}

.label {
  font-size   : 0.9rem;
  font-family : $ff-additional;
  fill        : #fff;
  text-shadow : 1px 1px 0 #454545;
}

.pie-label {
  fill        : #fff;
  font-family : $ff-additional;
  font-size   : 3rem;
  text-shadow : 1px 1px #454545;
}

// Navigation
nav {
  height : 100%;
  @media (min-width : 768px) {
    display : none;
  }

  ul {
    height       : 100%;
    padding-left : 0;
    font-size    : 0;
    line-height  : 0;

    li {
      list-style  : none;
      display     : inline-block;
      width       : 33%;
      height      : 25%;
      line-height : 1.5;
      font-size   : 1.4rem;

      a {
        display         : flex;
        align-items     : center;
        justify-content : center;
        height          : 100%;
        font-family     : $ff-additional;
        font-size       : 1.2rem;
        line-height     : 2rem;
        color           : #fff !important;

        &.signe {
          @each $sign,
          $bg in $zodiac {
            &-#{$sign} {
              background      : url($assets + $bg) no-repeat center center;
              background-size : 90%;
            }
          }
        }

        &:hover {
          text-decoration : underline;
        }
      }
    }
  }
}

a,
a:hover,
a:active,
a:visited {
  text-decoration : none;
  color           : inherit;
}

