@charset "UTF-8";
@import "templates/s-tarot-noel";
@import "modules/mixins";
//@import "knacss501/_normalize/normalize";
// Pallete
$primary : #f90e45;
$grey : #454545;
$headline : #fff;
$cta-color : $headline;
$articleBg : rgba(255, 255, 255, .8);
$socialColor : #672cae;
$proColor : #63e4b5;
$calColor : #feb800;
// Font Face
$ff-primary : 'Oswald',
sans-serif;
$ff-secondary : 'Open Sans',
sans-serif;
$ff-additional : 'Lobster',
cursive;
//
$assets : '/images_landing/grande-voyance/18/';
// zodiac list
$zodiac : ((bel, "bel.png"), (tau, "tau.png"), (gem, "gem.png"), (can, "can.png"), (lio, "lio.png"), (vie, "vie.png"), (bal, "bal.png"), (sco, "sco.png"), (sag, "sag.png"), (cap, "cap.png"), (ver, "ver.png"), (poi, "poi.png"));
.astro {
  @each $sign,
  $bg in $zodiac {
    &-#{$sign} {
      background : url($assets + $bg) no-repeat center;
    }
  }
}

* {
  box-sizing : border-box;
}

//
html {
  font-size : 16px;
}

body {
  background         : #784e69 url($assets + 'bg.jpg') no-repeat top center;
  background-size    : cover;
  -ms-overflow-style : none;
  &::-webkit-scrollbar {
    width : 0 !important
  }
  &::-webkit-scrollbar-track-piece {
    background-color      : transparent;
    -webkit-border-radius : 6px;
  }
  font-family        : $ff-secondary;
  overflow-x         : hidden;
}

.typo {
  &-headline {
    font-family : $ff-additional;
  }
}

@mixin v-center {
  display         : flex;
  align-items     : center;
  justify-content : center
}

// Loading
.loading {
  background     : #784e69;
  position       : fixed;
  width          : 100vw;
  height         : 100vh;
  margin         : 0;
  z-index        : 9999;
  top            : 0;
  @include v-center;
  width          : 100vw;
  flex-direction : column;
}

.label {
  font-size   : 0.9rem;
  font-family : $ff-additional;
  fill        : #fff;
  text-shadow : 1px 1px 0 #454545;
}

.zodiac {
  width  : 80vw;
  height : 80vw;
}

.pie-label {
  fill        : #fff;
  font-family : $ff-additional;
  font-size   : 3rem;
  text-shadow : 1px 1px #454545;
}

// Navigation
nav {
  z-index      : 2;
  position     : fixed;
  top          : 150px;
  right        : 50%;
  margin-right : 500px;
  border       : 1px solid #fff;
  padding      : 1rem 2rem;
  display      : none;

  @media (min-width : 1400px) {
    display : block;
  }

  ul {
    padding-left : 0;
    li {
      list-style : none;
      a {
        font-family : $ff-additional;
        font-size   : 1.5rem;
        line-height : 2rem;
        color       : #fff !important;

        &:hover {
          text-decoration : underline;
        }
      }
    }
  }
}

// #0 sections
.section {
  position  : relative;
  max-width : 1000px;
  margin    : 0 auto;
  height    : 100vh;
  @include respond-to('mobile') {
    max-width : 100vw;
    height    : auto;
    .article-wrapper {
      padding : 0;
    }
    .article {
      width : 100%;
    }
    .scroll-container {
      display : none;
    }
    .page-header {
      height : auto;
    }
  }
  &-intro {
    .page {
      &-header {
        padding : 32px 0 0 0;
        @include respond-to('mobile') {
          padding : 15px;
          .title {
            line-height : 2.5rem;
          }
        }
      }
    }
  }
  &-love {
    .article-container {
      width : 100vw;
    }
    .scroll-container {
      @include respond-to('mobile') {
        display : none;
      }
    }
  }
  &-social {
    @include respond-to('mobile') {
      margin-top : 200px;
    }
    .article-wrapper {
      @include respond-to('mobile') {
        height : auto;
      }
    }
    .article-container {
      @include respond-to('mobile') {
        margin-top : -45px;
      }
    }
    .scroll-container {
      @include respond-to('mobile') {
        display : none;
      }
    }
  }
  &-pro {
    @include respond-to('mobile') {
      margin : 150px 0 0 0;
    }
    .article-wrapper {
      @include respond-to('mobile') {
        width : 100vw;
      }
      .article-container {
        @include respond-to('mobile') {
          margin-top : 100px;
        }
      }
    }
    .scroll-container {
      @include respond-to('mobile') {
        display : none;
      }
    }
  }
  &-cal {
    @include respond-to('mobile') {
      margin : 50px 0 0 0;
    }
    .page {
      &-header {
        padding : 50px 0 0 0;
        .article {
          &-header {
            display     : block;
            color       : #feb800;
            font-family : "Lobster", cursive;
            font-size   : 5rem;
            text-shadow : 0 0 1px #454545;
            text-align  : center;
            @include respond-to('mobile') {
              font-size : 3rem;
            }
          }
        }
      }
    }
    .article-container {
      overflow        : hidden;
      width           : 960px;
      display         : flex;
      margin          : 0 auto;
      flex-direction  : row;
      justify-content : space-between;
      align-items     : center;
      @include respond-to('mobile') {
        width : 100%;
      }
    }
    .article-wrapper {
      @include respond-to('mobile') {
        width   : 100%;
        padding : 0;
      }
    }
    .scroll-container {
      @include respond-to('mobile') {
        display : none;
      }
    }
  }
  &-numero {
    @include respond-to('mobile') {
      margin : 150px 0 50px;
    }
    .article-side {
      @include respond-to('mobile') {
        left : 0;
        top  : -53px;
      }
    }
    .article-more {
      background  : transparent;
      text-shadow : 0 0 1px #454545;
      font-weight : 600;
      &::before {
        content         : '';
        width           : 22px;
        height          : 22px;
        display         : inline-block;
        background      : transparent url($assets + "more-t.png") center no-repeat;
        background-size : contain;
        position        : absolute;
        left            : -17px;
        top             : 3px;
      }
    }
    .scroll-container {
      @include respond-to('mobile') {
        display : none;
      }
    }
  }
  #conseils .article-more {
    position    : absolute;
    bottom      : -37px;
    right       : 0;
    background  : transparent;
    color       : #454545;
    font-weight : 600;
    font-size   : 18px;
    @include respond-to('mobile') {
      right : 30px;
    }
    &::before {
      content         : '';
      width           : 18px;
      height          : 18px;
      display         : inline-block;
      background      : transparent url($assets + 'more-tb.png') center no-repeat;
      background-size : contain;
      position        : absolute;
      left            : -20px;
      top             : 4px;
    }
  }
  #objectifs {
    .article-more {
      background      : transparent;
      color           : #454545;
      font-size       : 14px;
      font-weight     : 600;
      text-align      : center;
      text-decoration : underline;
    }
  }
  &-dates {
    .scroll-container {
      @include respond-to('mobile') {
        display : none;
      }
    }
    .page-article {
      @include respond-to('mobile') {
        margin : 0;
      }
    }
    h3 {
      font-family : $ff-additional;
      position    : relative;
      color       : #1f8899;
      font-size   : 38px;
      text-align  : center;
      @include respond-to('mobile') {
        margin : 5px 0 0 0;
      }
      .huge {
        font-size    : 8rem;
        line-height  : 0;
        text-align   : center;
        margin-right : -17px;
      }
    }
    .article {
      display         : flex;
      justify-content : center;
      align-items     : center;
      width           : inherit;
      &-date {
        font-size : 38px;
        margin    : 0;
        padding   : 30px 0 0 0;
      }
      @include respond-to('mobile') {
        flex-direction : column;
        margin-top     : 125px;
      }
    }
    .article-wrapper {
      @include respond-to('mobile') {
        width : 100vw;
      }
    }
    &-wrapper {
      display : inline-block;
      width   : 320px;
      &:last-of-type {
        align-self : flex-end;
      }
      @include respond-to('mobile') {
        width   : 100vw;
        padding : 0 0 10px;
      }
    }
  }
  &-addon {
    @include respond-to('mobile') {
      margin-top    : 50px;
      margin-bottom : 50px;
    }
    .article-wrapper {
      flex-direction : row;
      @include respond-to('mobile') {
        flex-direction : column;
        width          : 100vw;
        padding        : 0;
      }
      .article-container {
        width   : 320px;
        display : inline-block;
        margin  : 15px;
        @include respond-to('mobile') {
          margin : 0 0 50px;
          width  : auto;
        }
        &:first-of-type {
          align-self : self-start;
        }
      }
      @include respond-to('mobile') {
        margin : 0;
        width  : 100vw;
      }
    }
    .headline {
      margin-left : -29px;
      padding     : 2rem;
    }
    &-content {
      color      : #454545;
      background : rgba(255, 255, 255, 0.8);
      display    : block;
      padding    : 1.6rem;
      position   : relative;
      min-height : 200px;
    }
  }
}

.article {
  &-wrapper {
    height          : 72%;
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    align-items     : center;
    padding         : 15px;
  }
}

//
.page {
  &-header {
    font-family : $ff-primary;
    height      : 150px;
    @include respond-to('mobile') {
      height : 110px;
    }
    .title {
      &-container {
        > * {
          margin      : 0;
          text-shadow : 0 0 3px #454545;
        }
      }
      text-align : center;
      color      : $primary;
      font-size  : 3.188rem;
      @include respond-to('mobile') {
        font-size : 2.188rem;
      }
    }
    .headline {
      color          : $headline;
      font-size      : 1.75rem;
      text-transform : uppercase;
      text-align     : center;
      @include respond-to('mobile') {
        font-size : 1.08rem;
      }
    }
  }
  &-article {
    background : $articleBg;
    display    : block;
    padding    : 1.6rem;
    position   : relative;
    min-height : 200px;
    @include respond-to('mobile') {
      margin-top : 56px;
    }
  }
}

// Layout
.article {
  width       : 35rem;
  margin      : 0 auto;
  font-family : $ff-secondary;
  color       : $grey;
  @include respond-to('mobile') {
    width : 99%;
  }
  &-headline {
    font-size : 28px;
    margin    : 0;
  }
  &-paragraph {
    font-size : 1.2rem;
  }
  &-more {
    background  : $primary;
    color       : $cta-color;
    font-size   : 1.2rem;
    font-family : $ff-secondary;
    &-container {
      width      : 150px;
      text-align : center;
      float      : right;
      margin-top : .8rem;
    }
  }
  &-aside {
    background-size : contain;
    display         : block;
    color           : #fff;
    width           : 250px;
    height          : 250px;
    position        : absolute;
    z-index         : -2;
    left            : -130px;
    margin-left     : -1rem;
    top             : -3.5rem;
    @include respond-to('mobile') {
      width   : 64px;
      height  : 64px;
      z-index : 2;
      right   : 12px;
      top     : 0.5rem;
      left    : inherit;
      margin  : 0;
    }
    h3 {
      font-family : $ff-additional;
      font-size   : 2rem;
      font-weight : inherit;
      @include respond-to('mobile') {
        top      : -78px;
        position : absolute;
        left     : -30px;
      }
    }
  }
}

.scroll {
  &-container {
    height     : 60px;
    bottom     : 0;
    position   : absolute;
    width      : 100%;
    z-index    : 99;
    text-align : center;
  }
  display         : inline-block;
  background      : url($assets + 'scroll.png') center no-repeat;
  background-size : cover;
  border-radius   : 50%;
  width           : 50px;
  height          : 50px;
  //margin: 0 auto;
  filter          : drop-shadow(0 0 1px #3c3c3c);
  animation       : bounce 5s ease-in-out infinite;
  &.scroll-up {
    background : url($assets + 'scroll-up.png') center no-repeat;
  }

}

.love {
  &-c {
    width : 300px;
    @include respond-to('mobile') {
      width  : 100vw;
      margin : 215px -2px 0;
    }
    .article-aside {
      color : $primary;
      left  : -160px;
      @include respond-to('mobile') {
        width      : 100vw;
        top        : -104px;
        left       : 0;
        text-align : center;
      }
      #title {
        font-size : 2.4rem;
        span {
          font-size : 8rem;
        }
        @include respond-to('mobile') {
          width : 100%;
          left  : 0;
        }
      }
    }
  }
  &-s {
    width : 300px;
    float : right;
    top   : -40px;
    left  : -40px;
    @include respond-to('mobile') {
      width        : 100vw;
      left         : 0;
      top          : 0;
      margin-top   : 7px;
      margin-right : -2px;
    }
    .article-more {
      color           : #454545;
      background      : transparent;
      text-decoration : underline;
      text-align      : right;
      font-weight     : 600;
    }
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform : translateY(0);
  }
  40% {
    transform : translateY(-30px);
  }
  60% {
    transform : translateY(-15px);
  }
}

//
// sections
.social {
  &-container {
    display         : flex;
    flex-direction  : row;
    justify-content : space-around;
    width           : 60rem;
    margin          : 0 auto;
    @include respond-to('mobile') {
      width          : 100vw;
      flex-direction : column;
    }
    .page-article {
      display     : inline-block;
      width       : 25rem;
      min-height  : 20rem;
      font-family : $ff-secondary;
      color       : $grey;
      @include respond-to('mobile') {
        width      : 100vw;
        min-height : auto;
        margin     : 5px 0 0 0;
      }
      .article-more {
        position   : absolute;
        bottom     : -44px;
        right      : 0;
        width      : 200px;
        text-align : center;
      }
    }
  }
}

#social {
  #title {
    font-family : "Lobster", cursive;
    color       : #672cae;
    position    : relative;
    font-size   : 38px;
    text-align  : center;
    @include respond-to('mobile') {
      margin : 0;
    }
    .huge {
      font-size    : 8rem;
      line-height  : 0;
      text-align   : center;
      margin-right : -17px;
    }
  }
}

.pro {
  display : flex;
  width   : 60rem;
  @include respond-to('mobile') {
    width          : 100vw;
    flex-direction : column;
  }
  .page {
    &-article {
      width : 500px;
      @include respond-to('mobile') {
        width : 100vw;
      }
    }
  }
  &-aside {
    width           : 25rem;
    font-size       : 3rem;
    font-family     : $ff-additional;
    color           : $proColor;
    text-align      : center;
    display         : inline-flex;
    justify-content : center;
    align-items     : center;
    @include respond-to('mobile') {
      width   : 100vw;
      margin  : 0;
      padding : 0;
    }
    #title {
      font-size  : 38px;
      text-align : center;
      @include respond-to('mobile') {
        margin : 0;
      }
      .huge {
        font-size    : 8rem;
        line-height  : 0;
        text-align   : center;
        margin-right : -17px;
      }
    }
  }
  .article {
    &-more {
      color           : $grey;
      background      : transparent;
      text-decoration : underline;
      text-align      : right;
      font-weight     : 600;
    }
  }
}

#sifre {
  .article-more {
    position : absolute;
    bottom   : -35px;
    right    : 0;
    padding  : 0 10px;
  }
}

.number {
  color       : $primary;
  font-size   : 24rem;
  font-family : $ff-additional;
  @include respond-to('mobile') {
    font-size : 6rem;
  }
  &-art {
    h3 {
      font-family : "Lobster", cursive;
      position    : relative;
      color       : $primary;
      font-size   : 38px;
      text-align  : center;
      .huge {
        font-size    : 8rem;
        line-height  : 0;
        text-align   : center;
        margin-right : -17px;
      }
    }
  }
}

.mo {
  &-wrapper {
    display  : block;
    width    : 960px;
    overflow : hidden;
    @include respond-to('mobile') {
      width : 240px;
    }
  }
  &-container {
    position      : relative;
    margin-top    : 0;
    margin-bottom : 10px;
    width         : calc(320px * 12);
    padding       : 0;
    margin-left   : 2px;
  }
  &-block {
    width   : 306px;
    display : inline-block;
    float   : left;
    @include respond-to('mobile') {
      width : 240px;
    }
  }
  &-article {
    background  : #fff;
    width       : 280px;
    padding     : 10px;
    height      : 350px;
    color       : $grey;
    font-family : $ff-secondary;
    h3 {
      font-size : 25px;
      margin    : 0;
      padding   : 30px 0 0 0;

      @include respond-to('mobile') {
        padding : 0 0 15px;
      }
    }
    p {
      @include respond-to('mobile') {
        font-size : 17px;
      }
    }
    @include respond-to('mobile') {
      width : 100%;
    }
  }
  &-control {
    display : block;
  }
}

.transition {
  transition : .7s;
}

.nav {
  width           : 32px;
  height          : 32px;
  display         : block;
  background-size : contain;
  &-prev {
    background : transparent url($assets + 'prev.png') no-repeat center;
  }
  &-next {
    background : transparent url($assets + 'next.png') no-repeat center;
  }
}

// layout
// Booking
.rdv {
  background-image : url($assets + 'bg-dri.jpg');
  .section {
    max-width : initial;
  }
  .main-content {
    display         : flex;
    align-items     : center;
    flex-direction  : row;
    justify-content : space-evenly;
    @include respond-to('mobile') {
      flex-direction : column-reverse;
    }
  }
  .action-button {
    font-weight : bold;
    color       : #454545;
    border      : 0 none;
    cursor      : pointer;
    padding     : 20px;
  }
  .action-button[name="next"],
  .action-button[name="submit"] {
    background : url($assets +'f-next.png') transparent top center no-repeat;
    float      : right;
  }
  .action-button[name="previous"] {
    background : url($assets +'f-prev.png') transparent top center no-repeat;
    float      : left;
  }
  .gender {
    display         : flex;
    justify-content : space-evenly;
    & > div {
      height          : 50px;
      width           : 128px;
      display         : flex;
      justify-content : center;
      align-items     : center;
      margin-bottom   : 10px;
      overflow        : hidden;
      position        : relative;
      &:hover,
      &:active {
        box-shadow : 0 0 2px #454545;
      }
    }
  }
  .FormField {
    &-Input {
      padding          : 0.2rem 0.5rem;
      border           : 0px solid;
      background-color : #8f5f7a;
      color            : #fff;
      &[type="radio"] {
        position : absolute;
        left     : -32px;
        &:checked + label {
          font-weight : 600;
        }
      }
    }
    &-Label {
      display     : flex;
      align-items : center;
      font-family : $ff-secondary;
      font-size   : 1.1rem;
      color       : $grey;
    }
  }
  select {
    height     : 38px;
    appearance : none;
  }
  .page-header {
    .title {
      font-size : 1.6rem;
    }
  }
}

.fa {
  width           : 18px;
  height          : 18px;
  display         : inline-block;
  margin-right    : 7px;
  background      : transparent no-repeat center;
  background-size : contain;
  &-venus {
    background-image : url($assets + "venus.png");
  }
  &-mars {
    background-image : url($assets + "mars.png");
  }
}

.promotion {
  &-tenmin {
    width           : 200px;
    height          : 170px;
    background      : url($assets + 'offre.png') no-repeat center;
    background-size : contain;
  }
}

.step {
  list-style  : none;
  color       : $grey;
  font-family : $ff-secondary;
  font-weight : 600;
  > li {
    padding  : 9px 0 9px 32px;
    position : relative;
    &::before {
      content             : '';
      width               : 24px;
      height              : 24px;
      display             : inline-block;
      position            : absolute;
      left                : 0;
      top                 : 7px;
      background-repeat   : no-repeat;
      background-position : center;
      background-size     : contain;
    }
  }
  &-fill::before {
    background-image : url($assets + 'fill.png');
  }
  &-appointment::before {
    background-image : url($assets + 'pick.png');
  }
  &-book::before {
    background-image : url($assets + 'apply.png');
  }
  &-payment::before {
    background-image : url($assets + 'pay.png');
  }
}

.fs {
  &-title {
    font-family     : $ff-additional;
    color           : $grey;
    font-size       : 2rem;
    text-align      : center;
    display         : flex;
    justify-content : space-around;
    align-items     : center;
    &::before,
    &::after {
      content       : '';
      width         : 40px;
      display       : inline-block;
      border-bottom : 2px solid;
    }
  }
}

fieldset {
  border : none;
}

.form-content {
  &__left {

  }
  &__right {
    width      : 30rem;
    background : #fbf8f5;
    padding    : 0 5px;
    @include respond-to("mobile") {
      width   : 100vw;
      padding : 0;
    }
  }
}

//#x Nos conseils & Vos Objectifs
.addon {
  .headline {
    text-align  : center;
    font-family : $ff-additional;
    font-size   : 3rem;
    color       : $grey;
    &::before {
      content         : '';
      width           : 66px;
      height          : 66px;
      background-size : contain;
      display         : inline-block;
    }
    &-adv {
      &::before {
        background : transparent url($assets + "adv.png") no-repeat center;
      }
    }
    &-obj {
      &::before {
        background : transparent url($assets + "obj.png") no-repeat center;
      }
    }
  }
}

a,
a:hover,
a:active,
a:visited {
  text-decoration : none;
  color           : inherit;
}

.modal {
  position         : fixed;
  width            : 100vw;
  height           : 100%;
  margin           : 0;
  background-color : rgba(0, 0, 0, 0.7);
  color            : #000;
  z-index          : 1040;
  overflow-y       : hidden;
  top              : 0;
  right            : 0;
  bottom           : 0;
  left             : 0;
  &-open {
    overflow : hidden;
  }
  &-backdrop {
    position         : fixed;
    top              : 0;
    right            : 0;
    bottom           : 0;
    left             : 0;
    z-index          : 1030;
    background-color : #000;
    &.in {
      opacity : .5;
      filter  : alpha(opacity=50);
    }
  }
  .alert {
    z-index       : 9999;
    top           : 50%;
    left          : 50%;
    transform     : translate(-50%, -100%);
    position      : absolute;
    text-align    : center;
    border-radius : 4px;
    .fa {
      display : none;
    }
    &-danger {
      color            : #b94a48;
      background-color : #f2dede;
      border-color     : #eed3d7;
    }
    &-info {
      color            : #3a87ad;
      background-color : #d9edf7;
      border-color     : #bce8f1;
    }
    &-warning {
      color            : #c09853;
      background-color : #fcf8e3;
      border-color     : #fbeed5;
    }
    &-success {
      color            : #468847;
      background-color : #dff0d8;
      border-color     : #d6e9c6;
    }
    i {
      color     : #454545;
      font-size : 1rem;
      width     : 100%;
    }
  }
}

.img {
  &-crypto {
    width   : 96px;
    display : inline-block;
    float   : left;
  }
}

.crypto {
  display    : inherit;
  background : transparent url($assets + 'crypto.png') no-repeat center;
  width      : 46px;
  height     : 40px;
}
