/* 
    ----------------------------
    --    tarot-gratuit-16    --
    ----------------------------

    Created on : 11 avril 2016
    Author     : Laurène Dourdin <2aurene@gmail.com>
*/
@import "s-landing-tarot-2";

/* Dossier images */
$img_dir : "../images_landing/jour-du-soleil-16/";
/* Palette */
$bg : #FFFCF3;
$brown : #543D13;
$gold : #A38B1D;
$bg-gold : rgba(163, 139, 29, 0.4);
$gold-transparent : rgba(163, 139, 29, 0.8);
$cyan : #67E9F3;
$btn-cyan : #3FDBEB;
$card-place : linear-gradient(to bottom, #ECCE8E 0%, #896A1D 100%);
$woman : #F9324D;
$men : #2BCEDD;

/* Animation soleil */
@keyframes sunshine {
    0%   { opacity: 0.1; }
    35%  { opacity: 1; }
    50%  { opacity: 0.5; }
    65%  { opacity: 1; }
    100% { opacity: 0.1; }
}


body {
    padding-top: 2rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    color: $brown;
    background: url($img_dir+"bg.jpg") no-repeat center top fixed;
    background-size: cover;
}

.SiteLogo {
    display: table-cell;
    background: url($img_dir+"logo-myastro.png") no-repeat;
    background-size: contain;
    height: 107px;
    width: 107px;
}
.PageLogo {
    display: table-cell;
    background: url($img_dir+"title.png") center no-repeat;
    background-size: contain;
}

.ContentBand-Column {
    vertical-align: middle;
}

.DescText-Title {
    height: auto;
    background-color: transparent;
    text-align: center;
    font-family: Pacifico, sans-serif;
    font-weight: 400;
    font-size: 2.4rem;
    color: $btn-cyan;
    
    &-Legend {
        text-align: right;
        font-size: 1.9rem;
        background: url($img_dir+"aline.png") right no-repeat;
        min-height: 107px;
        padding-right: 111px;
    }
}

.DescText-Content {
    background: transparent;
    text-indent: 5rem;
}

.WidgetTarot-Card {
    overflow: visible;
    
    &.notFlipped {
        background-color: transparent;
    }
    
    &-Face.front {
        border: none;
        background-color: transparent;
        background-image: url($img_dir+"cardback.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    &-Face.back {
        border: none;
    }
    
    &.Flipped[data-result="7"]::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-box-shadow: 0px 0px 12px 4px $gold-transparent;
        box-shadow: 0px 0px 12px 4px $gold-transparent;
        opacity: 0;
        transition: opacity 1s ease-in-out;
        
        animation-name: sunshine;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        
    }
    
    &.place {
        background: -webkit-$card-place;
        background: $card-place;
        opacity: 0.6;
        border-radius: 6px;
    }
}

.FormContainer {
    max-width: 450px;
    padding: 2rem;
    border: none;
    background-color: $bg-gold;
    
    &-Header {
        font-family: 'Ubuntu Condensed';
        padding-bottom: 3rem; 
        background: url($img_dir+"fleche.png") no-repeat bottom center;
    }
    
    &-Submit {
        padding: 1rem 4rem;
        border: none;
        border-radius: 4rem;
        background-color: $cyan;
        background: -webkit-linear-gradient(to bottom, $cyan 0%, $btn-cyan 100%);
        background: linear-gradient(to bottom, $cyan 0%, $btn-cyan 100%);
        box-shadow: inset 2px 2px 1px rgba(255, 255, 255, 0.8), inset -2px -2px 2px rgba(0, 0, 0, 0.5);
        color: $brown;
        font-family: 'Ubuntu Condensed';
        font-size: 2.2rem;
        text-transform: uppercase;
        
        &:hover {
            box-shadow: inset 2px 2px 1px rgba(0, 0, 0, 0.5), inset -2px -2px 2px rgba(255, 255, 255, 0.8);
        }
    }
    
    &.DRI .DRI {
        &-Intro {
            background-color: $bg-gold;
            font-family: 'Ubuntu Condensed', sans-serif;
            
            &-Title {
                color: $gold;
                text-transform: uppercase;
            }
            &-Text {
                color: $brown;
            }
        }
        &-Slogan {
            background-color: $gold;
            font-family: 'Ubuntu Condensed', sans-serif;
            color: white;
            text-transform: uppercase;
        }
        &-Form {
            padding: 2rem;
            background-color: $brown;
            color: white;
            
            .FormField-Input {
                text-align: center;
                font-weight: bold;
                font-size: 1.4rem;
            }
        }
        &-Sent {
            font-family: 'Ubuntu Condensed', sans-serif;
            
            strong {
                font-weight: normal;
                color: $cyan;
            }
        }
    }
}

.FormField-Label {
    text-transform: uppercase;
    
    .ico-woman {
        font-size: 1.9rem;
        font-weight: bold;
        color: $woman;
    }
    .ico-man {
        font-size: 1.9rem;
        font-weight: bold;
        color: $men;
    }
}

.FormField-Input {
    border: none;
    
    &:not([type=radio]):focus, &:not([type=radio]):focus:invalid {
        outline-width: 0;
        box-shadow: 0 0 6px -1px $gold;
        border-color: transparent;
    }
}
input[type="checkbox"], input[type="radio"] {
    width: 20px !important;
    height: 20px !important;
}
.FormField-Info {
    color: $brown;
    border: none;
    box-shadow: 0 0 6px -1px $brown;
}

.How-Header {
    margin-top: 2rem !important;
    font-weight: normal;
    font-size: 2.4rem;
    font-family: 'Ubuntu Condensed', sans-serif;
}
.How-Wizard {
    border: 1px solid $bg-gold;
    color: $brown;
    
    &Item-Img.form {
        background: transparent url($img_dir+"how-ico-form.png") center no-repeat;
        background-size: contain;
    }
    &Item-Img.phone {
        background: transparent url($img_dir+"how-ico-phone.png") center no-repeat;
        background-size: contain;
    }
}

.ReassuranceList {
    background: $gold-transparent;
}

.ReassuranceList-Item-Img.star {
    background: transparent url($img_dir+"ico-star-dark.png") center no-repeat;
    background-size : contain;
}
.ReassuranceList-Item-Img.lock {
    background: transparent url($img_dir+"ico-lock-dark.png") center no-repeat;
    background-size : contain;
}
.ReassuranceList-Item-Img.gift {
    background: transparent url($img_dir+"ico-gift-dark.png") center no-repeat;
    background-size : contain;
}
.ReassuranceList-Item-Img.trophy {
    background: transparent url($img_dir+"ico-trophy-dark.png") center no-repeat;
    background-size : contain;
}

.alert {
    border-radius: 5px;

    &-danger {
        color: #a94442;
        background-color: #f2dede;
        border-color: #ebccd1;
    }
    &-success {
        color: #3c763d;
        background-color: #dff0d8;
        border-color: #d6e9c6;
    }
    &-warning {
        color: #8a6d3b;
        background-color: #fcf8e3;
        border-color: #faebcc;
    }
    &-info {
        color: #31708f;
        background-color: #d9edf7;
        border-color: #bce8f1;
    }
}
@media screen and (max-width: 1000px) and (min-width: 730px){
    .DescText-Title {
        font-size: 2rem;
        &-Legend {
            font-size: 1.7rem;
        }
    }
}
@media screen and (max-width: 810px) and (min-width: 730px){
    .DescText-Title {
        font-size: 1.8rem;
        &-Legend {
            font-size: 1.5rem;
        }
    }
}
@media screen and (max-width: 600px){
    .ContentBand {
        margin-top: 1rem;
    }
    .SiteHeader {
        margin-bottom: 0;
        .SiteLogo, .PageLogo {
            display: block;
            width: 90%;
            margin: auto;
            background-position: center;
        }
        .PageLogo {
            height: 120px;
        }
    }
}
@media screen and (max-width: 430px){
    body {
        background: $bg;
    }
    .DescText-Title {
        font-size: 1.8rem;
        &-Legend {
            font-size: 1.5rem;
        }
    }
}