/* 
    intégration : guillaume deschamps <guillaumedeschamps75@gmail.com>
    20/07/2016 pour KGCOM

    Destiné à une page DRI simple sur deux colonnes :
    1: bloc voyante + bloc FAQ
    2: liste voyant-e-s + formulaire "rappel gratuit"
*/

@import "_s-landing-voyance-2";

// your own styles
// -----------------
/* --------------- fonts --------------- */

/* --------------- variables  --------------- */

$img_dir : "../images_landing/laura-simple/";
$gris-texte : #808080;
$rose: #fc2c93;
$vert: #d6e2d9;
$bleuFonce : #1c546d;

$font1: 'Courgette', cursive;

$color1: #f85e15; //orange submit, titles, accroches
$color2: #f5e5d7; //orange tres pale, background
$color3: #551c2f; //bordeaux, bg-reassurance
$color4: #6d6c6a; // gris texte courant

html {
    height: 100%;
}

body {
    padding-top: 2rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: white;
    background: $color2 url($img_dir+"bg.png") no-repeat left top;
}

h2, h3{ color:$color1; font-family: $font1}

submit, 
h1,h2,h3,h4,h5,h6{
    hyphens: none;
}

.SiteHeader{
    display: inline-block;
    width: 100%;
    height: 100px;
}

.SiteLogo {
    background: url($img_dir+"logo-MYASTRO.svg") center no-repeat;
    background-size: contain;
    width: 10rem;
    height: 10rem;
    margin: 0 auto;
    display: block;
    h1{opacity: 0}
    
    &:before,
    &:after{
        border-top:2px solid $color3;
        content: " ";
        width: 15%;
        height: 100%;
        display: inline-block;
        position: absolute;
        top: 0;
        left: 13%;
    }
    
    &:before{        
        position: absolute;
        top: 48%;
        left: 29%;
    }
    &:after{        
        position: absolute;
        top: 48%;
        left: 56%;
    }
}

.main-voyant {
    background: url($img_dir+"voyante-laura.png") top left no-repeat;
    text-align: right;
    height: 18rem;
    display: flex;
    align-items:flex-end;
    justify-content:flex-end;
}

.ContentBand{
    margin-top: 0;
    &-Column{
    
    }
    &-title{
        font-size: 2rem;
        height: 10rem;
        text-align: right;
    }
    
}

.TextContent {
}

.DescText{
    background-color: white;
    color:$color3;

    
    &-Title {
        background-color: transparent;
        padding-left: 30%;
        text-align: center;
        font-family: 'Dancing Script', 'Open Sans', sans-serif;
        font-weight: 500;
        font-size: 3.5rem;
        font-size: 3.5rem;
        line-height: 4.8rem;
        margin-bottom: 4rem;
        text-shadow: 0 0 4px #ccc;

        &-Legend {
            padding-top: 0;
            background-color: transparent;
            text-align: right;
            font-size: 1.9rem;
            text-shadow: 0 0 4px #ccc;
        }
    }
    &-Content {
        background: transparent;
        color: $color3;
        padding: 2rem 1.8rem 2.6rem 2rem;
        
        p:first-child{
            &::first-letter {
              font-size: 3rem;
            }
        }
    }
}

.FormContainer {
    max-width: inherit;
    
    &-Header {
        font-family: 'Ubuntu Condensed';
        color: $color1;
        padding-bottom: 3rem; 
        background: url($img_dir+"fleche.png") no-repeat bottom center;
    }
    
    &-Submit {
        margin-bottom: -5rem;
        padding: 1rem 4rem;
        background-color: $color1;
        color: #fff;
        font-size: 2.2rem;
        text-transform: uppercase;
        border:0px solid red;
        transition: all 0.25s ease-in;
        &:hover {
            background-color: darken($color1, 25%);
        }
    }
    
    &.DRI .DRI {
        &-Intro {
            font-family: 'Ubuntu Condensed', sans-serif;
            
            &-Title {
                color: #ccc;
                text-transform: uppercase;
            }
            &-Text {
                color: white;
            }
        }
        &-Slogan {
            background-color: lighten($color1, 20%);
            color: #fff;
            span{text-transform: uppercase;}
        }
        &-Form {
            padding: 2rem;
            background-color: #fff;
            
            .FormField-Input {
                text-align: center;
                font-weight: bold;
                font-size: 1.4rem;
                color: #bbb;
            }
        }
        &-Sent {
            color: $color3;
            strong {
                font-weight: normal;
                color: $color1;
            }
        }
        /* MODULE LISTE VOYANT-E-S */
        &-list-voyants{
            margin-bottom: 2rem;
            
            h2{font-size:2rem;}
            
            ul{
                display: flex;
                flex-direction: row;
                //align-items: stretch;
                justify-content: space-between;
                margin: 0; 
                padding: 0;
                list-style: none;
                
                li {
                    margin: 0;
                    padding: 0;
                    div{
                        width: 10rem;
                        height: 10rem;
                    }
                    span{
                        text-transform: uppercase;
                        color:$color4;
                        font-size: 1.8rem;
                    }
                }
            }
            .voyant-marc{
                background: url($img_dir+"voyant-marc.jpg") no-repeat bottom center;
            }
            .voyant-anissa{
                background: url($img_dir+"voyant-anissa.jpg") no-repeat bottom center;
            }
            .voyant-jean{
                background: url($img_dir+"voyant-jean.jpg") no-repeat bottom center;
            }
            .voyant-marianne{
                background: url($img_dir+"voyant-marianne.jpg") no-repeat bottom center;
            }
        }
        
    }
}

.FormField{
    &-Input {
        border: 1px solid #ccc;

        &:not([type=radio]):focus, &:not([type=radio]):focus:invalid {
            outline-width: 0;
            border-color: transparent;
        }
        
        &:active,
        &:focus{
            background-color: lighten($color1, 45%);
        }
    }
    
    &-Info {
        border: none;
        color: #ccc;
        box-shadow: 0 0 6px -1px #ccc;
    }
}

input[type="checkbox"], input[type="radio"] {
    width: 20px !important;
    height: 20px !important;
}

.faq{
    background: #fff url($img_dir+"bg-faq.jpg") no-repeat;
    background-size: cover;
    margin-top: 3rem;
    padding: 2rem 2.5rem; 
    color:#6d6c6a;
    
    h3{
        text-transform: uppercase;
        font-family: inherit;
        font-weight:400;
    }
    
    ul{
        
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0;
        padding: 0;

        li{
            font-style: italic;
            font-size: 1.6rem;
            line-height: 120%;
            list-style: none;
            padding: 0 0 10px 50px; 
        }

        .ico-formulaire{
            background: transparent url($img_dir+"ico-form.svg") center left no-repeat;
        }
        .ico-standardiste{
            background: transparent url($img_dir+"ico-phone.svg") center left no-repeat;
        }
    }
}




.ReassuranceList {
    background-color: $color3;
}

.ReassuranceList-Item-Img.star {
    background: transparent url($img_dir+"ico-star.png") center no-repeat;
    background-size: contain;
}
.ReassuranceList-Item-Img.lock {
    background: transparent url($img_dir+"ico-lock.png") center no-repeat;
    background-size: contain;
}
.ReassuranceList-Item-Img.gift {
    background: transparent url($img_dir+"ico-gift.png") center no-repeat;
    background-size: contain;
}
.ReassuranceList-Item-Img.trophy {
    background: transparent url($img_dir+"ico-trophy.png") center no-repeat;
    background-size: contain;
}

.alert {
    border-radius: 5px;

    &-danger {
        color: #a94442;
        background-color: #f2dede;
        border-color: #ebccd1;
    }
    &-success {
        color: #3c763d;
        background-color: #dff0d8;
        border-color: #d6e9c6;
    }
    &-warning {
        color: #8a6d3b;
        background-color: #fcf8e3;
        border-color: #faebcc;
    }
    &-info {
        color: #31708f;
        background-color: #d9edf7;
        border-color: #bce8f1;
    }
}

.SiteCopyright{color:$color3}

@media screen and (min-height: 1000px){

}
@media screen and (max-width: 1000px){

}
@media screen and (max-width: 730px){
    
}
@media screen and (max-width: 640px){
   
    .PageWrapper{
        display:inherit;
        padding: 0 2rem;
        flex-wrap: wrap-reverse;
    }
    
    .SiteLogo{
        &:after,
        &:before{
            display:none;
        }
    }
    
    .flex-mobile{
        border:0px solid red;
        display: flex;
        flex-direction: column-reverse;  

        
    }
    
    .FormContainer{
        padding: 0;
    }
    
    .colG,
    .colD{
        margin: 0;
        width: 100%;
    }
    
    .main-voyant{
        background-image:none;
        height: inherit;
        text-align: center;
        margin: 1rem 0 2rem;
        
        h2 {
            font-size:2rem;
            height:inherit; 
            text-align:center; 
            margin: 0 auto;
        }
    }
    
    .DRI-list-voyants{
        //margin-top: 4rem;
        ul{
           /* display:inherit !important;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0; 
            padding: 0;
            list-style: none;
            width: 100%;*/
            
            li{
                display:flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                //margin-bottom: 1rem;
                
                &:nth-child(3),
                &:nth-child(4){
                    display: none;
                }
            }
        }
    }
    
    
    .DescText-Content{
        padding: 1.5rem;
    }
    
    .DescText-Content,
    .faq{
        width: 100%;
        h3{font-size: 1.8rem}
        ul{
            /*flex-direction: column;
            align-items:flex-start;
            justify-content: space-between;*/
            @include grid(2);
        }
    }
    
    .DRI-Form {
        margin-bottom: 4rem;
    }
}
@media screen and (max-width: 470px){
   

}
@media screen and (max-width: 400px){
   
}
