/* 
    intégration : guillaume deschamps <guillaumedeschamps75@gmail.com>
    25/07/2016 pour KGCOM
*/


@import "_s-landing-voyance-2";

// your own styles
// -----------------

/* --------------- fonts --------------- */
$font1: 'Gochi Hand', cursive;
$font2: 'Raleway', sans-serif;
$font3: 'Oswald', sans-serif;

/* --------------- variables  --------------- */

$img_dir : "../images_landing/louise-grandol/";

$color1: #b9cbd7; //bleu foncé, header
$color2: #eceff1; //bleu gris, background
$color3: #f05882; //rose meuf
$color4: #454545; // gris texte courant


/* --------------- LAYOUT  --------------- */

html {
    height: 100%;
}

body {
    font-family: "Arial", sans-serif;
    background: $color2;
    color: $color4;
}

h2, h3{}

.hide{display: none}

.btn,
submit, 
h1,h2,h3,h4,h5,h6{
    hyphens: none;
}

.SiteHeader{
    display: inline-block;
    width: 100%;
    height: 14rem;
    text-align: center;
    color:#fff;
    background: $color1 url($img_dir+"main-logo.png") no-repeat;
    background-position: 70% 50%;
    margin-bottom: 4rem;
    
    h1{
        font-size: 5.3rem;
        font-weight: 300;
        font-family: $font2;
    }
}

.SiteLogo {
    width: 10rem;
    height: 10rem;
    margin: 1rem auto;
    display: block;
    h1{opacity: 0}
}

.ContentBand{
    max-width: 114rem;
    margin: 0 auto 2rem;

    .PageWrapper{
        background: #fff;
        padding: 2rem 6rem 3rem;
        max-width: inherit;
        margin-bottom: 10rem;
    }
}

.typoManu{
    font-family: $font1;
}

/* ---------------  GESTION DES ETAPES AU CHARGEMENT --------------- */
.form{
    &-second-step,
    &-third-step
    {
        display:none;
    }
}    

.FormContainer-Title{
    display:none;
    text-align: center;
    span{margin: 0 auto}
}

.title-choice{
    text-decoration: underline;
    text-align: center;
}

/* ---------------  COLONNE GAUCHE PORTRAIT --------------- */
.louise-portrait{
    padding-right: 7rem;
    
    &-img{
        background: url($img_dir+"louise.jpg") no-repeat;
        max-width: 44rem;
        height: 34rem;
    } 
    &-name{
        font-family: $font1;
        width: 100%;
        text-align: right;
        font-size: 2.5rem;
    } 
    &-sign{
        background: url($img_dir+"louise-sign.jpg") top right no-repeat;
        //width: 8.9rem;
        height: 7.2rem;
        width: 100%;
    } 
}

/* ---  PICTOS ET BOUTON RADIO THEME_ID --- */
#choice{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    
    input[type=radio]{
        display: inline-block;
        position:absolute;
        width: 60px;
        height: 60px;
        opacity:0;
        cursor: pointer; 
        
        transition:all 0.25s ease-in; 
    }
    
    label,
    input[type=radio]{
        transition:all 0.25s ease-in; 
        font-size: 2rem;
    }
    
    label:hover,
    input[type=radio]:hover{
        color:$color3;
        
        .ico-amour{
            background: $color3 url($img_dir+"ico-amour-w.svg") center no-repeat; 
            background-size: 80%;
        }

        .ico-argent{
            background: $color3 url($img_dir+"ico-argent-w.svg") center no-repeat; 
            background-size: 80%;
        }

        .ico-travail{
            background: $color3 url($img_dir+"ico-travail-w.svg") center no-repeat; 
            background-size: 80%;
        }
    }
}
.ico-amour,
.ico-argent,
.ico-travail{
    width: 5rem;
    height: 5rem;
    display: block;
    border-radius: 3rem;
    margin:0 auto;
    background-color: $color2 ;
    //transition: all 0.25s ease-in;
    cursor: pointer; 
}

//transition: all 0.25s ease-in;
.ico-amour{
    background: $color2 url($img_dir+"ico-amour.svg") center no-repeat; 
    background-size: 80%;
}

.ico-argent{
    background: $color2 url($img_dir+"ico-argent.svg") center no-repeat; 
    background-size: 80%;
}

.ico-travail{
    background: $color2 url($img_dir+"ico-travail.svg") center no-repeat; 
    background-size: 80%;
}

input[name='theme_id']{
   /* opacity: 0;
    position: absolute;
    top: -1rem;*/
}

.flex-radio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.ico-woman{color:$color3;}
.ico-man{color:#0ae9d1;}

/* ---------------  GESTION DES FORMULAIRES --------------- */
.FormContainer {
    padding: 0;
    background: transparent;
    
    
    &-Header {
        text-align: left;
        font-size: 2.5rem;
        & + p{
            font-size: 1.7rem;
        }
        
    }
    
    .btn,
    &-Submit {
        padding: 1rem 4rem;
        margin: 1rem auto;
        background-color: $color3;
        color: #fff;
        font-size: 2.2rem;
        text-transform: uppercase;
        transition: all 0.25s ease-in;
        display: table;
        text-decoration: none;
        border: 0px solid red;
        &:hover {
            background-color: darken($color3, 25%);
        }
    }
    
    /* ---------------  GESTION SECONDE ETAPE --------------- */
    &.DRI .DRI {
        
        &-Intro {
            
            &-Title {
                color: #ccc;
                text-transform: uppercase;
            }
            &-Text {
                color: white;
            }
        }
        &-Slogan {
            font-family: $font3;
            font-weight: bold;
            color: $color3;
            background: transparent;
        }
        &-Form {
            padding: 2rem;
            background-color: $color2;
            
            .FormField-Input {
                text-align: center;
                font-weight: bold;
                font-size: 1.4rem;
                color: #bbb;
                border: 0px solid #ccc;
            }
        }
        &-Sent {
            color: $color1;;
            strong {
                font-weight: normal;
                color: $color4;
            }
        }
                
    }
}

/* ---------------  GESTION TROISIEME ETAPE --------------- */
.form-third-step{
    .FormContainer-Header {
        text-align: center;
        font-size: 2rem;
        padding-bottom: 3.5rem;
        background: transparent url($img_dir+"triangle.svg") center no-repeat;
        background-position: center bottom;
    }
}

.FormField{
    &-Input {
        border: 1px solid #ccc;

        &:not([type=radio]):focus, &:not([type=radio]):focus:invalid {
            outline-width: 0;
            border-color: transparent;
        }
        
        &:active,
        &:focus{
            background-color: lighten($color2, 5%);
        }
    }
    
    &-Info {
        border: none;
        color: #ccc;
        box-shadow: 0 0 6px -1px #ccc;
    }
}

input[type="checkbox"], input[type="radio"] {
    width: 20px !important;
    height: 20px !important;
}


/* --------------- FOOTER  --------------- */

.ReassuranceList {
    background-color: $color3;
    color: #fff;
}

.ReassuranceList-Item-Img.star {
    background: transparent url($img_dir+"ico-star.png") center no-repeat;
    background-size: contain;
}
.ReassuranceList-Item-Img.lock {
    background: transparent url($img_dir+"ico-lock.png") center no-repeat;
    background-size: contain;
}
.ReassuranceList-Item-Img.gift {
    background: transparent url($img_dir+"ico-gift.png") center no-repeat;
    background-size: contain;
}
.ReassuranceList-Item-Img.trophy {
    background: transparent url($img_dir+"ico-trophy.png") center no-repeat;
    background-size: contain;
}

/* ************** MODALE *************** */
.overlay {
    display: none;
    position:fixed !important;
    top:0;
    left:0;
    z-index:100;
    width:100vw;
    height:100vh !important;
    max-width: none;
    background-color: rgba(0, 0, 0, 0.75);
    border:0px solid red;
    color:black;

    p.alert {
        display: table-cell;
        vertical-align: middle;
        height: 25rem;
        width: 40rem;
        left: 50%;
        top: 50%;
        margin: -12.5rem -20rem;
        padding:1rem;
        position: absolute;
        text-align: center;
        background: #fff;
        color:#85eeaa;
        border:0px solid red;
        font-family:$font3;



        // TITRE DE LA MODALE
        b{
            margin-bottom: 1rem;
            display: inline-block;
            font-size:2rem;
            width: 100%;
        }

        // BOUTON DE FERMETURE DE LA MODALE
        br + i{
            padding: 0.5rem 0.8rem;
            background: #ccc;
            color:#fff;
            cursor: pointer;
            display: inline-block; 
            position: absolute;
            bottom: 1rem;
            left: 22%;

               :after{
                content:"fermer";
                text-transform:uppercase;
                text-align: center;
                width: 60%;
                padding: 1rem;
            }

        }
    }
}
.alert {
    border-radius: 5px;

    &-danger {
        color: #a94442;
        background-color: #f2dede;
        border-color: #ebccd1;
    }
    &-success {
        color: #3c763d;
        background-color: #dff0d8;
        border-color: #d6e9c6;
    }
    &-warning {
        color: #8a6d3b;
        background-color: #fcf8e3;
        border-color: #faebcc;
    }
    &-info {
        color: #31708f;
        background-color: #d9edf7;
        border-color: #bce8f1;
    }
}

.SiteCopyright{color:$color4}


/* --------------- RESPONSIV  --------------- */

@media screen and (min-width: 680px){
    .louise-portrait {
        margin-top: 7rem;
    }
}
@media screen and (max-width: 1000px){
.SiteHeader{ background-position: 80% 50%;}
}
@media screen and (max-width: 730px){
    
}
@media screen and (max-width: 640px){
   
    .SiteHeader {
        height: auto;
        h1 {
            font-size: 3rem;
        }
    }
    
    .ContentBand .PageWrapper{
       padding: 2rem;
    }
    
    .louise-portrait{
        margin: 1rem auto;
        padding: 0rem;
        &-img {
            height: 30rem;
            max-width: inherit;
            background-position: i;
        }
    }
    
    .flex-mobile{
        border:0px solid red;
        display: flex;
        flex-direction: column-reverse;  

        
    }
    
    .FormContainer{
        padding: 0;
    }
    
}
@media screen and (max-width: 470px){
   

}
@media screen and (max-width: 400px){
   
}
