/* 
    ----------------------------------
    --      merci-voyance-tchat     --
    ----------------------------------

    Created on : 23 novembre 2016
    Author     : Laurène Dourdin <2aurene@gmail.com>
*/
@import "templates/s-merci-voyance";

/* Dossier images */
$img_dir : "../images_landing/merci-voyance-tchat/";
/* Palette */
$grey : #595959;
$darkgrey : #454545;
$lightgrey : #E6E6E6;
$bg_pink : #F6DED4;
$red : #F80331;
$darkred : #C20225;
$green : #1FCA90;
/* Images */
$img_bg : $img_dir + "bg.jpg";
$img_logo : $img_dir + "logo-myastro.png";
$icon_star : $img_dir + "ico-star.png";
$icon_gift : $img_dir + "ico-gift.png";
$icon_lock : $img_dir + "ico-lock.png";
$icon_trophy : $img_dir + "ico-trophy.png";
$icon_secure : $img_dir + "ico-secure.png";
$how_ico_user_choice : $img_dir + "how-ico-user-choice.png";
$how_ico_tchat : $img_dir + "how-ico-tchat.png";

/* --------------------------- STRUCTURE GÉNÉRALE --------------------------- */

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    background-color: white;
    color: $darkgrey;
}

.ContentBand.WithDecoration {
    background: url($img_bg);
    background-size: cover;
}

.WithDecoration-Img {
    position: absolute;
    bottom: 0;
    right: 700px;
}
@media all and (max-width: 1230px){
    .WithDecoration-Img { display: none;}
}
@media all and (max-width: 940px){
    .WithDecoration-Img {
        display: block;
        right: 0;
        bottom: -4.8rem;
    }
}
@media all and (max-width: 560px){
    .WithDecoration-Img { display: none;}
}
/* ----------------------------- BANDEAU ENTETE ----------------------------- */

.SiteHeader {
    background-color: $darkgrey;
    color: white;
}

/* -------------------------- INSCRIPTION VALIDEE --------------------------- */

.SiteLogo {
    background: url($img_logo);
    background-size: contain;
    height: 107px;
    width: 107px;
}

.DescText-Title {
    font-size: 2rem;
    text-transform: uppercase;
    color: $green
}

/* --------------------------- BLOC PROMOTIONNEL ---------------------------- */

.PromoContent-Window {
    border-radius: 1rem 1rem 0 0;
}

.PromoContent-Slogan {
    margin-bottom: 0;
}    

.PromoContent-Title {
    padding-bottom: 1rem;
    border-width: 3px;
    border-color: $darkgrey;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    font-size: 4rem;
    color: $red;
}

.PromoContent-Ribbon {
    background-color: $darkgrey;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
}

.PsychicList-Item {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 2.4rem;
}

@media all and (max-width: 610px){
    .PromoContent-Title {
        font-size: 3.2rem;
    }
    .PromoContent-Slogan {
        font-size: 2rem;
    }
}
@media all and (max-width: 510px){
    .PromoContent-Window { border-radius: 0;}
}
@media all and (max-width: 470px){
    
}

/* --------------------------- COMMENT CA MARCHE ---------------------------- */

.How-Header {
    color: $green;
    font-weight: normal;
    font-size: 2.5rem;
}

.How-Wizard {
    border-color: $lightgrey;
    border-radius: 5px;
    
    &Item-Img.user-choice {
        background: transparent url($how_ico_user_choice) center no-repeat;
        background-size: contain;
    }
    &Item-Img.tchat {
        background: transparent url($how_ico_tchat) center no-repeat;
        background-size: contain;
    }
}

/* ------------------------------- FORMULAIRE ------------------------------- */

.FormContainer {
    border-radius: 0 0 1rem 1rem;
    background-color: $bg_pink;
    &-Title {
        font-family: 'Lobster', cursive;
        font-weight: normal;
        font-size: 2.5rem;
    }
    &-Slogan {
        font-size: 2.3rem;
    }
}

.FormField-Button {
    background-color: $red;
    border-radius: 4px;
    &:hover {
        background-color: $darkred;
        color: $lightgrey;
    }
}

@media all and (max-width: 740px){
    .FormContainer-Slogan {
        font-size: 1.8rem;
    }
}
@media all and (max-width: 510px){
    .FormContainer { border-radius: 0;}
}

/* ------------------------------- REASSURANCE ------------------------------ */

.SiteFooter, .ReassuranceList {
    background-color: $darkgrey;
    color: white;
}

.ReassuranceList-Item-Img.star {
    background: transparent url($icon_star) center no-repeat;
    background-size: contain;
}
.ReassuranceList-Item-Img.lock {
    background: transparent url($icon_lock) center no-repeat;
    background-size: contain;
}
.ReassuranceList-Item-Img.gift {
    background: transparent url($icon_gift) center no-repeat;
    background-size: contain;
}
.ReassuranceList-Item-Img.trophy {
    background: transparent url($icon_trophy) center no-repeat;
    background-size: contain;
}
.ReassuranceList-Item-Img.secure {
    background: transparent url($icon_secure) center no-repeat;
    background-size: contain;
}

/*
@media screen and (max-width: 1200px){
    .ContentBand {
        background: #FFF url($img_dir+"bg-color.jpg") repeat-x top;
    }
}
@media screen and (max-width: 900px){
    .ContentBand {
        background: url($img_dir+"bg-md.jpg") center top no-repeat;
    }
}
@media screen and (max-width: 580px){
    .ContentBand {
        background: #FFF url($img_dir+"bg-color.jpg") repeat-x top;
    }
    .FormContainer {
        border-radius: 0px;
    }
}
*/