/* 
    ----------------------------
    --     numerologie-amour     --
    ----------------------------

    Created on : 19 juillet 2016
    Author     : Laurène Dourdin <2aurene@gmail.com>
                 Guillaume Deschamps <guillaumed.kgcom@gmail.com>

    Description : un layout basé sur une grille d'une seule colonne centrale
*/

@import "s-landing-voyance-2";

/* Dossier images */
$img_dir : "../images_landing/numerologie-amour-2017/";

/* Palette */
$color1 : #17202C;
$color2 : #FD5610;
$color3 : #FFFFFF; 
$primary: #FF1844;
$secondary: #AC4B5E;
$bg : $color1;
$woman : $color2;
$men : $color1;

/* Typos */
$font1: 'Amatic SC', cursive; // titre-princip1
$font2: 'Cookie', cursive; // titre-princip1
$font3: "Open Sans", sans-serif; // texte courant
$font4: 'Ubuntu Condensed', sans-serif; // titres

/* Images */
$bg1 : $img_dir + "bg1.jpg";
$bg2 : $img_dir + "bg2.jpg";
$bg3 : $img_dir + "bg3.png";
$logo : $img_dir + "logo-MYASTRO.svg";
$title : $img_dir + "bg-title.png";
$titre : $img_dir + "titre.svg";
$promo : $img_dir + "ten-min-free.png";
$photo1 : $img_dir + "photo-fete.png";
$photo2 : $img_dir + "photo-nouvel-an.png";
$ico_star : $img_dir + "ico-star.png";
$ico_gift : $img_dir + "ico-gift.png";
$ico_lock : $img_dir + "ico-lock.png";
$ico_trophy : $img_dir + "ico-trophy.png";

/* Mixins */
@mixin box-shadow {
    box-shadow: 0 0 6px -1px black;
}


html { height: 100%;}
body {
    padding: 2rem;
    font-family: $font3;
    font-weight: 400;
    color: white;
}
.bg1 {
    background: $bg url($bg1) no-repeat center top fixed;
    background-size: cover;
}
.bg2 {
    background: $bg url($bg2) no-repeat center top fixed;
    background-size: cover;
}
.bg3 {
    background: $bg url($bg3) no-repeat center top fixed;
    background-size: cover;
}


/* ------------------------------ MACRO-TYPOS ------------------------------- */
h2, button { hyphens: none;}

/* --------------------------------- LAYOUT --------------------------------- */
.FormContainer { max-width: 60rem;}
.PageWrapper { padding:0;}
.ContentBand { margin-top: 0;}
.SiteHeader {
    .PageWrapper {
        display: flex;
        flex-direction: row;
    }
}
.SiteLogo {
    background: url($logo) no-repeat;
    background-size: contain;
    height: 110px;
    width: 15%;
}
.PageLogo {
    width: 70%;
    text-align: center;
    span {
        font-family: $font1;
        font-size: 8rem;
        text-transform: uppercase;
        font-weight: normal;
        text-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.45);
    }
    span + span {
        font-family: $font2;
        font-size: 10rem;
        text-transform: lowercase;
        text-transform: capitalize;
        background: url($title) 100% 70% no-repeat;  
        padding-right: 5rem;
    }
}

.ContentBand-ColumnHeader * {
    text-align: center !important;
}
.ContentBand-ColumnHeader p,
.FormContainer-Slogan,
.FormContainer-name,
.FormContainer-name + p {
    font-weight: bold;    
}
    
.DescText-Title {
    background: transparent url($titre) no-repeat center;
    background-size: contain;
    margin-bottom: -8rem;
    span { display:none;}
    &-Legend {
        padding-top: 0;
        background-color: transparent;
        text-align: right;
        font-size: 1.9rem;
        text-shadow: 0 0 4px $color1;
    }
}
.DescText-Content {
    background: transparent;
    text-indent: 5rem;
}
.FormContainer {
    background: transparent;
    &-Fields { padding: 2rem;}
    &-Header {
        font-family: $font2;
        color: white;
        font-size: 4.5rem;
    }
    &-Submit {
        padding: 1rem 4rem;
        border: 0px solid $color1;
        background-color: $color2;
        color: white;
        font-family: $font3;
        font-size: 2.2rem;
        text-transform: uppercase;
        transition: background 0.25s ease-in;
        &:active, &:focus, &:hover {
            background-color: darken($color2, 20%);
        }
    }
    
    &.DRI .DRI {
        box-shadow: 0 0 0px 0px black;
        background: transparent;
        &-Intro {
            background-color: $color1;
            font-family: $font2;
            &-Title {
                color: $color1;
                text-transform: uppercase;
            }
            &-Text { color: white;}
        }
        &-Slogan {
            background: transparent url($promo) center no-repeat;
            width: 182px;
            height: 111px;
            display: inline-block;
            margin: 15px auto;
            span { display:none;}
        }
        &-Form {
            padding: 2rem;
            background-color: transparent;
            .FormField-Input {
                text-align: center;
                font-weight: bold;
                font-size: 1.4rem;
            }
        }
        &-Sent {
            font-family: $font2;
            font-size: 3rem;
            strong { font-weight: normal;}
        }
    }
}

.FormField-Label {
    text-transform: uppercase;
    .ico-woman {
        font-size: 1.9rem;
        font-weight: bold;
        color: $woman;
    }
    .ico-man {
        font-size: 1.9rem;
        font-weight: bold;
        color: $men;
    }
}

.FormField-Input {
    border: none;
    transition: all 0.25s ease-in;
    &:active, &:focus {
        box-shadow: 0 0 6px -1px $color1;   
        background-color: #fffdc5;
    }
    &:not([type=radio]):focus, &:not([type=radio]):focus:invalid {
        outline-width: 0;
        box-shadow: 0 0 6px -1px $color1;
        border-color: $color1;
    }
}
.FormField-Info {
    border: none;
    color: $color1;
    box-shadow: 0 0 6px -1px $color1;
}

input[type="checkbox"], input[type="radio"] {
    width: 20px !important;
    height: 20px !important;
}

/* --------------------------------- MODALE --------------------------------- */
.overlay {
    display: none;
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh !important;
    max-width: none;
    background-color: rgba(0, 0, 0, 0.75);
    border: 0px solid red;
    color: black;

    p.alert {
        display: table-cell;
        vertical-align: middle;
        height: 25rem;
        width: 40rem;
        left: 50%;
        top: 50%;
        margin: -12.5rem -20rem;
        padding: 1rem;
        position: absolute;
        text-align: center;
        background: #fff;
        color: $color1;
        border: 0px;
        font-family: $font3;
        
        // TITRE DE LA MODALE
        b {
            margin-bottom: 1rem;
            display: inline-block;
            font-size: 2rem;
            width: 100%;
        }
        // BOUTON DE FERMETURE DE LA MODALE
        br + i {
            padding: 0.5rem 0.8rem;
            background: #ccc;
            color: #fff;
            cursor: pointer;
            display: inline-block; 
            position: absolute;
            bottom: 1rem;
            left: 22%;
            :after {
                content: "fermer";
                text-transform: uppercase;
                text-align: center;
                width: 60%;
                padding: 1rem;
            }
        }
    }
}

/* ------------------------------- ANIMATIONS ------------------------------- */
.polaroid {
    width: 30rem;
    height: 35.5rem; 
    border: 0px solid red;
}
#photo1 {
    background: url($photo1) center no-repeat;
    background-size: contain;
    position: absolute;
    top: 10rem;
    left: -5rem;
    opacity: 0;
}
#photo2 {
    background: url($photo2) center no-repeat;
    background-size: contain;
    position: absolute;
    top: 25rem;
    left: -12rem;
    opacity: 0;
}
.anim-photo1 {
    animation-name: anim-photo;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}
.anim-photo2 {
    animation-name: anim-photo;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

@keyframes anim-photo {
    0% {
        opacity: 0;
        transform: translate(-200px,0); 
    }
    100% {
        opacity: 1;
        transform: translate(0,0);
    }
}

/* --------------------------------- FOOTER --------------------------------- */
.ReassuranceList {
    background-color: $color3;
    color: $color1;
    font-family: $font3;
    @include box-shadow;
}

.ReassuranceList-Item-Img.star {
    background: transparent url($ico_star) center no-repeat;
    background-size: contain;
}
.ReassuranceList-Item-Img.lock {
    background: transparent url($ico_lock) center no-repeat;
    background-size: contain;
}
.ReassuranceList-Item-Img.gift {
    background: transparent url($ico_gift) center no-repeat;
    background-size: contain;
}
.ReassuranceList-Item-Img.trophy {
    background: transparent url($ico_trophy) center no-repeat;
    background-size: contain;
}

.alert {
    border-radius: 5px;
    &-danger {
        color: #a94442;
        background-color: #f2dede;
        border-color: #ebccd1;
    }
    &-success {
        color: #3c763d;
        background-color: #dff0d8;
        border-color: #d6e9c6;
    }
    &-warning {
        color: #8a6d3b;
        background-color: #fcf8e3;
        border-color: #faebcc;
    }
    &-info {
        color: #31708f;
        background-color: #d9edf7;
        border-color: #bce8f1;
    }
}

/* -------------------------------- PAGE TEL -------------------------------- */
.FormContainer-Slogan{}
.FormContainer-name{}
.FormContainer.DRI {
    background-color: transparent;
    text-align: center;
    box-shadow: inherit;
}
.FormContainer-Slogan-bloc{
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    border: 2px solid white;
    padding: 15px;
    max-width: 60rem;
    margin: 0 auto;
}

/* ------------------------- RESULTATS NUMEROLOGIE -------------------------- */
.wrapper-num-result {
    max-width: 60rem;
    margin: 0 auto;
    h3 { text-align: left;}
    
    .num-result {
        .num-result-numero {
            font-size: 10rem;  
            margin: 0;
            text-align: center;
            font-weight: bold;
        }
        .num-result-text-name {
            margin: 1rem 0 2rem;
            font-size: 1.4rem;
            span { text-transform: uppercase;}
        }
    }
}

@media screen and (min-height: 1000px){
    body {
        padding-top: 3.5rem;
    }
}
@media screen and (max-width: 1000px){
    .TextContent .ContentBand-ColumnHeader {
        background-position: top left;
        background-size: auto 75%;
    }
}
@media screen and (max-width: 900px){
    .polaroid {
        display:none;    
    }
    .PageLogo {    
        span {
            line-height: 100%;
        }
    }
    
    .ReassuranceList {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        justify-content: center;
        
        .ReassuranceList-Item {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            border-right: none;
            margin-bottom: 1rem;
        }
    }
}
@media screen and (max-width: 730px){
    // mettre le formulaire en avant sur les mobiles
    .SiteHeader {
        .PageWrapper{
            display:flex;
            flex-direction: column;
            align-items: center;
        }
        
        .SiteLogo, .PageLogo {
            width: 100%;
            text-align: center;
        }
        .SiteLogo {
            position: inherit;
            background-position: center;
        }
    }
    .TextContent {
        max-width: 600px;
        margin: auto;
        
        .ContentBand-ColumnHeader {
            background-size: initial;
            background-position: bottom left;
        }
    }
    .DescText-Title {
        display:none;
    }
    .DescText {
        margin-bottom: 2rem;
    }
}
@media screen and (max-width: 640px){
    .PageLogo {
        width: 85%;
        margin-top: 1.5rem;
        text-align: center;
        span {
            line-height:100%;
            font-size: 6rem; 
        }
        span + span{ font-size: 8rem;}
    }
    .FormContainer-Header {
        font-family: inherit;
        font-size: 1.5rem;
    }
    .ReassuranceList {
        display: flex;
        flex-direction: column;
    }
    .num-result {
        margin-left:0; 
    }
}
@media screen and (max-width: 470px){
    .SiteHeader {
        margin-bottom: 0;
    }
    .DescText-Title-Legend {
        font-size: 1.7rem;
    }
    .FormContainer {
        padding: 0;
        &-Fields { padding: 1rem 0 0 0;}
        p { text-align: justify;}
    }
}
@media screen and (max-width: 400px){
    .PageLogo {
        padding: 1rem;
        span { font-size: 4rem; }
        span + span { font-size: 6rem;}
    }
    .TextContent .ContentBand-ColumnHeader {
        background-position: top left;
        background-size: auto 75%;
    }
}