@charset "UTF-8";
/* 
    ----------------------------
    --      tarot-direct      --
    ----------------------------

    Created on : 28 octobre 2016
    Author     : Laurène Dourdin <2aurene@gmail.com>
*/
@import "templates/s-landing-dri";

/* Dossier images */
$img_dir: "../images_landing/offre-exceptionnelle-dri/";
$backgr: $img_dir + "bckgr.jpg";
$logo: $img_dir + "logo-MYASTRO.svg";
$ico_gift: $img_dir + "ico-gift.png";
$ico_lock: $img_dir + "ico-lock.png";
$ico_star: $img_dir + "ico-star.png";
$ico_trophy: $img_dir + "ico-trophy.png";
$ico_how_form: $img_dir + "how-ico-form.png";
$ico_how_phone: $img_dir + "how-ico-phone.png";
$ico_how_smile: $img_dir + "how-ico-smile.png";

/* Palette */
$turquoise: #41E3C6;
$gris: #555353;
$rouge: #F40F40;

html {
    position: relative;
    height: 100%;
}

body {
    height: 100%;
    font-family: Arial, sans-serif;
    color: black;
    background-image: url($backgr);
    background-size: cover;
}

/* --------------------------------- ENTETE --------------------------------- */

.PageLogo {
    background-color: transparent;
    background-image: url($logo);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.SiteHeader {
    background-color: $turquoise;
    font-family: 'Raleway', Arial, sans-serif;
    text-transform: uppercase;
    color: black;
}

/* --------------------------- COMMENT CA MARCHE ---------------------------- */

.How-HorizontalItem-Txt {
    font-style: italic;
    font-size: 1.8rem;
}

.How-HorizontalItem-Img.form {
    background: transparent url($ico_how_form) center no-repeat;
    background-size : contain;
}
.How-HorizontalItem-Img.phone {
    background: transparent url($ico_how_phone) center no-repeat;
    background-size : contain;
}
.How-HorizontalItem-Img.smile {
    background: transparent url($ico_how_smile) center no-repeat;
    background-size : contain;
}

/* ------------------------------- FORMULAIRE ------------------------------- */

.FormContainer {
    background-color: $turquoise;
}
.FormField-Input {
    border: none;
    -webkit-box-shadow: 0px 0px 5px 1px grey;
       -moz-box-shadow: 0px 0px 5px 1px grey;
            box-shadow: 0px 0px 5px 1px grey;
    text-align: center;
}
.FormContainer-Submit {
    border-style: solid;
    border-color: $rouge;
    background-color: $rouge;
    color: white;
    text-transform: uppercase;
    
    &:hover{
        border-color: $gris;
        background-color: $gris;
        color: $turquoise;
    }
}

/* ------------------------------- REASSURANCE ------------------------------ */
.ReassuranceList {
    background: $gris;
    color: white;
}

.ReassuranceList-Item-Img.star {
    background: transparent url($ico_star) center no-repeat;
    background-size : contain;
}
.ReassuranceList-Item-Img.lock {
    background: transparent url($ico_lock) center no-repeat;
    background-size : contain;
}
.ReassuranceList-Item-Img.gift {
    background: transparent url($ico_gift) center no-repeat;
    background-size : contain;
}
.ReassuranceList-Item-Img.trophy {
    background: transparent url($ico_trophy) center no-repeat;
    background-size : contain;
}
