/* 
    intégration : guillaume deschamps <guillaumedeschamps75@gmail.com>
    25/07/2016 pour KGCOM

    Destiné à une page DRI simple sur une colonne :
    bloc voyants + bloc FAQ + form
    
    et avec un header logo + pic + faq
*/

@import "_s-landing-voyance-2";

// your own styles
// -----------------
/* --------------- fonts --------------- */
$font1: 'Raleway', sans-serif;
$font2: 'Courgette', sans-serif;

/* --------------- variables  --------------- */

$img_dir : "../images_landing/oracles-dri/";

$color1: #c42c4d; //rose clair, bg main title
$color2: #ffebec; //bg
$color3: #454545; //gris reassurance
//$color4: #6d6c6a; // gris texte courant

html {
    height: 100%;
}

body {
    font-family: "Arial", sans-serif;
    background: $color2;
}

h2, h3{ color:$color1; font-family: $font1}

submit, 
h1,h2,h3,h4,h5,h6{
    hyphens: none;
}

.SiteHeader{
    display: inline-block;
    width: 100%;
    
    &-grid-3{
        @include grid(3, 0px);
        //justify-content: space-between;
        align-items: center;
        max-width: 96rem;
        margin: 0 auto;
    }
    
    .SiteLogo {
        background: url($img_dir+"logo-oracle-gratuit.png") center no-repeat;
        background-size: contain;
        width: 20.3rem;
        height: 8.7rem;
        margin: 1rem auto;
        display: block;
        h1{opacity: 0}
    }
    
    &-img{
        background: url($img_dir+"img-header.jpg") center no-repeat;
        height: 12.3rem;
        width: 50%;
        
        @media screen and (max-width: 680px){
           display: none;
        }
        
    }
    
    &-faq{
        padding: 2rem 2.5rem; 
        width: 20rem;
        
        @media screen and (max-width: 680px){
           display: none;
        }

        ul{

            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 0;
            padding: 0;

            li{
                font-style: italic;
                font-size: 1.6rem;
                line-height: 120%;
                list-style: none;
                padding: 0 0 10px 50px; 
                color:$color1;
                min-width: 20rem;
            }

            .ico-formulaire{
                background: transparent url($img_dir+"ico-form.svg") center left no-repeat;
            }
            .ico-standardiste{
                background: transparent url($img_dir+"ico-phone.svg") center left no-repeat;
            }
        }
    }
}



.ContentBand{
    max-width: 100rem;
    margin: 0 auto 2rem;

    .PageWrapper{
        
        &-bg{
            margin: 0 auto;
            padding: 3rem auto;
            max-width: 52rem;
            text-align: center;
        }
    }
}

.DescText{
    &-Title {
        background-color: $color1;
        color:#fff;
        text-align: center;
        font-size: 2.5rem;
        font-family: "Arial", sans-serif;
        font-weight:lighter;
        height: inherit;
        margin: 0 auto;
        padding: 0.5rem;
        
        .ico-pig{
            display: inline-block;
            width: 5rem;
            height: 2.5rem;
            background: url($img_dir+"ico-pig.svg") center no-repeat;
        }
        
        span{
            font-weight: bold; 
            text-transform: uppercase;
        }
    }
     &-Subtitle {
        color: $color1;
        text-align: center;
        font-size: 2.5rem;
        font-family: $font1;
         font-weight: lighter;
        margin: 0 auto;
        padding: 1rem 0;
         
        span{
            font-weight: bold;
            text-transform: uppercase;
        } 
    }
    
}

.FormContainer {
    max-width: inherit;
    
    &-Header {
        font-family: 'Ubuntu Condensed';
        color: $color1;
        //padding-bottom: 3rem; 
        background: url($img_dir+"fleche.png") no-repeat bottom center;
    }
    
    &-Submit {
        padding: 1rem 4rem;
        background-color: $color1;
        color: #fff;
        font-size: 2.2rem;
        text-transform: uppercase;
        border:0px solid red;
        transition: all 0.25s ease-in;
        &:hover {
            background-color: darken($color1, 25%);
        }
    }
    
    &.DRI{
        margin: 0;
        padding: 0;
    }
    
    &.DRI .DRI {
        &-Intro {
            
            &-Title {
                color: #ccc;
                text-transform: uppercase;
            }
            &-Text {
                color: white;
            }
        }
        &-Slogan {
            background-color: lighten($color1, 20%);
            color: #fff;
            span{text-transform: uppercase;}
        }
        &-Form {
            padding: 0rem;
            background-color: transparent;
            
            .FormField-Input {
                text-align: center;
                font-weight: bold;
                font-size: 1.4rem;
                color: #bbb;
            }
        }
        &-Sent {
            color: #fff;
            strong {
                font-weight: normal;
                color: $color1;
            }
        }
                
    }
}

.FormField{
    &-Input {
        border: 1px solid #ccc;
        color:$color1 !important;

        &:not([type=radio]):focus, &:not([type=radio]):focus:invalid {
            outline-width: 0;
            border-color: transparent;
        }
        
        &:active,
        &:focus{
            background-color: #fff3af;
        }
    }
    
    &-Info {
        border: none;
        color: #ccc;
        box-shadow: 0 0 6px -1px #ccc;
    }
}

input[type="checkbox"], input[type="radio"] {
    width: 20px !important;
    height: 20px !important;
}

.oracles {
    margin: 0 auto 2rem;
    //height: 32.5rem;
    max-width: 96rem;
    background-image: #fff;
    
    ul{
        justify-content: center;
        margin: 0; padding: 0;

        li{
            margin: 0; padding: 0;
            width: 22rem;

            a{
                display: block; 
                width: 22rem;
                height: 14rem;
                border:10px solid white;
                background-size: cover;
                transition: border 0.25s ease-in;
                &:hover{
                   border:10px solid $color1; 
                }
            }

            span{display:none}
        }

        li:nth-child(1) a{
            background: transparent url($img_dir+"oracle-amour.jpg") no-repeat;            
        }        
        li:nth-child(2) a{
            background: transparent url($img_dir+"oracle-anges.jpg") no-repeat;            
        }
        li:nth-child(3) a{
            background: transparent url($img_dir+"oracle-chinois.jpg") no-repeat;            
        }        
        li:nth-child(4) a{
            background: transparent url($img_dir+"oracle-belline.jpg") no-repeat;            
        }

        li:nth-child(5) a{
            background: transparent url($img_dir+"oracle-lune.jpg") no-repeat;            
        }        
        li:nth-child(6) a{
            background: transparent url($img_dir+"oracle-ge.jpg") no-repeat;            
        }
        li:nth-child(7) a{
            background: transparent url($img_dir+"oracle-heures.jpg") no-repeat;            
        }        
        li:nth-child(8) a{
            background: transparent url($img_dir+"oracle-triade.jpg") no-repeat;            
        }
    }
    
}

.ReassuranceList {
    background-color: $color3;
    color: #fff;
}

.ReassuranceList-Item-Img.star {
    background: transparent url($img_dir+"ico-star.png") center no-repeat;
    background-size: contain;
}
.ReassuranceList-Item-Img.lock {
    background: transparent url($img_dir+"ico-lock.png") center no-repeat;
    background-size: contain;
}
.ReassuranceList-Item-Img.gift {
    background: transparent url($img_dir+"ico-gift.png") center no-repeat;
    background-size: contain;
}
.ReassuranceList-Item-Img.trophy {
    background: transparent url($img_dir+"ico-trophy.png") center no-repeat;
    background-size: contain;
}

.alert {
    border-radius: 5px;

    &-danger {
        color: #a94442;
        background-color: #f2dede;
        border-color: #ebccd1;
    }
    &-success {
        color: #3c763d;
        background-color: #dff0d8;
        border-color: #d6e9c6;
    }
    &-warning {
        color: #8a6d3b;
        background-color: #fcf8e3;
        border-color: #faebcc;
    }
    &-info {
        color: #31708f;
        background-color: #d9edf7;
        border-color: #bce8f1;
    }
}

.SiteCopyright{color:$color3}

@media screen and (min-height: 1000px){

}
@media screen and (max-width: 1000px){

}
@media screen and (max-width: 900px){
    .bloc-avatar{display:none}
}
@media screen and (max-width: 640px){
   
    .PageWrapper{
        display:inherit;
        padding: 0 2rem;
        flex-wrap: wrap-reverse;
    }
    
    .SiteLogo{
        &:after,
        &:before{
            display:none;
        }
    }
    
    .flex-mobile{
        border:0px solid red;
        display: flex;
        flex-direction: column-reverse;  

        
    }
    
    .FormContainer{
        padding: 0;
    }
    
    .colG,
    .colD{
        margin: 0;
        width: 100%;
    }
    
    .main-voyant{
        background-image:none;
        height: inherit;
        text-align: center;
        margin: 1rem 0 2rem;
        
        h2 {
            font-size:2rem;
            height:inherit; 
            text-align:center; 
            margin: 0 auto;
        }
    }
    
    .DescText-Content{
        padding: 1.5rem;
    }
    
    .DescText-Content,
    .faq{
        width: 100%;v
        h3{font-size: 1.8rem}
        ul{
            /*flex-direction: column;
            align-items:flex-start;
            justify-content: space-between;*/
            @include grid(2);
        }
    }
    
    .DRI-Form {
        margin-bottom: 4rem;
    } 
    
    .oracles ul {
        margin: 0; padding: 0;
    }
}
@media screen and (max-width: 470px){
   

}
@media screen and (max-width: 400px){
   
}
