@charset "UTF-8";
@import "s-landing-voyance-2";
@import "modules/mixins";
@import "modules/animations";
/* Palette */

$primary: #6f414b;
$secondary: #824960;
$passive: $secondary;
$active: #f40a3b;
$meter: #71434d;
$white: #FFF;
$bg: #FEEDF3;
$txt: #454545;
$red: #E72336;
/* Typos */

$font1: "Open Sans",
sans-serif;
$font2: 'Great Vibes',
cursive;
/* Images */

$img_dir: "/images_landing/sv/18/";
$assets: $img_dir;
$background: $img_dir+"bg.jpg";
$photo: $img_dir+"saint-valentin.png";
/* Mixins & animations */

@mixin box-shadow {
	box-shadow: 0 0 6px -1px black;
}

@keyframes scale {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}

@keyframes anim-photo {
	0% {
		opacity: 0;
		transform: translate(-200px, 0);
	}
	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}

.logo-svg {
	fill: transparentize($primary, .5);
	stroke: transparentize($primary, .5);
}

/* ------------------------------ MACRO-TYPOS ------------------------------- */

h2,
button {
	hyphens: none;
}

.hidden {
	display: none;
}

/* --------------------------------- LAYOUT --------------------------------- */

html {
	height: 100%;
}

body {
	background: $bg url($background) no-repeat center top fixed;
	background-size: cover;
	color: $txt;
	font-family: $font1;
	font-size: 1.4rem;
	font-weight: 400;
	padding: 2rem;
}

.ContentBand {
	margin-top: 0;
	text-align: center;
}

.PageWrapper {
	padding: 0;
}

@media screen and (min-height: 1000px) {
	body {
		padding-top: 3.5rem;
	}
}

/* --------------------------------- HEADER --------------------------------- */

.SiteHeader {
	margin-bottom: 2rem;
	.PageWrapper {
		align-items: center;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		.spacer {
			width: 110px;
		}
	}
}

.SiteLogo {
	background-color: transparent;
	fill: $white;
	stroke: $white;
	stroke-width: 1.5;
	stroke-miterlimit: 10;
	@include square(110px);
}

.PageLogo {
	text-align: center;
	h1 {
		font-family: $font2;
		font-size: 5.6rem;
		font-weight: normal;
		margin-bottom: 0;
		margin-left: 3rem;
		color: $primary;
		sup {
			margin-right: 7px;
			font-size: 100%;
		}
	}
}

.promo-img {
	border: 12px solid transparent;
	box-shadow: 0px 0px 0 1px #000;
	margin: 5px;
}

@media screen and (max-width: 940px) {
	.PageLogo h1 {
		font-size: 4.2rem;
	}
}

@media screen and (max-width: 740px) {
	.SiteHeader {
		.PageWrapper {
			align-items: center;
			flex-direction: column;
		}
		.SiteLogo {
			position: static;
			stroke: $red;
			fill: $red;
		}
		.PageLogo {
			text-align: center;
			width: 100%;
			h1 {
				font-size: 4rem;
				margin-left: 0;
			}
		}
	}
}

@media screen and (max-width: 470px) {
	.SiteHeader {
		margin-bottom: 0;
	}
	.PageLogo h1 {
		font-size: 3.6rem;
	}
}

/* ------------------------------- FOMULAIRE -------------------------------- */

.FormContainer {
	background: transparent;
	max-width: 60rem;
	&-Fields {
		padding: 2rem;
	}
	&-Header {
		font-family: $font2;
		font-size: 4rem;
	}
	&-Submit {
		background-color: $secondary;
		border: none;
		color: white;
		cursor: pointer;
		font-family: $font1;
		font-size: 2.2rem;
		padding: 1rem;
		text-transform: uppercase;
		text-align: center;
		transition: background 0.25s ease-in;
		width: 224px;
		&:active,
		&:focus,
		&:hover {
			background-color: $active;
			color: #fff;
		}
	}
}

.arrow {
	display: inline-block;
	background: transparent url($assets + 'next.png');
	@include size(32px, 22px)
}

.ico {
	@include square(46px);
	display: inline-flex;
	justify-content: center;
	align-items: center;
	&-woman,
	&-man,
	&-single,
	&-couple {
		@extend .ico;
		margin-right: 8px;
		svg {
			@include square(100%);
		}
	}
}

.lovers {
	position: absolute;
	@include size(960px, 750px);
	background: transparent url($assets + 'lovers.png') no-repeat center;
	background-size: contain;
	top: -110px;
	left: 50%;
	transform: translateX(-50%);
	z-index: -10;
	animation: fadeIn 2600ms ease-in-out both;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes flash {
	from,
	50%,
	to {
		background-color: $passive;
	}
	25%,
	75% {
		background-color: lighten($passive, 15%);
	}
}

.result-cta,
button[type="submit"] {
	animation: flash 900ms infinite both ease;
	&:hover {
		animation: none;
	}
}

.step-1 {
	overflow: hidden;
}

.question {
	color: $secondary;
	font-family: $font1;
	font-size: 2.1rem;
	padding: 10px 0;
	&-container {
		min-height: 186px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		box-sizing: content-box;
		article {
			min-height: 100px;
			width: 100%;
			position: absolute;
			top: 28px;
			right: 0;
			left: 0;
			bottom: 0;
			.radio {
				transform: translateY(100%);
			}
		}
	}
}

.nextQuestion {
	@include moveToLeft(600ms);
}

.showQuestion {
	@include moveFromRight(600ms);
}

.FormField-TableInputContainer.gender {
	max-width: initial;
	display: flex;
	justify-content: space-evenly;
	.FormField-TableInputContainer-Cell {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		padding: 0;
		position: relative;
	}
	.FormField-Label {
		display: flex;
		align-items: center;
	}
}

.FormField-Input {
	&[type="radio"] {
		position: absolute;
		left: -18px;
		&:checked+label {
			font-weight: 600;
			color: $active;
			svg {
				fill: $active;
			}
		}
	}
}

.FormField-Label {
	color: $passive;
	svg {
		fill: $passive;
	}
	&:hover {
		color: $active;
		svg {
			fill: $active;
		}
	}
}

.more {
	display: none;
	text-align: center;
	text-decoration: underline;
	text-transform: uppercase;
	font-weight: 600;
}

.result-text {
	text-align: center;
}

.FormField-Input {
	border: none;
	transition: all 0.25s ease-in;
	&:active,
	&:focus {
		box-shadow: 0 0 6px -1px $txt;
	}
	&:not([type=radio]):focus,
	&:not([type=radio]):focus:invalid {
		outline-width: 0;
		box-shadow: 0 0 6px -1px $txt;
		border-color: $txt;
	}
}

.DRI-Sent {
	font-size: 1.8rem;
	text-align: center;
	strong {
		color: $red;
		font-weight: normal;
	}
}

@media screen and (max-width: 640px) {
	.FormContainer-Header {
		font-size: 3rem;
	}
}

@media screen and (max-width: 470px) {
	.FormContainer {
		padding: 0;
		&-Fields {
			padding: 1rem 0 0 0;
		}
	}
	.result-text {
		text-align: justify;
	}
}

.loveOmeter {
	font-family: $font2;
	font-size: 160px;
	color: $meter;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: scaleUp 3s ease both;
}

@keyframes scaleUp {
	from {
		transform: scale(.2);
	}
}

/* ------------------------------- ANIMATIONS ------------------------------- */

.scale {
	transition: all .2s ease-in-out;
	animation: scale 0.5s both;
}

.polaroid {
	@include size(30rem, 35.5rem);
	border: 0px solid red;
}

#photo {
	background: url($photo) center no-repeat;
	background-size: contain;
	position: absolute;
	top: 10rem;
	left: -5rem;
	opacity: 0;
}

.anim-photo1 {
	animation-name: anim-photo;
	animation-duration: 0.5s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-delay: 1s;
}

@media screen and (max-width: 900px) {
	.polaroid {
		display: none;
	}
}
