/* 
    ---------------------------
    --      tarot-sable      --
    ---------------------------

    Created on : 25 mars 2016
    Author     : Laurène Dourdin <2aurene@gmail.com>
*/
@import "s-landing-tarot";

/* Dossier images */
$img_dir : "../images_landing/tarot-sable/";
/* Palette */
$darkgrey : #333333;
$lightgrey : #DDDDDD;
$t-lightgrey : #AAAAAA;
$darkbrown: #2D2925;
$sand : #E5DBC2;
$bg-lightsand: #F1EBDE;
$blue: #196BB3;
$b-green : #6BA421;
$bg-darkgreen : #95CC44;
$bg-lightgreen : #AAD85E;
$woman : #E51E85;
$men : #165E9D;

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    color: $darkgrey;
}

.SiteHeader {
    background-color: $darkgrey;
    color: white;
}

.WidgetBand {
    background-color: $sand;
    background-image:  url($img_dir+"bg-tarot-sable-lg.jpg"), url($img_dir+"bg-tarot-sable-texture.jpg");
    background-repeat: no-repeat, repeat-x;
    background-position: center bottom, top;
    padding-bottom: 20px;
}

.SiteLogo {
    background: url($img_dir+"logo-myastro.png") center no-repeat;
    background-size: contain;
    height: 107px;
    width: 100%;
}

.DescText-Title {
    text-transform: uppercase;
    color: $blue;
}

.DescText-Content {
    background: $bg-lightsand;
}

.WidgetBand-Tarot .ContentBand-ColumnHeader {
    text-transform: uppercase;
    color: $blue;
}

.WidgetTarot-Card {
    
    &.notFlipped {
        background: transparent;
    }
    
    &-Face.front {
        border: none;
        background: url($img_dir+"cardback.png") center no-repeat;
        background-color: transparent;
    }
    &-Face.back {
        border: none;
    }
    
    &.place {
        background: $bg-lightsand;
        border-radius: 6px;
    }
}

.How-ListItem {
    border-radius: 5px;
    border-color: $lightgrey;
    
    &-Num {
        color: $t-lightgrey;
        border-color: $lightgrey;
    }
    
    &-Img.hand:after {
        background: transparent url($img_dir+"how-ico-hand.png") no-repeat;
        background-size: cover;
    }
    &-Img.form:after {
        background: transparent url($img_dir+"how-ico-form.png") no-repeat;
        background-size: cover;
    }
    &-Img.tchat:after {
        background: transparent url($img_dir+"how-ico-tchat.png") no-repeat;
        background-size: cover;
    }
    &-Img.mail:after {
        background: transparent url($img_dir+"how-ico-mail.png") no-repeat;
        background-size: cover;
    }
}

.FormContainer {
    border: 1px solid $lightgrey;
    border-radius: 5px;
    
    &-Header {
        text-transform: uppercase;
    }
    
    &-Submit {
        border: 1px solid $b-green;
        border-radius: 5px;
        background-color: $bg-lightgreen;
        background: -webkit-linear-gradient(to right, $bg-darkgreen 0%, $bg-lightgreen 50%, $bg-darkgreen 100%);
        background: linear-gradient(to right, $bg-darkgreen 0%, $bg-lightgreen 50%, $bg-darkgreen 100%);
        color: white;
        text-transform: uppercase;
        
        &:hover {
            background-color: $bg-darkgreen;
        }
    }
}

.FormField-Label {
    text-transform: uppercase;
    
    .ico-woman {
        font-size: 1.9rem;
        font-weight: bold;
        color: $woman;
    }
    .ico-man {
        font-size: 1.9rem;
        font-weight: bold;
        color: $men;
    }
}
.FormField-Input {
    border-color: $lightgrey;
    border-radius: 5px;
    
    &:not([type=radio]):focus, &:not([type=radio]):focus:invalid {
        outline-width: 0;
        box-shadow: 0 0 6px -1px $blue;
        border-color: transparent;
    }
}
.FormField-Info {
    border-color: $lightgrey;
    border-radius: 5px;
}

.SiteFooter {
    background: $sand;
    color: $darkbrown;
}

.ReassuranceList-Item-Img.star {
    background: transparent url($img_dir+"ico-star-dark.png") center no-repeat;
    background-size: contain;
}
.ReassuranceList-Item-Img.lock {
    background: transparent url($img_dir+"ico-lock-dark.png") center no-repeat;
    background-size: contain;
}
.ReassuranceList-Item-Img.gift {
    background: transparent url($img_dir+"ico-gift-dark.png") center no-repeat;
    background-size: contain;
}
.ReassuranceList-Item-Img.trophy {
    background: transparent url($img_dir+"ico-trophy-dark.png") center no-repeat;
    background-size: contain;
}

.alert {
    border-radius: 5px;

    &-danger {
        color: #a94442;
        background-color: #f2dede;
        border-color: #ebccd1;
    }
    &-success {
        color: #3c763d;
        background-color: #dff0d8;
        border-color: #d6e9c6;
    }
    &-warning {
        color: #8a6d3b;
        background-color: #fcf8e3;
        border-color: #faebcc;
    }
    &-info {
        color: #31708f;
        background-color: #d9edf7;
        border-color: #bce8f1;
    }
}

@media screen and (max-width: 1200px){
    .WidgetBand {
        padding-bottom: 0;
    }
}
@media screen and (max-width: 1100px){
    .WidgetBand {
        background: $sand url($img_dir+"bg-tarot-sable-texture.jpg") repeat-x top;
    }
}
@media screen and (max-width: 970px){
    .WidgetBand {
        background-color: $sand;
        background-image:  url($img_dir+"bg-tarot-sable-md.jpg"), url($img_dir+"bg-tarot-sable-texture.jpg");
        background-repeat: no-repeat, repeat-x;
        background-position: center bottom, top;
        background-size: contain, auto;
    }
}
@media screen and (max-width: 610px){
    .WidgetBand {
        background: $sand url($img_dir+"bg-tarot-sable-texture.jpg") repeat-x top;
    }
}