/* 
    ----------------------------
    --    tarot-gratuit-16    --
    ----------------------------

    Created on : 11 avril 2016
    Author     : Laurène Dourdin <2aurene@gmail.com>
*/
@import "s-landing-tarot-2";

/* Dossier images */
$img_dir : "../images_landing/tarot-gratuit-16/";
/* Palette */
$bg : #1A171E;
$card-place : #B3AEA8;
$purple : #221A39;
$pink : #EF0BF7;
$woman : $pink;
$men : #0AE9D1;
$btn-purple : #7304C9;
$btn-pink : #9451C6;
$btn-border : #DCC0F1;


body {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    color: white;
    background: $bg url($img_dir+"bg.jpg") no-repeat center top;
}

.SiteLogo {
    background: url($img_dir+"logo-myastro.png") 2rem no-repeat;
    background-size: contain;
    height: 107px;
    width: 100%;
}

.DescText-Title {
    background: url($img_dir+"tirage.png") center no-repeat;
    background-size: contain;
}

.DescText-Content {
    background: transparent;
}

.WidgetTarot-Card {
    
    &.notFlipped {
        background-color: transparent;
    }
    
    &-Face.front {
        border: none;
        background: transparent url($img_dir+"cardback.png") center no-repeat;
        background-size: cover;
    }
    &-Face.back {
        border: none;
    }
    
    &.place {
        background-color: $card-place;
        opacity: 0.8;
        border-radius: 6px;
    }
}

.FormContainer {
    border: none;
    background-color: $purple;
    box-shadow: 0 0 1rem 0 black;
    
    &-Header {
        font-family: 'Ubuntu Condensed';
        color: $pink;
        padding-bottom: 3rem; 
        background: url($img_dir+"fleche.png") no-repeat bottom center;
    }
    
    &-Submit {
        border: 1px solid $btn-border;
        background-color: $btn-pink;
        background: -webkit-linear-gradient(to bottom, $btn-purple 0%, $btn-pink 100%);
        background: linear-gradient(to bottom, $btn-purple 0%, $btn-pink 100%);
        color: white;
        text-transform: uppercase;
        
        &:hover {
            background: $btn-purple;
        }
    }
    
}

.FormField-Label {
    text-transform: uppercase;
    
    .ico-woman {
        font-size: 1.9rem;
        font-weight: bold;
        color: $woman;
    }
    .ico-man {
        font-size: 1.9rem;
        font-weight: bold;
        color: $men;
    }
}

.FormField-Input {
    border: none;
    
    &:not([type=radio]):focus, &:not([type=radio]):focus:invalid {
        outline-width: 0;
        box-shadow: 0 0 6px -1px $pink;
        border-color: transparent;
    }
}
input[type="checkbox"], input[type="radio"] {
    width: 20px !important;
    height: 20px !important;
}
.FormField-Info {
    color: $purple;
    border: none;
    box-shadow: 0 0 6px -1px $pink;
}

.ReassuranceList {
    background: $purple;
    box-shadow: 0 0 1rem 0 black;
}

.ReassuranceList-Item-Img.star {
    background: transparent url($img_dir+"ico-star.png") center no-repeat;
    background-size : contain;
}
.ReassuranceList-Item-Img.lock {
    background: transparent url($img_dir+"ico-lock.png") center no-repeat;
    background-size : contain;
}
.ReassuranceList-Item-Img.gift {
    background: transparent url($img_dir+"ico-gift.png") center no-repeat;
    background-size : contain;
}
.ReassuranceList-Item-Img.trophy {
    background: transparent url($img_dir+"ico-trophy.png") center no-repeat;
    background-size : contain;
}

.alert {
    border-radius: 5px;

    &-danger {
        color: #a94442;
        background-color: #f2dede;
        border-color: #ebccd1;
    }
    &-success {
        color: #3c763d;
        background-color: #dff0d8;
        border-color: #d6e9c6;
    }
    &-warning {
        color: #8a6d3b;
        background-color: #fcf8e3;
        border-color: #faebcc;
    }
    &-info {
        color: #31708f;
        background-color: #d9edf7;
        border-color: #bce8f1;
    }
}