@charset "UTF-8";
/* ============================ [ tarot-direct ] ===============================
 */
@import "templates/s-landing-tarot-rentree";

/* Typos */

@import url('https://fonts.googleapis.com/css?family=Raleway:400,700|Lobster|Indie+Flower');

/* Images */
$img_dir : "../images_landing/tarot-direct-rentree/";
$bg  : $img_dir + "bckgd.jpg";
$bgheader : $img_dir + "header.png";
$logo : $img_dir + "logo.png";
$dos_carte : $img_dir + "carte-dos.png";
$place_carte : $img_dir + "holder.png";
$bg_fleche : $img_dir + "bg_fleche.png";
$hexagone : $img_dir + "hexagone-p.png";
$hexagone_hover : $img_dir + "hexagone-a.png";
$hexagone_active : $img_dir + "hexagone-a.png";
$listitem_leftcorner : $img_dir + "corner-left.png";
$listitem_rightcorner : $img_dir + "corner-right.png";
$icon_amour : $img_dir + "coeur-p.png";
$icon_argent : $img_dir + "argent-p.png";
$icon_travail : $img_dir + "travail-p.png";
$icon_amour_hover : $img_dir + "coeur-h.png";
$icon_argent_hover : $img_dir + "argent-h.png";
$icon_travail_hover : $img_dir + "travail-h.png";
$icon_amour_active : $img_dir + "coeur-a.png";
$icon_argent_active : $img_dir + "argent-a.png";
$icon_travail_active : $img_dir + "travail-a.png";
$icon_tel: $img_dir + "tel.png";
$offre_tchat : $img_dir + "offre-tchat.png";
$offre_immediate : $img_dir + "offre-immediate.png";

/* Palette */
$grey: #454545;
$bleu: #2E4980;
$blanc: #fff;
$red: #f00;
$rose: #F57F9B;
$turquoise: #fab532;
$lightgrey: #C0C3C8;
$bg-bleu: #EAEEF4;
$bg-grey: #F9E8D5;
$woman: $rose;
$man: $bleu;
$tchat-bg: #E8E8E8;
$bg-red : #ee333f;
//
$primary: $bg-red;
$secondary: $turquoise;

/* ----------------------------- [ STRUCTURE ] ------------------------------ */

body {
    font-family: 'Raleway', sans-serif;
    color: $grey;
    background: url($bg) fixed bottom center;
    background-size: cover;

}
.ContentBand.Principal {
    background-color: #fff;
    
    .ContentBand-ColumnHeader {
        background: url($bgheader);
        box-shadow: 0 0 10px 1px $lightgrey;
        font-size:2.5rem;
        margin-top: -1px;
    }
}
.ContentBand.Arrowed {
    background: transparent url($bg-fleche) no-repeat center top;
    min-height: 127px;
    .ContentBand-ColumnHeader { padding-top: 5rem;}
}
.ContentBand.Principal.Arrowed {
    background-position: center 5rem;
    .ContentBand-ColumnHeader { padding-top: 1rem;}
}

/* ------------------------------- [ ENTETE ] ------------------------------- */

.SiteHeader {
    position: relative;
    z-index: 2;
    background: #fbd4b7;
    color: $grey;
    
    &-Logo {
        height: 100px;
        background: transparent url($logo) center no-repeat;
        background-size: contain;
    }
    
    &-Slogan1 {
        font-family: 'Indie Flower';
    }
    &-Slogan2 {
        font-weight: bold;
        background-color: $blanc;
        color: $turquoise;
        
        strong {
            text-transform: uppercase;
            color: $bg-red;

        }
    }
}

.Title {
    font-weight: bold;
    color: $bg-red;
    
    strong {
        font-family: 'Lobster';
        color: $turquoise;
        font-weight: normal;
        font-size: 3.5rem;
    }
}
@media all and (max-width: 580px){
    .Title {
        font-size: 2.4rem !important;
        strong { font-size: 3.8rem;}
    }
}
@media all and (max-width: 420px){
    .Title {
        font-size: 2rem !important;
        strong { font-size: 2.6rem;}
    }
}

/* -------------------------- [ CHOIX DU VOYANT ] --------------------------- */

.PsychicChoice-Psychic {
    &-VisualForm {
        color: $primary;
    }
    &-Picture {
        position: relative;
        display: inline-block;
        width: 237px;
        height: 205px;
        background: transparent url($hexagone) no-repeat -1px;
        padding: 7px;
    }
    &-Input:checked + &-VisualForm {
        color: $turquoise;
        .PsychicChoice-Psychic-Picture {
            background-color: transparent;
            background-image: url($hexagone_active);
            &:after {
                content: "\f00c";
                font-family: 'FontAwesome';
                background-color: transparent;
                color: $turquoise;
            }
        }
    }
    &-VisualForm:hover, &-Input:checked + &-VisualForm:hover {
        color: $secondary;
        .PsychicChoice-Psychic-Picture {
            background-color: transparent;
            background-image: url($hexagone_hover);
            &:after { color: $secondary;}
        }
    }
}

/* ------------------------ [ CHOIX DE LA QUESTION ] ------------------------ */

.ThemeChoice-ListItem {
    position: relative;
    border-left: none;
    border-right: none;
    border-color: $lightgrey;
    color: $grey;
    font-weight: bold;
    
    &:before, &:after {
        content: "";
        position: absolute;
        top: 0;
        display: inline-block;
        height: 100%;
        width: 2.4rem;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    &:before {
        left: -2.4rem;
        background-image: url($listitem_leftcorner);
    }
    &:after {
        right: -2.4rem;
        background-image: url($listitem_rightcorner);
    }
    
    &-Icon {
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        
        &.Amour { background-image: url($icon_amour);}
        &.Argent { background-image: url($icon_argent);}
        &.Travail { background-image: url($icon_travail);}
    }
    
    &:hover, &:focus {
        color: $secondary;
    }
    &:active{
        color: $primary;
    }
    &:hover &-Icon, &:active &-Icon, &:focus &-Icon {
        background-color: transparent;
        &.Amour { background-image: url($icon_amour_hover);}
        &.Argent { background-image: url($icon_argent_hover);}
        &.Travail { background-image: url($icon_travail_hover);}
    }
    &-Input:checked + & {
        color: $primary;
        .ThemeChoice-ListItem-Icon {
            background-color: transparent;
            &.Amour { background-image: url($icon_amour_active);}
            &.Argent { background-image: url($icon_argent_active);}
            &.Travail { background-image: url($icon_travail_active);}
        }
    }
}

/* ---------------------------- [ TIRAGE TAROT ] ---------------------------- */

.WidgetTarot-Card {
    
    &.notFlipped {
        background-color: transparent;
    }
    
    &-Face.front {
        border: none;
        background: transparent url($dos_carte) center no-repeat;
        background-size: cover;
    }
    &-Face.back {
        border: none;
        background-color: transparent;
    }
    
    &.place {
        background-color: transparent;
        background-image: url($place_carte);
        border-radius: 6px;
    }
}


.WidgetTarot-Result {

    .WidgetTarot-ResultMsg {
        font-weight: bold;
        font-size : 14px;
        margin-bottom: 2em;
    }
}

/***********************dynamiser the position of the carte*********************/

.WidgetTarot .Principal {
    position: relative;
    height: 600px;
}

section.Tarot + .Arrowed {

    .WidgetTarot-Result {
        margin-top:-100px;
    }

    .WidgetTarot-ResultMsg {
        position: relative;
        top : -100px;
    }

}

section[style].Tarot + .Arrowed {

    .WidgetTarot-ResultMsg {
        margin-top: 100px;
    }

    .WidgetTarot-Result {
        position: relative;
        top : 110px;
    }
}

section[style].Tarot + .Arrowed + .SiteCopyright {
    top : 140px!important;
}

.FormMerci + .Arrowed .WidgetTarot-Result {
    margin-top: 120px;
}

.FormDRI + .Arrowed .WidgetTarot-Result {
    margin-top: 120px;
}



/* ----------------------------- [ POP VOYANT ] ----------------------------- */

.Pop.Pop-Voyant {
    background-color: transparent;
    background-image: url($hexagone_active);
    padding:7px!important; ;
}

/* --------------------------- [ PHOTOS VOYANTS ] ---------------------------- */

@import "modules_themes/tarot-direct-psychics";

/* ----------------------------- [ FORMULAIRE ] ----------------------------- */

.FormContainer {
    background-color: $bg-grey;
}

.FormField-Label {
    font-weight: bold;
}
.FormField-Input {
    border: none;
    border-radius: 5px;
    &.has-error {
        box-shadow: 0 0 8px 1px #a94442 inset;
    }
}


select.FormField-Input {
    background: url(../images_landing/tarot-direct-rentree/select.png) no-repeat right #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-clip: padding-box;
    padding: 10.5px;
}

 .FormField-Info , .FormField-Info2{
  font-size: 12px;
  position: relative;
  top:-5px;
  }

 .FormField-Info {
    padding-left: 45%;

 }

 .FormField-Info2{
  padding-left: 35%;
 }


.FormContainer-Submit {
    background-color: $bg_red;
    color: $blanc;
    border:2px solid $bg_red;
    min-width: initial;
    font-size: 1.6rem;
    transition: all 0.5s ease-in;

    &:hover{
        color: $bg_red;
        background-color:transparent;
    }
}

.FormField-Label {
    .ico-woman {
        font-size: 1.9rem;
        font-weight: bold;
        color: $woman;
    }
    .ico-man {
        font-size: 1.9rem;
        font-weight: bold;
        color: $man;
    }
}

.FormField-Info:before {
    content: "\f0da";
    font-family: 'FontAwesome';
    font-weight: bold;
    padding-right: 0.5rem;
    color: $blanc;
    font-size: 18px;
}

.FormField-Info2:before {
    content: "\f0da";
    font-family: 'FontAwesome';
    font-weight: bold;
    padding-right: 0.5rem;
    color: $blanc;
    font-size: 18px;
}


.FormContainer-Fields {

  [type="radio"]:checked,
  [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
  [type="radio"]:checked + label,
  [type="radio"]:not(:checked) + label
   {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
  }
  [type="radio"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
  }
  [type="radio"]:checked + label:after,
  [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 8px;
    height: 8px;
    background: #777;
    position: absolute;
    top: 6px;
    left: 6px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@import "modules_themes/form-alert-bootstrap";

/* --------------------- [ BANDEAU PROMOTIONNEL TCHAT ] --------------------- */

.DRI-Promo {
    font-weight: bold;

    &-Slogan {

        &-Tel {
            font-size: 2.8rem;
            text-decoration: underline;
            color: $turquoise;

            &:hover {
                color: $bleu;
            }

            &Icon {
                background-image: url($icon_tel);
            }
        }

        &-CodePromo {
            font-size: 2.8rem;
            color: $turquoise;
        }
    }
}

/* -------------------------------- [ TCHAT ] ------------------------------- */

.Tchat-Gratuit-Title {
    color: $bleu;
}
.Tchat-Overlay {
    border-radius: 10px;
}
.Tchat-Window {
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px $lightgrey;

    &-Output {
        background-color: $tchat-bg;
        border-radius: 10px;
    }
    &-Input {
        .FormField-Input {
            border: 2px solid $lightgrey;
            color: inherit;
        }
        .FormField.withAside .aside {
            background-color: $bleu;
            border: 2px solid $lightgrey;
            border-radius: 8px;
            color: $lightgrey;
        }
    }
}

.codeastro {
    font-size: 1.6rem;
    color: $turquoise;
}

.Tchat-Message-Person.F {
    color: $rose;
}
.Tchat-Message-Person.M {
    color: $bleu;
}

/* -------------------------------- [ DRI ] --------------------------------- */

.DRI {
    &-Slogan {
        width: 60%;
        margin: 3rem auto 0;
        padding: 0.5rem;
        border: 2px solid $bg-red;
        text-align: center;
        font-size: 2rem;
        color: $bg-red;
        hyphens: none;
    }

    &-Sent {
        text-align: center;
    }

    &-Form {
        padding: 0px;
        & p {
            margin: 2rem 1rem;
            text-align: center;
            font-size: 1.8rem;
        }
        .Fields-Table {
            padding-top: 40px;
        }
        &-Title {
            padding: 1rem 0;
            background-color: white;
            text-align: center;
            font-family: 'Lobster';
            font-weight: normal;
            color: $red;
            hyphens: none;

            & strong {
                font-weight: normal;
                color: $bg-red;
            }
        }

        &-Subtitle {
            margin: 1rem 0;
            text-align: center;
            font-family: 'Lobster';
            font-weight: normal;
            font-size: 2.4rem;
            color: $bg-red;
            padding: 5px;
            background: $blanc;
        }

        &Container {
            margin-top: 2rem;

            .FormField-Input {
                width: 70%;
            }
        }
    }

    .FormContainer-Submit.btn-rose{
        text-transform: uppercase;
    }


}

.FormContainer-Fields {
    padding-right: 40px !important;
}


.DRI-Form .FormContainer {
    padding: 0px;
    &-Submit {
        position: relative;
        top: 20px;
    }
}
@media all and (max-width: 640px){
   .DRI{
        &-Slogan {
            width: 100%;
        }
    }
}

@media all and (max-width: 510px){
    .Tchat-Overlay {
        border-radius: 0;
    }
    .Tchat-Window {
        border-radius: 0;
    }
    .Tchat-Message {
        padding: 0 1rem;
    }

    .FormField-Info {
        padding-left: 0px;
    }

    .FormField-Info2{
        padding-left: 0px;
    }
}

/* ----------------------------- [ PAGE MERCI ] ----------------------------- */

.Merci-Form {
    background-color: $bg-grey;
    background-image: url($offre_immediate);
    background-repeat: no-repeat;
    background-position: 20px 60px;
    text-align: center;

    .Merci-Title {
        text-transform: uppercase;
        font-family: 'Raleway';
        font-size: 15px;
        width: 84%;
        text-align: right;
        strong {
            color: $bg-red;
        }
    }

    .Merci-Topic {
      font-style: italic;
      font-weight: bold;
      width: 64%;
    }
    .Merci-Offre {
      float: left;
    }

    .Merci-Text {
        font-size: 1.5rem;
        font-weight: bold;
        color: $bg-red;
        hyphens: none;
    }

    .FormContainer-Submit {
        display: inline-block;
        color: $blanc;
        text-decoration: none;
        border: 3px solid $blanc;
        &:hover {
            border-color: $blanc;
            color: $blanc;
            box-shadow: none;
        }
    }
}

.FormMerci {

    .Title {

        background: #fff;
        border-bottom: 3px solid rgba(153, 153, 153, 0.42);

    }
 }

@media all and (max-width: 102.4rem){
    .Merci-Form {
        background-image: none;
    }
}
@media all and (max-width: 400px){
    .Merci-Title {
        display: none;
    }
    .Merci-Text {
        font-size: 1.7rem;
    }

    .FormField-Info {
        padding-left: 0px;
    }

    .FormField-Info2{
        padding-left: 0px;
    }
}

.Fields-Table-Row>.FormField-Label{
    width: 45%;
}