/* 
    ----------------------------
    --    vendredi13-05-16    --
    ----------------------------

    Created on : 10 mai 2016
    Author     : Laurène Dourdin <2aurene@gmail.com>
*/
@import "s-landing-event-game";

/* Dossier images */
$img_dir : "../images_landing/vendredi-13-05-16/";
/* Palette */
$header: linear-gradient(to bottom, #44C0DA 0%, #87D8EB 100%);
$cyan: #3FDAEA;
$grey: #454545;
$green: #066625;
$blue: #133A8C;
$orange: #DC941B;
$yellow_light: #EEC904;
$yellow: #DFB316;
$btn_gold: linear-gradient(to right, $yellow 0%, $yellow_light 55%, $yellow 100%);

$green_text_border: 0px 0px 4px $green, 0px 0px 4px $green, 0px 0px 4px $green, 0px 0px 4px $green, 0px 0px 4px $green, 0px 0px 4px $green, 0px 0px 4px $green, 0px 0px 4px $green, 0px 0px 4px $green, 0px 0px 4px $green, 0px 0px 4px $green, 0px 0px 4px $green, 0px 0px 4px $green, 0px 0px 4px $green, 0px 0px 4px $green, 0px 0px 4px $green, 0px 0px 4px $green, 0px 0px 4px $green, 0px 0px 4px $green, 0px 0px 4px $green, 0px 0px 4px $green, 0px 0px 4px $green, 0px 0px 4px $green, 0px 0px 4px $green, 0px 0px 4px $green, 0px 0px 4px $green, 0px 0px 4px $green, 0px 0px 4px $green, 0px 0px 4px $green, 0px 0px 4px $green, 0px 0px 4px $green, 0px 0px 4px $green, 0px 0px 4px $green, 0px 0px 4px $green, 0px 0px 4px $green, 0px 0px 4px $green, 0px 0px 4px $green, 0px 0px 4px $green, 0px 0px 4px $green, 0px 0px 4px $green, 0px 0px 4px $green, 0px 0px 4px $green, 0px 0px 4px $green, 0px 0px 4px $green, 0px 0px 4px $green, 0px 0px 4px $green, 0px 0px 4px $green, 0px 0px 4px $green, 0px 0px 4px $green, 0px 0px 4px $green, 0px 0px 4px $green, 0px 0px 4px $green, 0px 0px 4px $green, 0px 0px 4px $green, 0px 0px 4px $green, 0px 0px 4px $green, 0px 0px 4px $green, 0px 0px 4px $green, 0px 0px 4px $green, 0px 0px 4px $green, 0px 0px 4px $green, 0px 0px 4px $green, 0px 0px 4px $green, 0px 0px 4px $green, 0px 0px 4px $green, 0px 0px 4px $green, 0px 0px 4px $green, 0px 0px 4px $green, 0px 0px 4px $green;

$darkblue : #04001F;
$bg : $darkblue;
$bg-blue : rgba(56, 164, 250, 0.2);
$blue-transparent : rgba(56, 164, 250, 0.54);
$btn-border : rgba(18, 18, 19, 0.33);

$woman : $orange;
$men : $blue;

html {
    height: 100%;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: white;
    background: $bg url($img_dir+"bg.jpg") no-repeat center top fixed;
    background-size: cover;
}

.SiteHeader {
    background-color: $cyan;
    background-image: -webkit-+$header;
    background-image: $header;
    border: 1px solid #b8beb9;
    box-shadow: -.3px 5px 6px rgba(55, 43, 1, .5) ,  inset 0 1px 1px white;
}

.SiteLogo {
    background: url($img_dir+"myastro-logo.png") no-repeat;
    background-size: contain;
    height: 80px;
    width: 80px;
}
.PageLogo {
    background: url($img_dir+"page-title.png") center no-repeat;
    height: 80px;
    width: 489px;
}

.TextContent {
    background-color: rgba(255, 255, 255, 0.65);
    padding: 2rem;

    .ContentBand-ColumnHeader {
        background: url($img_dir+"carmela.png") bottom left no-repeat;
    }
}

.DescText-Title {
    background-color: transparent;
    text-align: center;
    font-family: 'Lobster', 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 3.5rem;
    line-height: 4.8rem;
    margin-bottom: 4rem;
    text-shadow: $green_text_border;
    
    &-Legend {
        padding-top: 0;
        background-color: transparent;
        text-align: right;
        font-size: 1.9rem;
        color: $grey;
    }
}

.DescText-Content {
    background: transparent;
    text-indent: 5rem;
    color: $grey;
}

.FormContainer {
    border-radius: 3rem;
    overflow: hidden;
    
    &-Header {
        color: $orange;
        padding-bottom: 3rem; 
        background: url($img_dir+"fleche.png") no-repeat bottom center;
    }
    
    &-Submit {
        padding: 1rem 4rem;
        border: none;
        border-radius: 4rem;
        background-color: $yellow;
        background-image: -webkit-+$btn_gold;
        background-image: $btn-gold;
        box-shadow: inset 4px 4px 1px rgba(255, 255, 255, 0.5), inset -4px -4px 2px rgba(0, 0, 0, 0.5), 0px 0px 25px 5px white;
        color: white;
        font-size: 2.2rem;
        text-transform: uppercase;
        text-shadow: $green_text_border;
        
        &:hover {
            box-shadow: inset 4px 4px 1px rgba(0, 0, 0, 0.5), inset -4px -4px 2px rgba(255, 255, 255, 0.5), 0px 0px 25px 5px white;
        }
    }
    
    &.DRI .DRI {
        &-Intro {
            background-color: white;

            &-Title {
                color: $grey;
            }
            &-Text {
                color: $orange;
            }
        }
        &-Slogan {
            background-color: $blue;
            color: white;
            text-transform: uppercase;
        }
        &-Form {
            padding: 2rem;
            background-color: $cyan;

            .FormField-Input {
                text-align: center;
                font-weight: bold;
                font-size: 1.4rem;
            }
        }
        &-Sent {
            strong {
                font-weight: normal;
                color: $blue;
            }
        }
    }
}

.FormField-Label {
    text-transform: uppercase;
    
    .ico-woman {
        font-size: 1.9rem;
        font-weight: bold;
        color: $woman;
    }
    .ico-man {
        font-size: 1.9rem;
        font-weight: bold;
        color: $men;
    }
}

.FormField-Input {
    border: none;
    
    &:not([type=radio]):focus, &:not([type=radio]):focus:invalid {
        outline-width: 0;
        box-shadow: 0 0 6px -1px $darkblue;
        border-color: transparent;
    }
}

.FormField-Info {
    border: none;
    color: $cyan;
    box-shadow: 0 0 6px -1px $cyan;
}

input[type="checkbox"], input[type="radio"] {
    width: 20px !important;
    height: 20px !important;
}

.How-header {
    font-weight: normal;
    font-size: 2.4rem;
    font-family: inherit;
}
.How-Wizard {
    border-color: $darkblue;
    color: $darkblue;
    
    &Item-Img.form {
        background: transparent url($img_dir+"how-ico-form.png") center no-repeat;
        background-size: contain;
    }
    &Item-Img.phone {
        background: transparent url($img_dir+"how-ico-phone.png") center no-repeat;
        background-size: contain;
    }
}

.ReassuranceList {
    background-color: #fefefe;
    background-image: -webkit-linear-gradient(bottom, #e0dcdc 0%, #f0eeee 19%, #fff 100%);
    background-image: linear-gradient(0deg, #e0dcdc 0%, #f0eeee 19%, #fff 100%);
    color: $grey;
    box-shadow: 0 1px 5px 0 black;
}

.ReassuranceList-Item-Img.star {
    background: transparent url($img_dir+"star.png") center no-repeat;
    background-size: contain;
}
.ReassuranceList-Item-Img.lock {
    background: transparent url($img_dir+"lock.png") center no-repeat;
    background-size: contain;
}
.ReassuranceList-Item-Img.gift {
    background: transparent url($img_dir+"tchat.png") center no-repeat;
    background-size: contain;
}
.ReassuranceList-Item-Img.trophy {
    background: transparent url($img_dir+"trophy.png") center no-repeat;
    background-size: contain;
}

.alert {
    border-radius: 5px;

    &-danger {
        color: #a94442;
        background-color: #f2dede;
        border-color: #ebccd1;
    }
    &-success {
        color: #3c763d;
        background-color: #dff0d8;
        border-color: #d6e9c6;
    }
    &-warning {
        color: #8a6d3b;
        background-color: #fcf8e3;
        border-color: #faebcc;
    }
    &-info {
        color: #31708f;
        background-color: #d9edf7;
        border-color: #bce8f1;
    }
}

@media screen and (min-height: 1000px){
    body {
        padding-top: 3.5rem;
    }
}
@media screen and (max-width: 1000px){
    .TextContent .ContentBand-ColumnHeader {
        background-position: top left;
        background-size: auto 75%;
    }
}
@media screen and (max-width: 730px){
    .SiteHeader {
        margin-bottom: 4rem;
        .SiteLogo, .PageLogo {
            display: table-cell;
            position: static;
            width: auto;
            height: auto;
        }
        .SiteLogo {
            height: 107px;
            width: 107px;
            background-position: left;
        }
    }
    .TextContent {
        max-width: 500px;
        margin: auto;
        
        .ContentBand-ColumnHeader {
            background-size: initial;
            background-position: bottom left;
        }
    }
    .DescText-Title {
        line-height: 4.2rem;
        margin-bottom: 1rem;
        margin-top: 3rem;
    }
    .DescText {
        margin-bottom: 2rem;
    }
}
@media screen and (max-width: 470px){
    .SiteHeader {
        margin-bottom: 0;
        .SiteLogo, .PageLogo {
            display: block;
            width: 100%;
            background-position: center;
        }
        .PageLogo {
            height: 120px;
        }
    }
    .DescText-Title-Legend {
        font-size: 1.7rem;
    }
}
@media screen and (max-width: 400px){
    .TextContent .ContentBand-ColumnHeader {
        background-position: top left;
        background-size: auto 75%;
    }
}