/* 
    -----------------------------
    --      voyance-amour      --
    -----------------------------

    Created on : 25 mars 2016
    Author     : Laurène Dourdin <2aurene@gmail.com>
*/
@import "s-landing-voyance";

/* Dossier images */
$img_dir : "../images_landing/voyance-amour/";
/* Palette */
$grey : #595959;
$darkgrey : #333333;
$lightgrey : #DDDDDD;
$t-lightgrey : #AAAAAA;
$pink : #F23C62;
$bg-pink : #FFCECE;
$red: #b91437;
$red-lbl: #cd5c6b;
$b-green : #6BA421;
$bg-darkgreen : #95CC44;
$bg-lightgreen : #AAD85E;
$woman : #E51E85;
$men : #165E9D;


body {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    color: $darkgrey;
}

.SiteHeader {
    background-color: $darkgrey;
    color: white;
}

.ContentBand {
    background: #FFF url($img_dir+"bg.jpg") no-repeat scroll center top;
}

.SiteLogo {
    background: url($img_dir+"logo-myastro.png") center no-repeat;
    background-size: contain;
    height: 107px;
    width: 100%;
}

.DescText-Title {
    text-transform: uppercase;
}

.DescText-Content {
    background: white;
    color: $t-lightgrey;
}

.How-Wizard {
    border-color: $lightgrey;
    border-radius: 5px;
    
    &Item-Img.form {
        background: transparent url($img_dir+"how-ico-form.png") center no-repeat;
    }
    &Item-Img.tchat {
        background: transparent url($img_dir+"how-ico-tchat.png") center no-repeat;
    }
    &Item-Img.mail {
        background: transparent url($img_dir+"how-ico-mail.png") center no-repeat;
    }
}

.FormContainer {
    border: none;
    border-radius: 5px;
    background-color: $bg-pink;
    
    &-Pop {
        background: $pink;
        text-transform: uppercase;
    }
    
    &-Header {
        text-transform: uppercase;
        color: $red;
    }
    
    &-Submit {
        border: 1px solid $b-green;
        border-radius: 5px;
        background-color: $bg-lightgreen;
        background: linear-gradient(to right, $bg-darkgreen 0%, $bg-lightgreen 50%, $bg-darkgreen 100%);
        color: white;
        text-transform: uppercase;
        
        &:hover {
            background: $bg-darkgreen;
        }
    }
}

.FormField-Label {
    text-transform: uppercase;
    font-weight: bold;
    color: $red-lbl;
    
    .ico-woman {
        font-size: 1.9rem;
        font-weight: bold;
        color: $woman;
    }
    .ico-man {
        font-size: 1.9rem;
        font-weight: bold;
        color: $men;
    }
}

.radio .FormField-TableInputContainer-Cell .FormField-Label {
    text-transform: initial;
    font-weight: normal;
    color: inherit;
}

.FormField-Input {
    border: none;
    border-radius: 3px;
    
    &:not([type=radio]):focus, &:not([type=radio]):focus:invalid {
        outline-width: 0;
        box-shadow: 0 0 6px -1px $pink;
        border-color: transparent;
    }
}
.FormField-Info {
    border-color: $lightgrey;
    border-radius: 5px;
}

.SiteFooter {
    background-color: $darkgrey;
    background: linear-gradient(to bottom, $grey 0%, $darkgrey 100%);
    color: white;
}

.ReassuranceList-Item-Img.star {
    background: transparent url($img_dir+"ico-star.png") center no-repeat;
    background-size: contain;
}
.ReassuranceList-Item-Img.lock {
    background: transparent url($img_dir+"ico-lock.png") center no-repeat;
    background-size: contain;
}
.ReassuranceList-Item-Img.gift {
    background: transparent url($img_dir+"ico-gift.png") center no-repeat;
    background-size: contain;
}
.ReassuranceList-Item-Img.trophy {
    background: transparent url($img_dir+"ico-trophy.png") center no-repeat;
    background-size: contain;
}

.alert {
    border-radius: 5px;

    &-danger {
        color: #a94442;
        background-color: #f2dede;
        border-color: #ebccd1;
    }
    &-success {
        color: #3c763d;
        background-color: #dff0d8;
        border-color: #d6e9c6;
    }
    &-warning {
        color: #8a6d3b;
        background-color: #fcf8e3;
        border-color: #faebcc;
    }
    &-info {
        color: #31708f;
        background-color: #d9edf7;
        border-color: #bce8f1;
    }
}
@media screen and (max-width: 1200px){
    .ContentBand {
        background: #FFF url($img_dir+"bg-color.jpg") repeat-x top;
    }
}
@media screen and (max-width: 900px){
    .ContentBand {
        background: url($img_dir+"bg-md.jpg") center top no-repeat;
    }
}
@media screen and (max-width: 580px){
    .ContentBand {
        background: #FFF url($img_dir+"bg-color.jpg") repeat-x top;
    }
    .FormContainer {
        border-radius: 0px;
    }
}