@charset "iso-8859-1";
/* CSS alexander */

html{
	margin:0;
	padding:0;
	}
	
	
	img.image_gauche{
	float:left;
	margin:0 15px 0 0;
	}	
	
	ul.entreprise{
	list-style-type:none;
	margin:0;
	padding:0;
	}
	
	ul.entreprise li{
		color:#4c4712;
		margin:0 0 20px 0;
		padding:0 0 0 15px;
		background:url(../images/structure/carre_entreprise.jpg) top left no-repeat;
		}	
	
body{
	margin:0;
	padding:0;
	font-size:14px;
	font-family:"Calibri";
	text-align:center;
	background:url(../images/structure/bg_site.jpg) top left repeat-x;
	color:#000;
	background-color:#ff8a17;
	}
	
	input, select, textarea{
	margin-left: 1%;
	min-height:22px;
	width: 100%;
	border: #CCC 1px solid;
	-moz-border-radius:5px;
	color:#38170e;
	font-size:12px;
	font-family:"Arial", Helvetica, sans-serif;
	padding:1px;
	}
	
input:hover, select:hover, textarea:hover{
	border: #999 1px solid;
	background-color: #3e1d13;
	color:#fff;
	}	
	
input[type=checkbox] { 
width:18px; 
border: none; 
margin:0 2px;
}	
	
#wrapper{
	margin:0 auto; 
	width:804px;
	text-align:left;
	padding:0px;
	background:url(../images/structure/bg.jpg) top center no-repeat;
	}	
	
#footer{
	margin:0 auto;
	width:804px;
	clear:both;
	height:200px;
	padding:50px 0 0 0;
	}
	
	#footer a{
		color:#fff;
		text-decoration:none;
		}

#header{
	width:804px;
	height:212px;
	
	}
	
#content{
	margin:0;
	padding:15px 0 0 30px;
	}
	
#formulaire{
	float:right;
	width:510px;
	padding:10px 20px;
	background-color:#fff;
	}
	
	#formulaire a{
		color:#38170e;
		text-decoration:none;
		font-weight:bold;
		}
	#formulaire a:hover{
		text-decoration:underline;
		}
		
	
	
h3{
		margin:10px 0 3px 0;
		border-bottom:1px solid;
		color:#38170e;
		font-family:"Myriad Pro";
		}
	
h1{
		color:#684c39;
		margin:0;
		font-size:20px;
		font-family:"Myriad Pro";
		}
		
h2{
		border-bottom:1px solid;
		margin:0;
		color:#47281c;
		font-size:14px;
		font-family:"Myriad Pro";
		}	
	
#google{
	float:right;
	width:160px;
	padding:15px 0px 0 30px;
	}

#mainMenu{
	
	background:url(../images/structure/bg_menu.jpg) top left repeat-x;
	height:43px;
	padding:0 40px 0 0 ;
	}	
	
	#mainMenu ul{
		list-style-type:none;
		padding:0;
		margin:0;
		}
		
		#mainMenu li{
			float:left;
			
			color:#fff;
			font-weight:bold;
			margin:0 15px 0 15px;
			padding:8px 0 0 0;
			}
			
			#mainMenu li a{
				text-decoration:none;
				color:#fff;
				font-family:"Myriad Pro";
				font-size:16px;
				}
	
#image{
	float:left;
	width:170px;
	padding:0 15px 0 15px;
	}	

#googleLeft{
	margin:0 auto;
	text-align:center;
	padding:30px 0 0 0;
	}


/* Validation formulaire */ 
 

.superCapa {
	visibility:hidden;
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: #000;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	}

#cajaRevalidate {
	background-color: #ebebeb;
	width: 370px;
	height: 150px;
	margin-left: -185px;
	position: absolute;
	top: 50%;
	left: 50%;
	visibility: hidden;
	border: 1px solid #dd54a5;
	}
	
	#cajaRevalidate a{
		font-size:13px;
		color:#dd54a5;
		text-decoration:none;
		}

.buttonRevalidate {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	background-image: url(../img/revalidateSendButton.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	height: 25px;
	width: 104px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #4577B2;
	color: #FFF;
	margin-left: 10px;
	font-weight: bold;
	letter-spacing: 1px;
	}
	
	
input.newsletterButton {
	background:url(../images/structure/btn.png) top center no-repeat;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	height:43px;
	width:137px;
	color:#fff;
	text-align:center;
	}	
	
#formulaire img.pile{
	float:right;
	}	
	
#carte{
	float:left;
	width:300px;
	}	

#validation{
	width:600px;
	text-align:center;
	float:right;
	font-size:11px;
	}
	
/* TAROLOGIE */
#carta0, #carta1, #carta2, #carta3, #carta4 {
	height: 90px;
	width: 48px;
	display: block;
	float: left;
	background-image: url(../img/cartas/backCard.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	margin:10px 5px 0 5px;
	}




.btn_tarot {
	height: 25px;
	width: 120px;
	border-style: none;
	
	}

#muestraError{
	text-align:right;
	color:#ccc;
	height:20px;
	padding: 3px;
	
	}	
	
.errorForm {
width:100%;
color: #fff;
background-color: #694e3b;
border: solid 1px #38180f;
text-align: center;
padding: 3px;
font-size: 12px;
height:17px;
}



.correo {
color: #154951;
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 16px;
font-weight: lighter;
}			

span.annonce{
	margin:2px 450px 0 5px;
	}
	
span.telephone{
	font-size:18px;
	font-weight:bold;
	color:#414141;
	}	
span.prix{
	
	}
	
span.telephone_principal{
	font-size:20px;
	text-align:center;
}

ul.mediumOr{
	list-style-type:none;
	margin:0;
	padding:0 0 0 100px;
	background:url(../images/icone/li_or.png) top left no-repeat;
	}
	
ul.mediumPlatine{
	list-style-type:none;
	margin:0;
	padding:0 0 0 100px;
	background:url(../images/icone/li_platine.png) top left no-repeat;
	}	
ul.mediumRubis{
	list-style-type:none;
	margin:0;
	padding:0 0 0 100px;
	background:url(../images/icone/li_rubis.png) top left no-repeat;
	}	
	
	ul.mediumDiamant{
	list-style-type:none;
	margin:0;
	padding:0 0 0 100px;
	background:url(../images/icone/li_diamant.png) top left no-repeat;
	}		