blog/*
cache/*
logs-perso/*
nbproject/
nbproject/*
yyadmin/cdj/*
yyadmin/cdjj/*
yyadmin/media/*
yyadmin/.htaccess
/yyadmin/.htaccess
.htaccess
.brackets.json
.idea
*.map
desktop.ini
Thumbs.db
.htpasswd
