/* -------- coloration des alert formulaire : blanc sur couleur unie -------- */
.alert {
    text-align: center;
    border-width: 0;
    border-radius: 5px;
    font-weight: bold;
    color: white;

    &-danger {
        background-color: #D9534F;
    }
    &-success {
        background-color: #5CB85C;
    }
    &-warning {
        background-color: #F0AD4E;
    }
    &-info {
        background-color: #68A8FF;
    }
}