@charset "UTF-8";
/* ----------------- class pour les voyants de tarot-direct ----------------- */

$img_psy_dir : "../images_landing/voyants/tarot-direct/";

// Christelle
$christelle : $img_psy_dir + "christelle.png";
.PsychicChoice-Psychic.Christelle .PsychicChoice-Psychic-Photo {
    background-image: url($christelle);
}
.Pop.Pop-Voyant.Christelle .Pop-Voyant-Photo{
    background-image: url($christelle);
}

// Sonia
$sonia : $img_psy_dir + "sonia.png";
.PsychicChoice-Psychic.Sonia .PsychicChoice-Psychic-Photo {
    background-image: url($sonia);
}
.Pop.Pop-Voyant.Sonia .Pop-Voyant-Photo{
    background-image: url($sonia);
}

// Olivier
$olivier : $img_psy_dir + "olivier.png";
.PsychicChoice-Psychic.Olivier .PsychicChoice-Psychic-Photo {
    background-image: url($olivier);
}
.Pop.Pop-Voyant.Olivier .Pop-Voyant-Photo{
    background-image: url($olivier);
}

// Véronique
$veronique : $img_psy_dir + "veronique.png";
.PsychicChoice-Psychic.Véronique .PsychicChoice-Psychic-Photo {
    background-image: url($veronique);
}
.Pop.Pop-Voyant.Véronique .Pop-Voyant-Photo{
    background-image: url($veronique);
}

// Dimitri
$dimitri : $img_psy_dir + "dimitri.jpg";
.PsychicChoice-Psychic.Dimitri .PsychicChoice-Psychic-Photo {
    background-image: url($dimitri);
}
.Pop.Pop-Voyant.Dimitri .Pop-Voyant-Photo{
    background-image: url($dimitri);
}

// Margaux
$margaux : $img_psy_dir + "margaux.jpg";
.PsychicChoice-Psychic.Margaux .PsychicChoice-Psychic-Photo {
    background-image: url($margaux);
}
.Pop.Pop-Voyant.Margaux .Pop-Voyant-Photo{
    background-image: url($margaux);

}
