/* css pour la partie 'vad' (é) */

*{margin:0;padding:0}
fieldset,img{border:0}
ul{list-style-type:none}
.clear{clear:both;font:400 0/0 '';height:0}
.opaque{-moz-opacity:0.7;opacity:0.7;filter:alpha(opacity=70)}
/* End reset */

body{font-family:tahoma,arial,sans-serif}

.page{background:#d2deee url(/images/vad/bkdPage.png) repeat-x;}

.header{position:relative;left:0;top:0;margin:0px auto 0;width:862px;height:92px;border-left:1px solid #c2d7ea;border-right:1px solid #c2d7ea;border-top:1px solid #c2d7ea;background:#ffffff;}
.header .infoMessage{position:absolute;left:0;top:-53px;color:#f00;font:700 16px/20px arial;width:100%;height:47px;padding:6px 0 0;text-align:center;}
.header .infoDomain{float:left;display:inline;width:301px;height:76px;overflow:hidden;padding:16px 10px 0;}
.header .infoDomain .host{text-transform:uppercase;color:#010101;font:700 50px/31px arial;text-align:left;}
.header .infoDomain .host a{color:#010101;text-decoration:none;}
.header .infoDomain .domain{text-transform:lowercase;color:#c00;font:700 16px/18px arial;text-align:right;}
.header .infoDomain .domain a{color:#c00;text-decoration:none;}
.header .customerService{float:left;display:inline;position:relative;left:0;top:0;width:435px;height:80px;background:url(/images/vad/headerCustomerService.png) no-repeat;overflow:hidden;padding:12px 10px 0 88px;}
.header .customerService .title{color:#524847;font:700 12px/14px arial;margin-left:6px;}
.header .customerService .contact{font:400 10px/14px arial;margin:10px 0 0 4px;word-spacing: -1px;}
* html .header .customerService .contact li{height:14px;}
* + html .header .customerService .contact li{height:14px;}
.header .customerService .contact li dl dt{display:inline;font-weight:700;}
.header .customerService .contact li dl dd{display:inline;}
.header .customerService .contact li dl dd a{color:#e50278;text-decoration:underline;font-weight:700;}
.header .flags{position:absolute;left:10px;top:75px;height:14px;}
.header .flags .txt{float:left;display:inline;color:#979393;font:400 12px/14px arial;}
.header .flags ul{float:left;display:inline;}
.header .flags li{float:left;display:inline;margin-left:3px;}
.header .flags li a{display:block;width:17px;height:11px;background:url(/images/vad/flag.png) no-repeat 0 0;}
.header .flags li.flag_fr a{background-position:0 0;}
.header .flags li.flag_en a{background-position:-17px 0;}
.header .flags li.flag_nl a{background-position:-34px 0;}
.header .flags li.flag_es a{background-position:-51px 0;}
.header .flags li.flag_it a{background-position:-68px 0;}

* html .content{height:518px;}
.content{clear:both;position:relative;left:0;top:0;margin:0 auto;width:862px;min-height:518px;border-left:1px solid #c2d7ea;border-right:1px solid #c2d7ea;background:#f1f1f1 url(/images/vad/bkdContent.png) no-repeat;}
.content .sidebar{position:absolute;left:0;top:0;margin:4px 0 0 6px;width:310px;height:450px;background:url(/images/vad/bkdSidebar.jpg) no-repeat;}
.content .realContent{position:relative;left:0;top:0;margin:0 0 0 310px;}
.content .realContent .tTop{width:528px;height:16px;margin:0 auto;font:400 0/0 '';background:url(/images/vad/tTier1.png) no-repeat 0 0;}
* html .content .realContent .tMiddle{height:428px;}
.content .realContent .tMiddle{width:520px;min-height:428px;padding:0 4px;margin:0 auto;position:relative;left:0;top:0;background:url(/images/vad/tMiddle1.png) repeat-y;}
.content .realContent .tBottom{width:528px;height:10px;margin:0 auto;font:400 0/0 '';background:url(/images/vad/tTier1.png) no-repeat 0 -16px;}

.footer{position:relative;left:0;top:0;width:100%;height:48px;background:#efccb8;color:#000;font:400 10px/14px arial;text-align:center;}
.footer a{color:#e2007a;}

.cssContactFooter{color:#000;font:400 12px/14px arial;padding:0 4px;text-align:justify;letter-spacing:-0.5px;}
.cssContactFooter h3{font:700 12px/14px arial;text-align:center;position:relative;top:-7px;}
.cssContactFooter p{text-align:center;}

#page-default-result{position:relative;left:0;top:0;padding:0 0 16px;}
#page-default-result .tMiddle .title{color:#524747;font:700 27px/29px arial;text-align:center;margin:0 0 10px;}
#page-default-result .tMiddle .notice{background:#e8e1e1;text-align:justify;}
#page-default-result .tMiddle .notice h2{color:#e70000;font:700 20px/22px arial;text-align:center;padding:14px 0 10px;text-decoration:underline;}
#page-default-result .tMiddle .notice p{color:#e70000;font:700 14px/18px arial;padding:0 20px 10px;text-align:justify;}
#page-default-result .tMiddle .white_blank{background-color: #000;}
#page-default-result .tMiddle .pink_blank{background-color: #e8e1e1;}
#page-default-result .tMiddle .partIdentification h3{color:#000;font:700 12px/14px arial;text-align:center;padding:5px 0 5px;}
#page-default-result .tMiddle .partIdentification .elements{background:#e8e1e1;}
#page-default-result .tMiddle .partIdentification .elements h4{color:#030a9b;font:700 12px/14px arial;padding:4px 0 8px;text-align:center;}
#page-default-result .tMiddle .partIdentification .elements .aElement{padding:0 0 16px;}
#page-default-result .tMiddle .partIdentification .elements .tTopElement{width:505px;height:10px;margin:0 auto;background:url(/images/vad/bkdElementsTTier.png) no-repeat 0 0;font:400 0/0 '';}
#page-default-result .tMiddle .partIdentification .elements .tMiddleElement{width:505px;margin:0 auto;background:url(/images/vad/bkdElementsTTierRepeat.png) repeat-y;}
#page-default-result .tMiddle .partIdentification .elements .tMiddleElement ul{}
#page-default-result .tMiddle .partIdentification .elements .tMiddleElement li{clear:both;padding:6px 0;}
#page-default-result .tMiddle .partIdentification .elements .tMiddleElement li dl{clear:both;}
#page-default-result .tMiddle .partIdentification .elements .tMiddleElement li dl dt{float:left;display:inline;width:244px;padding:0 6px 0 0;color:#0882fe;font:700 12px/14px arial;text-align:right;}
#page-default-result .tMiddle .partIdentification .elements .tMiddleElement li dl dd{float:left;display:inline;width:255px;color:#000;font:400 12px/14px arial;}
#page-default-result .tMiddle .partIdentification .elements .tMiddleElement li dl dd a{color:#000;}
#page-default-result .tMiddle .partIdentification .elements .tMiddleElement .order h5{padding:12px 0 4px;text-align:center;font:700 13px/15px arial;}
#page-default-result .tMiddle .partIdentification .elements .tMiddleElement .order table{border-collapse:collapse;width:480px;margin:0 auto;}
#page-default-result .tMiddle .partIdentification .elements .tMiddleElement .order table thead th{padding:2px;font:700 12px/14px arial;background:#0882FE;color:#fff;text-align:center;}
#page-default-result .tMiddle .partIdentification .elements .tMiddleElement .order table thead th.fieldID{width:83px;}
#page-default-result .tMiddle .partIdentification .elements .tMiddleElement .order table thead th.fieldIDAt{width:115px;}
#page-default-result .tMiddle .partIdentification .elements .tMiddleElement .order table thead th.fieldAmount{width:81px;}
#page-default-result .tMiddle .partIdentification .elements .tMiddleElement .order table tbody td{font:400 12px/14px arial;padding:2px 0;}
#page-default-result .tMiddle .partIdentification .elements .tBottomElement{width:505px;height:10px;margin:0 auto;background:url(/images/vad/bkdElementsTTier.png) no-repeat 0 -10px;font:400 0/0 '';}
#page-default-result .tMiddle .partIdentification .elements .ask_refund .infos {display:block;font-style:italic;}

#page-default-resultAbo{position:relative;left:0;top:0;padding:0 0 16px;}
#page-default-resultAbo .tMiddle .title{color:#524747;font:700 27px/29px arial;text-align:center;margin:0 0 10px;}
#page-default-resultAbo .tMiddle .notice{background:#e8e1e1;}
#page-default-resultAbo .tMiddle .notice h2{color:#e70000;font:700 20px/22px arial;text-align:center;padding:10px 0 10px;text-decoration:underline;}
#page-default-resultAbo .tMiddle .notice p{color:#e70000;font:700 14px/18px arial;padding:0 20px 10px;text-align:justify;}
#page-default-resultAbo .tMiddle .white_blank{background-color: #000;}
#page-default-resultAbo .tMiddle .pink_blank{background-color: #e8e1e1;}
#page-default-resultAbo .tMiddle .partIdentification h3{color:#000;font:700 12px/14px arial;text-align:center;padding: 5px 0 5px;}
#page-default-resultAbo .tMiddle .partIdentification .elements{background:#e8e1e1;}
#page-default-resultAbo .tMiddle .partIdentification .elements h4{color:#030a9b;font:700 12px/14px arial;padding:4px 0 8px;text-align:center;}
#page-default-resultAbo .tMiddle .partIdentification .elements .aElement{padding:0 0 16px;}
#page-default-resultAbo .tMiddle .partIdentification .elements .tTopElement{width:505px;height:10px;margin:0 auto;background:url(/images/vad/bkdElementsTTier.png) no-repeat 0 0;font:400 0/0 '';}
#page-default-resultAbo .tMiddle .partIdentification .elements .tMiddleElement{width:505px;margin:0 auto;background:url(/images/vad/bkdElementsTTierRepeat.png) repeat-y;}
#page-default-resultAbo .tMiddle .partIdentification .elements .tMiddleElement li{clear:both;padding:6px 0;}
#page-default-resultAbo .tMiddle .partIdentification .elements .tMiddleElement li dl{clear:both;}
#page-default-resultAbo .tMiddle .partIdentification .elements .tMiddleElement li dl dt{float:left;display:inline;width:244px;padding:0 6px 0 0;color:#0882fe;font:700 12px/14px arial;text-align:right;}
#page-default-resultAbo .tMiddle .partIdentification .elements .tMiddleElement li dl dd{float:left;display:inline;width:255px;color:#000;font:400 12px/14px arial;}
#page-default-resultAbo .tMiddle .partIdentification .elements .tMiddleElement li dl dd a{color:#000;}
#page-default-resultAbo .tMiddle .partIdentification .elements .tMiddleElement .order{}
#page-default-resultAbo .tMiddle .partIdentification .elements .tMiddleElement .order h5{padding:12px 0 4px;text-align:center;font:700 13px/15px arial;}
#page-default-resultAbo .tMiddle .partIdentification .elements .tMiddleElement .order table{border-collapse:collapse;width:480px;margin:0 auto;}
#page-default-resultAbo .tMiddle .partIdentification .elements .tMiddleElement .order table thead th{padding:2px;font:700 12px/14px arial;background:#0882FE;color:#fff;text-align:center;}
#page-default-resultAbo .tMiddle .partIdentification .elements .tMiddleElement .order table thead th.fieldID{width:83px;}
#page-default-resultAbo .tMiddle .partIdentification .elements .tMiddleElement .order table thead th.fieldIDAt{width:115px;}
#page-default-resultAbo .tMiddle .partIdentification .elements .tMiddleElement .order table thead th.fieldAmount{width:81px;}
#page-default-resultAbo .tMiddle .partIdentification .elements .tMiddleElement .order table tbody td{font:400 12px/14px arial;padding:2px 0;}
#page-default-resultAbo .tMiddle .partIdentification .elements .tBottomElement{width:505px;height:10px;margin:0 auto;background:url(/images/vad/bkdElementsTTier.png) no-repeat 0 -10px;font:400 0/0 '';}

#page-default-vad{position:relative;left:0;top:0;padding:0 0 16px;}
#page-default-vad .tMiddle .cadenas{position:absolute;left:16px;top:-14px;font:400 0/0 '';width:59px;height:97px;background:url(/images/vad/cadenas.png) no-repeat;}
#page-default-vad .tMiddle .title{color:#524747;font:700 27px/29px arial;margin:0 0 10px;letter-spacing:-2px;padding:8px 0 8px 80px;}
#page-default-vad .tMiddle .cards{font:400 0/0 '';height:22px;background:#e8e1e1;margin-bottom:8px;}
#page-default-vad .tMiddle .cards .img{float:right;display:block;width:162px;height:20px;background:url(/images/vad/cards.png) no-repeat;margin:1px 10px 0 0;}
#page-default-vad .tMiddle .notice{background:#fff;}
#page-default-vad .tMiddle .notice p{color:#000;font:700 12px/14px arial;padding:0 20px 10px;text-align:justify;}
#page-default-vad .tMiddle .listOption li{position:relative;left:0;top:0;background:#e8e1e1;margin-bottom:16px;padding:0 16px 0 8px;overflow:hidden;}
#page-default-vad .tMiddle .listOption li dt{font-weight:700;text-align:center;margin-bottom:16px;margin-top:15px;}
#page-default-vad .tMiddle .listOption li dt p{background-color:#C9CACB;}
#page-default-vad .tMiddle .listOption li dd{font:700 12px/14px arial;text-align:justify;margin-bottom:8px;}
#page-default-vad .tMiddle .listOption li .formulaire{position:relative;left:0;top:0;}
* html #page-default-vad .tMiddle .listOption li .formulaire{zoom:1;}
#page-default-vad .tMiddle .listOption li .formulaire dl{margin-left:50px;clear:both;padding:2px 0;}
#page-default-vad .tMiddle .listOption li .formulaire dt{position:relative;left:0;top:0;float:left;width:144px;font:400 11px/18px arial;text-align:left;margin:0 0 2px;color:#e1007a;text-align:right;padding:0 4px 0 0;}
#page-default-vad .tMiddle .listOption li .formulaire dd{margin-left:144px;}
#page-default-vad .tMiddle .listOption li .formulaire dd input{width:180px;height:18px;border:1px solid #bbd2e4;-moz-border-radius:5px;border-radius:5px;}
#page-default-vad .tMiddle .listOption li .formulaire dd input.creditCardField{width:40px;padding:2px 0 0 6px;height:18px;border:1px solid #bbd2e4;-moz-border-radius:5px;border-radius:5px;}
#page-default-vad .tMiddle .listOption li .formLoginPassword .submit{position:relative;float:left;left:334px;top:-31px;}
#page-default-vad .tMiddle .listOption li .formCreditCard{position:relative;left:-35px;}
#page-default-vad .tMiddle .listOption li .formCreditCard dt label .cardNumber{position:absolute;left:128px;top:4px;display:block;width:11px;height:13px;background:url(/images/vad/cadenasSmall.png) no-repeat;font:400 0/0 '';}
#page-default-vad .tMiddle .listOption li .formCreditCard .submitCreditCard{position:relative;float:left;left:354px;top:-32px;}
#page-default-vad .tMiddle .listOption li .formEmail .submit{position:relative;float:left;left:334px;top:-31px;}
#page-default-vad .tMiddle .youCanTrust{clear:both;margin-bottom:8px;padding:0 16px;font:400 12px/14px arial;padding:4px 0;text-align:justify;position:relative;top:-20px;}
#page-default-vad .tMiddle .youCanTrust span{text-transform:uppercase;}
#page-default-vad .tMiddle .jsError{font:400 12px/14px arial;padding:4px 0px;margin-bottom:8px;color:#f00;text-align:justify;}
#page-default-vad .tMiddle .jsCCError{font:400 12px/14px arial;padding:4px 20px 0 0;margin-bottom:8px;color:#f00;text-align:justify;position:relative;left:50px;}
#page-default-vad .tMiddle #jsContactViaEmail{display:none;}
#page-default-vad .tMiddle .submit .btTextGO{border:0;cursor:pointer;width:43px;height:21px;background-repeat:no-repeat;background-position:0 0;}
.culture_fr #page-default-vad .tMiddle .submit .btTextGO{background-image:url(/images/vad/fr/btTextGO.png);}
.culture_en #page-default-vad .tMiddle .submit .btTextGO{background-image:url(/images/vad/en/btTextGO.png);}
.culture_it #page-default-vad .tMiddle .submit .btTextGO{background-image:url(/images/vad/it/btTextGO.png);}
.culture_es #page-default-vad .tMiddle .submit .btTextGO{background-image:url(/images/vad/es/btTextGO.png);}
.culture_nl #page-default-vad .tMiddle .submit .btTextGO{background-image:url(/images/vad/nl/btTextGO.png);}
#page-default-vad .tMiddle .submit .btTextSearch{border:0;cursor:pointer;width:94px;height:21px;background-repeat:no-repeat;background-position:0 0;}
#page-default-vad .tMiddle .submitCreditCard .btTextSearch{margin-left:50px;border:0;cursor:pointer;width:94px;height:21px;background-repeat:no-repeat;background-position:0 0;}
.culture_fr #page-default-vad .tMiddle .submit .btTextSearch{background-image:url(/images/vad/fr/btTextSearch.png);}
.culture_en #page-default-vad .tMiddle .submit .btTextSearch{background-image:url(/images/vad/en/btTextSearch.png);}
.culture_it #page-default-vad .tMiddle .submit .btTextSearch{background-image:url(/images/vad/it/btTextSearch.png);}
.culture_es #page-default-vad .tMiddle .submit .btTextSearch{background-image:url(/images/vad/es/btTextSearch.png);}
.culture_nl #page-default-vad .tMiddle .submit .btTextSearch{background-image:url(/images/vad/nl/btTextSearch.png);}
.culture_fr #page-default-vad .tMiddle .submitCreditCard .btTextSearch{background-image:url(../valider.gif);}
.culture_en #page-default-vad .tMiddle .submitCreditCard .btTextSearch{background-image:url(/images/vad/en/btTextSearch.png);}
.culture_it #page-default-vad .tMiddle .submitCreditCard .btTextSearch{background-image:url(/images/vad/it/btTextSearch.png);}
.culture_es #page-default-vad .tMiddle .submitCreditCard .btTextSearch{background-image:url(/images/vad/es/btTextSearch.png);}
.culture_nl #page-default-vad .tMiddle .submitCreditCard .btTextSearch{background-image:url(/images/vad/nl/btTextSearch.png);}