/* 
    -----------------------------
    --       Thème amour       --
    -----------------------------

    Created on : 24 mars 2016
    Author     : Laurène Dourdin <2aurene@gmail.com>
*/

body.voyance-telephone-1 {
    background: #FFF url("bg-landing-voyance-amour.jpg") no-repeat scroll center top;
    margin: 0;
}

body.voyance-telephone-1 .logo {
    background: url('logo-myastro.png') no-repeat;
    height: 107px;
}
body.voyance-telephone-1 .logo img {
    display: none;
}

body.voyance-telephone-1 .right-part {
    background: transparent;
}

body.voyance-telephone-1 .right-part .widget {
    background: #ffcece;
}

body.voyance-telephone-1 .right-part .widget .widget-title {
    background: #f23c62;
}

body.voyance-telephone-1 .right-part.tchat {
    margin-top: 80px;
}

.tchat .advert-online h2 {
    color: #f23c62;
}

body.voyance-telephone-1 .voyant-membre {
    max-width: none;
    margin: 0;
    padding: 1px 10% 20px;
    background: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
body.voyance-telephone-1 .voyant-membre h2 {
    color: #2d2925;
    border-bottom: 2px dotted #333;
    padding-bottom: 10px;
    margin: 20px auto;
    font-variant: small-caps;
}
body.voyance-telephone-1 .voyant-membre h2 strong {
    font-weight: 300;
}
body.voyance-telephone-1 .voyant-membre .slogan {
    font-weight: normal;
    color: #b91437;
}

body.voyance-telephone-1 .pop {
    display: block;
    position: absolute;
    left: 45%;
    text-align: center;
    border-radius: 50%;
    color: #FFF;
    text-transform: uppercase;
    padding: 41px 30px;
    background-color: #f23c62;
}

body.voyance-telephone-1 .right-part .widget .li-form input {
    height: auto;
    padding: 6px 10px;
    border: 0;
    color: #333333;
    font-size: 1.2em;
}

body.voyance-telephone-1 .left-part .comment-ca-marche h2 {
    padding-left: 20px;
    color: #2d2925;
    text-transform: none;
}

body.voyance-telephone-1 .left-part .comment-ca-marche .faq {
    background-color: white;
}

body.voyance-telephone-1 .left-part .comment-ca-marche .faq .cols-3.first {
    background: url('ico-form-telephone1.png') no-repeat 20px center transparent;
}
body.voyance-telephone-1 .left-part .comment-ca-marche .faq .cols-3.last {
    background: url('ico-rappel1.png') no-repeat 20px center transparent;
}

body.voyance-telephone-1 .subfooter {
    background-color: #333333;
    background: linear-gradient(to bottom, #595959 0%, #333333 100%);
}