body {
    background-color: #333 !important;
    color:#d8d8d8;
}

.top-menu-2 .navbar-inner,
.top-menu-2 ul.nav > .dropdown > .dropdown-menu,
.top-menu-2 .dropdown-submenu > .dropdown-menu {
    background-color: #222;
}

.breaking-news-widget,
.ticker-swipe,
.ticker-swipe span {

    background-color: #333 !important;
}

.breaking-news-widget > .row-fluid > .content .ticker-content a {
        color:#f3f3f3;
    }

/* Scroll bar */
::-webkit-scrollbar-track {
    background-color: #d5d5d5;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0,0,0,0.4);
}

a {
    color: #F3F3F3; /*#3F5765;*/
}

.btn-theme:hover, .btn-theme:focus,
.btn-theme:active, .btn-theme.active {
    background-color: #636363;
    color: #CACACA;
}

.cat-horiz > .cat-horiz-divider,
.cat-vertical > .cat-vert-divider {
    border-top-color:#555;
}


ul.modern-tabs,
ul.modern-tabs .btn-theme,
.modern-accordion-container .btn-theme,
.modern-toggle-container .btn-theme {
    background-color: #5E5E5E;
}

select, 
textarea, 
input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], input[type="month"], 
input[type="time"], input[type="week"], 
input[type="number"], input[type="email"], 
input[type="url"], input[type="search"], 
input[type="tel"], input[type="color"], .uneditable-input {
    border-color:#555;
}

.posts-in-widget ul.media-list li,
.cat-horiz-divided .related-posts > ul.media-list > li {
    border-bottom-color:#555;
}

.cat-widget-title:after,
.widget-title:after,
.widget-300-title:after,
.f-widget-title:after {
    background: url('../../images/stripes-dark.png');
}

/* bootstrap tooltip */
.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #111;
}

.tooltip-inner {
    padding: 3px 8px;
    background-color: #111;
}

.widget .widget-content a.btn-theme:hover,
.widget .widget-content a.btn-theme:focus {
    color: #fff;
}

.btn-theme.disabled, .btn-theme[disabled] {
    color: #919191;
    background-color: #DADADA;
    cursor: default;
}

.highlight {
    background-color: #FAFF77;
    color: #535353;
}

blockquote {
border-left: 5px solid rgb(128, 128, 128);
}

    blockquote p::before {        
        color: #979797;
        text-shadow: 1px 1px 1px #3C3C3C;
    }

.carousel-nav {
    background-color: #E6E6E6;
}

.navbar-top .navbar .nav > li > a:focus,
.navbar-top .navbar .nav > li > a:hover,
.navbar-top .dropdown-menu > li > a:hover,
.navbar-top .dropdown-menu > li > a:focus,
.navbar-top .dropdown-submenu:hover > a,
.navbar-top .dropdown-submenu:focus > a,
.navbar-top .right-section .social a:hover,
.navbar-top .right-section .social a:focus,
.navbar-top .right-section .social i:hover,
.navbar-top .right-section .social i:focus,
.navbar-main .navbar .nav > .active > a,
.navbar-main .navbar .nav > .active > a:hover,
.navbar-main .navbar .nav > .active > a:focus .navbar-main .navbar .nav.pull-right > li > a [class^="icon-"],
.navbar-main .navbar .nav.pull-right > li > a [class*="icon-"],
.navbar-main .dropdown-menu > li > a:before,
.navbar-main .dropdown-submenu > li > a:before {
    color: #fff;
}

.navbar-main .navbar .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar-main .navbar .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar-main .navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
    border-top-color: #fff;
    border-bottom: #fff;
}

.navbar-top .navbar-inverse .navbar-inner,
.navbar-top .dropdown-menu,
.navbar-top .navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
.navbar-top .navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
.navbar-top .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle,
.navbar-top .dropdown-menu > li > a:hover,
.navbar-top .dropdown-menu > li > a:focus,
.navbar-top .dropdown-submenu:hover > a,
.navbar-top .dropdown-submenu:focus > a {
    background: #1F1F1F;
    background-color: #1F1F1F;
    /*-webkit-box-shadow: 0px 5px 20px rgba(54, 54, 54, 0.94);
    -moz-box-shadow: 0px 5px 20px rgba(54, 54, 54, 0.94);
    box-shadow: 0 5px 20px rgba(54, 54, 54, 0.94);*/
}

    .navbar-top .navbar-inverse .navbar-inner:before,
    .navbar-top .navbar-inverse .navbar-inner:after {
    }

.navbar-main .navbar .navbar-inner {
    /*-webkit-box-shadow: 0px 5px 13px rgba(54, 54, 54, 0.94);
    -moz-box-shadow: 0px 5px 13px rgba(54, 54, 54, 0.94);
    box-shadow: 0px 5px 13px rgba(54, 54, 54, 0.94);*/
}

/* Login Form */
.input-append .add-on, .input-prepend .add-on {
    background-color: #fff;
}

.flexslider .flex-direction-nav > li,
.flex-control-paging li a:hover,
.flex-control-paging li a.flex-active {
    background-color: #8B8B8B;
}

.flex-control-paging li a {
    border-color: #dfdfdf;
}

.cat-horiz .last-post .img-container .img-meta .post-date, 
.cat-vertical .last-post .img-container .img-meta .post-date, 
.cat-horiz-divided .last-post .img-container .img-meta .post-date {
    background: rgba(0, 0, 0, 0.60);
}

.cat-widget,
.widget,
.widget-300,
.article-content,
.author-bio,
.article-tags {
    /*border-color: #FF1F00 #d5d5d5 #d5d5d5 #d5d5d5; /* #333745, #3F5765 */
    /*border-color: #d5d5d5 !important;*/
}

.breaking-news-widget > .row-fluid > .title h3 {
    color: #fff;
}

.cat-widget .cat-widget-title h3,
.author-bio .cat-widget-title h3,
.widget .widget-title h4,
.widget-300 .widget-300-title h4,
.modern-footer .f-widget > .f-widget-title h4,
.widget .widget-content .widget-weather > .info > span,
.widget .widget-content .widget-weather > .date > span {
    color: #F3F3F3;
}

.widget .widget-content .widget-weather > .info,
.widget .widget-content .widget-weather {
    border-color: #555;
}

.tags-cloud a.btn-theme {
    background-color: #636363 !important;
    color: #CACACA;
}

.modern-footer .tags-cloud a.btn-theme {
    background-color: #2B2B2B !important;
    border-color: #575757;
}



/* White Backgrounds */
.navbar-main .container-fluid,
.cat-review .review > .content,
.cat-review .review > .content .post-info .post-desc ul.criteria > li > .title,
.cat-review .review > .content .post-info .post-desc ul.criteria > li > .grade {
    background-color: rgba(255, 255, 255, 0);
}

.flexslider,
.flex-control-paging li a,
select, textarea, input[type="text"],
input[type="password"], input[type="datetime"],
input[type="datetime-local"], input[type="date"],
input[type="month"], input[type="time"], input[type="week"],
input[type="number"], input[type="email"], input[type="url"],
input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    background: rgba(255, 255, 255, 0);
}

.cat-review .review > .content .post-info .post-desc ul.criteria > li > .title,
.cat-review .review > .content .post-info .post-desc ul.criteria > li > .grade {
    color:#F3F3F3;
}

.cat-review .review > .content .post-info .post-desc ul.criteria > li {
    border-color:#555;
}
.cat-review .review > .content .post-info .post-desc ul.criteria > li > .grade {
        border-left-color:#555;
    }

.cat-review.modern-items-list ul.items.left > li:first-child {
    border-bottom-color:#555;
}

/* White Font Color */
.btn-theme,
.tags-cloud a.btn-theme:hover
.thumb-effect .mask,
.posts-in-scrolling-box .paging-footer .pagination ul > li:hover > a > i,
.posts-in-scrolling-box .paging-footer .pagination ul > li:focus > a > i,
.twitter-ticker-widget .widget-inner > .title,
.modern-footer .f-widget > .f-widget-title h4,
.cat-horiz .last-post .img-container .img-meta span,
.cat-vertical .last-post .img-container .img-meta span,
.cat-horiz-divided .last-post .img-container .img-meta span,
.cat-horiz .last-post .img-container .img-meta span,
.cat-vertical .last-post .img-container .img-meta span,
.cat-horiz-divided .last-post .img-container .img-meta span,
.cat-review .review .img-container .img-meta span,
.cat-review .review .img-container .img-meta .post-title,
.cat-review .review .img-container .img-meta .post-result,
.flexslider.large .fold-item .description > .title .post-meta > span,
.modern-footer .tags-cloud a.btn-theme {
    color: #fff;
}

.modern-footer,
.modern-footer .f-copyright a {
    color: #ccc;
}

    .modern-footer .flex-control-paging li a {
        border-color: #cecece !important;
        background-color: #696969;
    }

    .modern-footer .flexslider .flex-direction-nav > li {
        background-color: #686868;
    }

    .modern-footer .modern-items-list .fold-item .description.visible-part {
        background-color: rgba(0, 0, 0, 0.76);
    }

    .modern-footer .f-copyright {
        /*background-color: rgb(37, 37, 37);*/
        /*color: #a3a3a3;*/
    }

.article-content .post-review .total-score .progress-striped .bar {
    /*background-color:#333;*/
}

/* Font and Icons Colors */
a:hover, a:focus,
i:hover, i:focus,
.ticker-content a:hover,
.widget a:hover, .widget-300 a:hover, .cat-widget a:hover,
.cat-horiz a:hover,
.cat-horiz .related-posts .media-list a:hover,
.cat-horiz .last-post .post-info .post-meta a:hover,
.cat-horiz .related-posts .media-list .post-meta a:hover,
.cat-horiz .last-post .post-info .post-meta a:hover > i,
.cat-horiz .related-posts .media-list .post-meta a:hover > i,
.cat-horiz-divided a:hover,
.cat-horiz-divided .related-posts .media-list a:hover,
.cat-horiz-divided .last-post .post-meta a:hover,
.cat-horiz-divided .last-post .post-meta a:hover > i,
.cat-horiz-divided .last-post .post-meta a:focus,
.cat-horiz-divided .last-post .post-meta a:focus > i,
.cat-horiz-divided .related-posts .media-list .post-meta a:hover,
.cat-horiz-divided .related-posts .media-list .post-meta a:hover > i,
.cat-vertical a:hover,
.cat-vertical a:hover > i,
.cat-vertical a:hover > span,
.cat-vertical .last-post .post-info .post-meta a:hover,
.cat-vertical .last-post .post-info .post-meta a:hover > i,
.cat-vertical .last-post .post-info .post-meta a:focus,
.cat-vertical .last-post .post-info .post-meta a:focus > i,
.cat-vertical .related-posts .media-list a:hover,
.cat-vertical .related-posts .media-list .post-meta a:hover,
.cat-vertical .related-posts .media-list a:hover > i,
.cat-vertical .related-posts .media-list .post-meta a:hover > i,
.cat-vertical .related-posts .media-list a:focus > i,
.cat-vertical .related-posts .media-list .post-meta a:focus > i,
.posts-in-thumbs .media-list a:hover,
.posts-in-scrolling-box .media-list a:hover,
.posts-in-thumbs .media-list li:hover a,
.posts-in-scrolling-box .media-list li:hover a,
.widget .widget-content .tabs-body-style .media-list li:hover a,
.article-content .post-info .post-meta a:hover,
.article-content .post-info .breadcrumb a:hover,
.article-content .post-info .post-meta a:hover > i,
.article-content .post-info .breadcrumb a:hover > i,
.comments-box .cat-widget-content .media-body .media ul > li > a:hover,
.comments-box .cat-widget-content .media-body .media ul > li > a:hover > i,
.comments-box .cat-widget-content .media-body .media .media-body .media ul > li > a:hover,
.comments-box .cat-widget-content .media-body .media .media-body .media ul > li > a:hover > i,
.post-navigation a:hover,
.posts-in-thumbs .media-list .post-meta a:hover,
.posts-in-scrolling-box .media-list .post-meta a:hover,
.widget .widget-content .tabs-body-style .media-list .post-meta a:hover,
.post-navigation div a:hover > span,
.post-navigation div a:hover > i,
.blog-item .post-meta ul li a:hover,
.blog-item .post-meta ul li a:hover > i {
    /*color: #000;*/
}

.navbar-main .navbar .navbar-inner {
    /*background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    background-repeat: repeat-x;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    filter: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;*/

background: rgb(84,84,84); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU0NTQ1NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzQ5NDk0OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzNkM2QzZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyODI4MjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(84,84,84,1) 0%, rgba(73,73,73,1) 50%, rgba(61,61,61,1) 51%, rgba(40,40,40,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(84,84,84,1)), color-stop(50%,rgba(73,73,73,1)), color-stop(51%,rgba(61,61,61,1)), color-stop(100%,rgba(40,40,40,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(84,84,84,1) 0%,rgba(73,73,73,1) 50%,rgba(61,61,61,1) 51%,rgba(40,40,40,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(84,84,84,1) 0%,rgba(73,73,73,1) 50%,rgba(61,61,61,1) 51%,rgba(40,40,40,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(84,84,84,1) 0%,rgba(73,73,73,1) 50%,rgba(61,61,61,1) 51%,rgba(40,40,40,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(84,84,84,1) 0%,rgba(73,73,73,1) 50%,rgba(61,61,61,1) 51%,rgba(40,40,40,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#545454', endColorstr='#282828',GradientType=0 ); /* IE6-8 */

}

.navbar-main .navbar .navbar-inner {
    /*background: rgb(36, 36, 36);
    background-color: rgb(36, 36, 36);*/
}

.navbar-main .navbar .divider-vertical {
    border-right-color: rgb(97, 97, 97);
border-left-color: rgb(56, 56, 56);
}

.navbar-main .navbar .nav > li > a,
.navbar-main .navbar .nav > li > i,
.navbar-main .navbar .brand,
.navbar-main .navbar .nav > li > a [class^="icon-"],
.navbar-main .navbar .nav > li > a [class*="icon-"],
.navbar-main .dropdown-menu > li > a {
    color: #fff;
    text-shadow: none;
}

.navbar-main .navbar .nav li.dropdown > .dropdown-toggle .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}

.navbar-main .navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar-main .navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar-main .navbar .nav li.dropdown.open.active > .dropdown-toggle,
.navbar-main .navbar .nav > li.dropdown.active [class^="icon-"],
.navbar-main .navbar .nav > li.dropdown.open.active [class^="icon-"],
.navbar-main .navbar .nav > li.dropdown.active [class*="icon-"],
.navbar-main .navbar .nav > li.dropdown.open.active [class*="icon-"],
.navbar-main .navbar .nav > li > a:focus,
.navbar-main .navbar .nav > li > a:hover,
.navbar-main .navbar .nav > li > a:focus [class^="icon-"],
.navbar-main .navbar .nav > li > a:hover [class^="icon-"],
.navbar-main .navbar .nav > li > a:focus [class*="icon-"],
.navbar-main .navbar .nav > li > a:hover [class*="icon-"],
.navbar-main .navbar .nav > li > i:focus,
.navbar-main .navbar .nav > li > i:hover,
.navbar-main .navbar .dropdown .caret:hover,
.navbar-main .navbar .nav > .active > a,
.navbar-main .navbar .nav > .active > a:hover,
.navbar-main .navbar .nav > .active > a:focus,
.navbar-main .dropdown-menu > li > a:hover,
.navbar-main .dropdown-menu > li > a:focus,
.navbar-main .dropdown-submenu:hover > a,
.navbar-main .dropdown-submenu:focus > a {
    color: #fff;
}

.widget .widget-content ul.tabs-header li {
}

    .widget .widget-content ul.tabs-header li.btn-theme a {
        color: #fff;
        /*text-shadow: 0px 1px 1px rgb(0,0,0);*/
        text-shadow: none;
    }

.widget .widget-content ul.tabs-header li {
    background-color: #555;
}

    .widget .widget-content ul.tabs-header li:hover {
        background-color: #696969;
    }

    .widget .widget-content ul.tabs-header li.btn-theme a:hover,
    .widget .widget-content ul.tabs-header > li.btn-theme.active > a {
        color: #fff;
    }

.widget span,
.widget-300 span,
.cat-widget span {
    color: #F3F3F3;
}

.cat-horiz .last-post .post-info .post-desc p,
.cat-vertical .last-post .post-info .post-desc p,
.cat-horiz-divided .last-post .post-desc p {
    color: #d3d3d3;
}

.article-content > header .breadcrumb,
.article-content .post-info,
.article-content .authors-page ul.authors li.media,
.article-content > .timeline-page h2 {
    border-bottom-color: #555;
}

.cat-horiz .last-post .post-meta i,
.cat-horiz-divided .last-post .post-meta i,
.cat-vertical .last-post .post-info .post-meta i,
.cat-horiz-divided .related-posts .media-list .post-meta i,
.cat-review .review .post-meta i, .posts-in-widget i,
.blog-item .post-meta ul li [class^="bo-icon"],
.article-content .blog .paging-footer .current-page [class^="bo-icon-"],
.article-content > header .breadcrumb [class^="bo-icon-"]:first-child,
.article-content > header .breadcrumb [class*="bo-icon-"]:first-child,
[class^="bo-icon-"],
[class*="bo-icon-"]{
    background-image: url("../../framework/bootstrap/img/glyphicons-halflings-white.png");
}

.article-content > header .breadcrumb > li > a,
.article-content > header .breadcrumb [class^="icon-"] {
color:#f3f3f3;
}

.article-content .social-share-footer,
.posts-in-scrolling-box .paging-footer {
    background-color: #333;
border-top: 1px solid #555;
border-bottom: 1px solid #555;
}

.article-content .blog .paging-footer {
    background-color: #333;
border-color:#555;
}

    .article-content .blog .paging-footer .pagination ul > li > a:hover,
    .article-content .blog .paging-footer .pagination ul > li > a:focus {
        color: #868686;
        background-color: #242424;
    }

.pagination ul > li > a, .pagination ul > li > span {
    background-color: #555;
    border: 1px solid #777;
}

.comments-box .cat-widget-content .media-body .media,
.comments-box .cat-widget-content .media-body .media .media {
    color:#CACACA;
}

.article-content .login-page .form-horizontal .login-inputs {
    border-right-color: #555;
}

.article-content > .timeline-page > .row-fluid > .dl-horizontal,
.article-content .post-review .total-score .summary {
    border-left-color:#555;
}

.article-content .post-review {
    border-color:#555;
}

.table th, .table td {
    border-top:1px solid #555;
}

.article-content .post-review .total-score {
        background-color: #414141;
        border-color:#616161;
    }

    .posts-in-scrolling-box .paging-footer a:hover {
        background-color: #3F5765;
    }

    .posts-in-scrolling-box .paging-footer .pagination a {
        background-color: #fff;
    }

    .posts-in-scrolling-box .paging-footer .pagination ul > li > a [class^="icon-"],
    .posts-in-scrolling-box .paging-footer .pagination ul > li > a [class*="icon-"] {
        color: #3a3a3a;
    }

.post-navigation .prev-post span,
.post-navigation .next-post span,
.post-navigation .prev-post i,
.post-navigation .next-post i,
.post-navigation div {
    color: #fff;
}

.posts-in-widget span,
.posts-in-widget i,
.blog-item .post-meta,
.blog-item .post-meta ul li a, .blog-item .post-meta ul li span,
.blog-item .post-meta .post-author a {
    color: #A5A5A5;
}

.cat-horiz .related-posts .media-list li:hover,
.cat-horiz-divided .related-posts .media-list li:hover,
.cat-vertical .related-posts .media-list li:hover,
.posts-in-thumbs .media-list li:hover,
.posts-in-scrolling-box .media-list li:hover,
.widget .widget-content .tabs-body-style .media-list li:hover {
    /*background: #f6f6f6;*/
}

.widget, .widget-300, .article-content, .author-bio, .article-tags {
    /* #333745, #3F5765 */
}

    .widget a, .widget-300 a, .cat-widget a {
        /*color: #3F5765;*/
    }

.carousel-caption h4 a {
    color: #d5d5d5;
}

#divStyleSwitcher {
    background: rgb(84,84,84); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU0NTQ1NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzQ5NDk0OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyODI4MjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left, rgba(84,84,84,1) 0%, rgba(73,73,73,1) 50%, rgba(40,40,40,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(84,84,84,1)), color-stop(50%,rgba(73,73,73,1)), color-stop(100%,rgba(40,40,40,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(84,84,84,1) 0%,rgba(73,73,73,1) 50%,rgba(40,40,40,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(84,84,84,1) 0%,rgba(73,73,73,1) 50%,rgba(40,40,40,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(84,84,84,1) 0%,rgba(73,73,73,1) 50%,rgba(40,40,40,1) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(84,84,84,1) 0%,rgba(73,73,73,1) 50%,rgba(40,40,40,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#545454', endColorstr='#282828',GradientType=1 ); /* IE6-8 */
}

#divFluidStyle, #divFixedStyle {
    background-color: #585858;
    border: 1px solid #999;
}