/* 
    ----------------------------------
    --   Thème nouvelle-lune-2016   --
    ----------------------------------

    Created on : 25 avril 2016
    Author     : Laurène Dourdin <2aurene@gmail.com>
*/
body.voyance-telephone-1 {
    background: url('bg.jpg') no-repeat center fixed;
    background-size: cover;
    background-color: #000916;
    padding-top: 30px !important;
}
body.voyance-telephone-1 .top-nav {
    display: none;
}
body.voyance-telephone-1 .left-part {
    float: right;
}
body.voyance-telephone-1 .right-part {
    background: transparent;
}

body.voyance-telephone-1 .right-part.tchat {
    margin-top: 95px;
}
body.voyance-telephone-1 .right-part.tchat > * {
    float: left;
}

.tchat .advert-online {
    text-align: left;
}
.tchat .advert-online h2 {
    color: white;
    font-weight: normal;
    right: 0;
}
.tchat .overlay {
    right: 4%;
    left: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 2px;
}
.tchat .screen {
    border-top-right-radius: 10px;
    border-top-left-radius: 2px;
    opacity: 0.7;
}

body.voyance-telephone-1 .left-part .logo img {
    display: none;
}

body.voyance-telephone-1 .right-part.logo-right {
    height: 107px;
    background: url('logo-myastro.png');
    background-repeat: no-repeat;
    max-width: initial;
}

body.voyance-telephone-1 .voyant-membre {
    max-width: none;
    margin: 0;
    padding: 1px 10% 20px;
    background: rgba(56, 164, 250, 0.54);
    border-radius: 0;
}
body.voyance-telephone-1 .voyant-membre h2 {
    color: #04001F;
    border-bottom: 3px dotted #04001F;
    padding-bottom: 10px;
    margin: 20px auto;
}
body.voyance-telephone-1 .voyant-membre h2 strong {
    font-weight: normal;
}
body.voyance-telephone-1 .voyant-membre .slogan {
    font-weight: normal;
    color: white;
}

body.voyance-telephone-1 .right-part .widget {
    background-color: #04001f;
    border-radius: 0;
}

body.voyance-telephone-1 .right-part .widget .widget-title {
    background: #fd7d00;
    color: #04001f;
}
body.voyance-telephone-1 .right-part .widget .widget-title strong {
    font-weight: normal;
}
body.voyance-telephone-1 .right-part .widget .li-form input {
    height: auto;
    padding: 6px 10px;
    border: 0;
    border-radius: 0;
    color: #333333;
    font-size: 1.2em;
}
body.voyance-telephone-1 .right-part .widget input[type="submit"] {
    border: 0;
    border: 1px solid rgba(18, 18, 19, 0.33);
    border-radius: 40px;
    background: #fd7d00;
    box-shadow: inset 4px 4px 1px rgba(255, 255, 255, 0.5), inset -4px -4px 2px rgba(0, 0, 0, 0.5);
    color: #04001f;
    text-transform: uppercase;
    font-weight: normal;
}

#rappel input.form-control {
    padding: 7px 12px;
    width: auto;
}

#rappel .btn-primary {
    position: relative;
    top: -5px;
    left: 8px;
    padding: 6px 20px;
    border: 1px solid rgba(18, 18, 19, 0.33);
    border-radius: 40px;
    background: #fd7d00;
    box-shadow: inset 2px 2px 1px rgba(255, 255, 255, 0.5), inset -2px -2px 2px rgba(0, 0, 0, 0.5);
    color: #04001f;
    text-transform: uppercase;
    font-weight: normal;
    font-family: 'Open Sans';
}
#rappel .btn-primary:hover {
    background-color: #30d4e1;
    color: #050120;
    box-shadow: inset 2px 2px 1px rgba(0, 0, 0, 0.5), inset -2px -2px 2px rgba(255, 255, 255, 0.5);
}
.theEnd.pull-left.bg-info {
    margin-top: 6px;
    padding-top: 8px;
}

body.voyance-telephone-1 .left-part .comment-ca-marche h2 {
    color: white;
    text-transform: none;
    font-size: 2em;
}

body.voyance-telephone-1 .left-part .comment-ca-marche .faq {
    background: white;
    border-radius: 0;
    opacity: 0.7;
}
body.voyance-telephone-1 .left-part .comment-ca-marche .faq .cols-3 {
    color: #211A38;
    font-style: normal;
    font-weight: bold;
}

body.voyance-telephone-1 .left-part .comment-ca-marche .faq .cols-3.first {
    background: url('ico-form-telephone1.png') no-repeat 20px center transparent;
}
body.voyance-telephone-1 .left-part .comment-ca-marche .faq .cols-3.last {
    background: url('ico-rappel1.png') no-repeat 20px center transparent;
}

body.voyance-telephone-1 .subfooter {
    margin-top: 30px;
    background: transparent;
}

body.voyance-telephone-1 .subfooter ul {
    background-color: #38a4fa;
    color: #04001f;
    margin-top: 20px;
}

body.voyance-telephone-1 .subfooter ul li.first{
    background-image: url('ico-star-dark.png');
}
body.voyance-telephone-1 .subfooter ul li.second{
    background-image: url('ico-lock-dark.png');
}
body.voyance-telephone-1 .subfooter ul li.third{
    background-image: url('ico-gift-dark.png');
}
body.voyance-telephone-1 .subfooter ul li.fourth{
    background-image: url('ico-trophy-dark.png');
}
body.voyance-telephone-1 .subfooter ul li.fifth{
    background-image: url('ico-secure-dark.png');
}

body.voyance-telephone-1 .footer {
    color: white;
}