.imgtelb{
margin-left:-70px;margin-top:7px;width: 100px; height: 100px;-moz-border-radius: 100px;
border-radius: 180px;
border: 5px solid #3266aa;
}
.imgtelr{
margin-left:-70px;margin-top:7px;width: 100px; height: 100px;-moz-border-radius: 100px;
border-radius: 180px;
border: 5px solid #fd00a0;
}




.imgvoyb{
margin-top:-10px;width: 100px; -moz-border-radius: 100px;
border-radius: 180px;
border: 5px solid #3266aa;
}

.imgvoyr{
margin-top:-10px;width: 100px; -moz-border-radius: 100px;
border-radius: 180px;
border: 5px solid #fd00a0;
}




.imgtelvb{
margin-left:0px;margin-top:0px;width: 125px; height: 125px;-moz-border-radius: 100px;
border-radius: 180px;
border: 5px solid #3266AA;
}
.imgtelvr{
margin-left:0px;margin-top:0px;width: 125px; height: 125px;-moz-border-radius: 100px;
border-radius: 180px;
border: 5px solid #fd00a0;
}
.cadretel{
margin-top:40px;margin-left:60px;width: 220px; height: 80px;padding:10px;
word-wrap: break-word;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
-khtml-border-radius: 6px;
border-radius: 00px;

background: #f5f6f6; /* Old browsers */
background: -moz-linear-gradient(top, #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f6f6), color-stop(21%,#dbdce2), color-stop(49%,#b8bac6), color-stop(80%,#dddfe3), color-stop(100%,#f5f6f6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* IE10+ */
background: linear-gradient(to bottom, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 ); /* IE6-9 */


box-shadow: 1px 1px 12px #555;
}
.cadretelv{
margin-top:0px;margin-left:0px;width: 96%; padding:10px;
word-wrap: break-word;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
-khtml-border-radius: 6px;
border-radius: 00px;

background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(243,243,243,1)), color-stop(51%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */


box-shadow: 1px 1px 12px #555;
}
.divtel01{
margin-left:75px;margin-top:-120px;width: 170px; height: 150px;
}
.tarifdiv{
background-color: white;
    
    width: 130px;
    margin: 5px 5px 10px 5px;
    
     
    /*shadow*/
    -webkit-box-shadow: 5px 5px 5px #000;
    -moz-box-shadow: 5px 5px 5px #000;
    box-shadow: 5px 5px 5px #000;
     
    /*rounded corners*/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

}

.tariftxt{
margin-left:5px;
font-size: 10px;
    line-height: 30px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}