@charset "UTF-8";
/* 
    -------------------------------------------------
    --    structure landing avec roue de signes    --
    -------------------------------------------------

    Created on : 10 juin 2016
    Author     : Laurène Dourdin <2aurene@gmail.com>
*/
@import "../knacss444/knacss";

body {
    font-size: 1.3rem;
    padding-top: 2rem;
}

.PageWrapper {
    width: 100%;
    max-width: 940px;
    margin: auto;
}


/* ---------------------------------- LOGO ---------------------------------- */

.SiteLogo {
    display: block;
    position: absolute;
    top: 0;
    height: 100px;
    width: 100px;
    background-color: grey;
}

@media all and (max-width: 940px){
    .SiteLogo {
        margin-left: 2rem;
    }
}

@media all and (max-width: 620px){
    .SiteLogo {
        height: 80px;
        width: 80px;
    }
}


/* ------------------------------- FORMULAIRE ------------------------------- */

.DescText-Content {
    margin-bottom: 1.5rem;
}

@import "../modules/form";

/* ------------------------------ ROUE SIGNES ------------------------------- */

@import "../modules/wheel";

.ContentBand {
    box-sizing: initial;
    padding: 5rem 0;
}

@media all and (max-width: 660px){
    .ContentBand.Wheel {
        padding-top: 8rem;
    }
}

.Wheel-Core .FormContainer-Fields {
    padding: 0;
}

@media all and (max-width: 480px){
    .Wheel-Core {
        padding: 55px 85px 0px 85px;
    }
}

/* ------------------------------- REASSURANCE ------------------------------ */

.SiteFooter {
    margin-bottom: 2rem;
}

@import "../modules/reassurance";

.ReassuranceList-Item {
    padding: 0 1rem;
}


/* --------------------------------- FOOTER --------------------------------- */

.SiteCopyright {
    text-align: center;
    margin-bottom: 2rem;
}


/* ---------------------------------- DRI ----------------------------------- */

body.DRI {
    .SiteLogo {
        top: initial;
    }
    .DRI-Intro {
        margin-bottom: 4rem;
        padding: 0 2rem;
        text-align: center;
        &-Title {
            margin-bottom: 0;
            font-size: 3rem;
            hyphens: none;
        }
        &-Text {
            margin-top: 0;
            font-size: 1.8rem;
            hyphens: none;
        }
    }
    .DRI-Slogan {
        padding: 0 8rem;
        text-align: center;
        font-size: 2.5rem;
    }
    .FormContainer {
        box-sizing: border-box;
        height: 620px;
        margin: auto;
        padding: 0;
        background-color: transparent;
        
        &-Wrapper {
            position: absolute;
            left: 50%;
            display: table;
            width: 490px;
            height: 620px;
            margin-left: -245px;
            background-color: grey;
            
            > div {
                display: table-cell;
                vertical-align: bottom;
                padding-bottom: 1.5rem;
            }
        }
        &-Fields {
            margin-top: 3rem;
            padding: 0 8rem;
        }
    }
}

@media all and (max-width: 860px){
    body.DRI {
        .ContentBand {
            padding-top: 0;
        }
        .SiteLogo {
            position: static;
            margin: auto;
            margin-bottom: 2rem;
        }
    }
}

@media all and (max-width: 380px){
    body.DRI {
        .DRI-Intro-Title {
            font-size: 2.6rem;
            margin-bottom: 1rem;
        }
        .DRI-Slogan, .FormContainer-Fields {
            padding: 0 10rem;
        }
        .DRI-Slogan {
            font-size: 2.2rem;
        }
    }
}

/* ---------------------------------- HOW ----------------------------------- */

@import "../modules/how";

.How {
    margin-top: 3rem;
    padding: 0;
    color: black;
    &-Header {
        margin-bottom: 1rem;
        text-align: center;
        font-size: 2.4rem;
    }
}