@charset "UTF-8";
/* 
    -------------------------------------------------
    --    structure landing avec roue de signes    --
    -------------------------------------------------

    Created on : 10 juin 2016
    Author     : Laurène Dourdin <2aurene@gmail.com>
*/
@import "../knacss444/knacss";

* {
    box-sizing: border-box;
}

body {
    font-size: 1.3rem;
    padding-top: 2rem;
}

.PageWrapper {
    width: 100%;
    max-width: 940px;
    margin: auto;
}


/* ---------------------------------- LOGO ---------------------------------- */

.SiteLogo {
    display: block;
    position: absolute;
    top: 0;
    height: 100px;
    width: 100px;
    background-color: grey;
}

@media all and (max-width: 940px){
    .SiteLogo {
        margin-left: 2rem;
    }
}

@media all and (max-width: 620px){
    .SiteLogo {
        height: 80px;
        width: 80px;
    }
}


/* ------------------------------- FORMULAIRE ------------------------------- */

.DescText-Content {
    margin-bottom: 1.5rem;
}

@import "../modules/form";

/* ------------------------------ ROUE SIGNES ------------------------------- */
@import "../modules/wheel";

.ContentBand {
    position: relative;
    box-sizing: initial;
    padding: 5rem 0;
}

@media all and (max-width: 660px){
    .ContentBand.Wheel {
        padding-top: 8rem;
    }
}

.Wheel-Core .FormContainer-Fields {
    padding: 0;
}

@media all and (max-width: 480px){
    .Wheel-Core {
        padding: 55px 85px 0px 85px;
    }
}

/* ------------------------------- REASSURANCE ------------------------------ */

.SiteFooter {
    margin-bottom: 2rem;
}

@import "../modules/reassurance";

.ReassuranceList-Item {
    padding: 0 1rem;
}


/* --------------------------------- FOOTER --------------------------------- */

.SiteCopyright {
    text-align: center;
    margin-bottom: 2rem;
}

/* ---------------------------------- HOW ----------------------------------- */

$how_media_queries: false;
@import "../modules/how";

.How {
    margin-top: 3rem;
    padding: 0;
    color: black;
    &-Header {
        margin-bottom: 1rem;
        text-align: center;
        font-size: 2.4rem;
    }
}