@charset "UTF-8";
/* 
    --------------------------------
    --      module formulaire     --
    --------------------------------

    Created on : 26 mai 2016
    Author     : Laurène Dourdin <2aurene@gmail.com>
*/

.alert {
    display: block;
    padding: 0.8rem 1.2rem;
    margin: 0;
    margin-bottom: 2rem;
    border: 1px solid;
    b {
        font-weight: 600;
    }
}

.fa img {
    display: none;
}

.FormContainer {
    position: relative;
    padding: 3rem;
    background-color: grey;
    
    &.overlay {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.85) !important;
        border: none;
        height: 100%;
        width: 100%;
        z-index: 2;
        color: white;
    }
    
    &-Pop {
        position: absolute;
        background-color: silver;
        z-index: 2;
    }
    
    &-Header {
        margin: 0;
        margin-bottom: 1.5rem;
        text-align: center;
        font-family: inherit;
        font-size: 2.8rem;
        font-weight: inherit;
    }
    
    &-Slogan {
        font-size: 1.8rem;
        text-align: center;
    }
    
    &-Fields {
        padding: 0 2rem;
    }
    
    &-Submit {
        display: block;
        min-width: 60%;
        margin: auto;
        margin-top: 3rem;
        padding: 1rem 2rem;
        font-family: inherit;
        font-size: 2.2rem;
        font-weight: bold;
        white-space: nowrap;
    }
}

.FormField {
    display: block;
    position: relative;
    margin-bottom: 2rem;
    
    &-Label {
        display: block;
        margin-bottom: 0.2rem;
        font-family: inherit;
        font-size: 1.6rem;
    }
    
    &-Input {
        display: block;
        width: 100%;
        padding: 0.8rem 1.2rem;
        border: 1px solid;
        
        &.radio {
            display: inline-block;
        }
    }
    
    &-Button {
        padding: 0.8rem 1.2rem;
    }
    
    &-Info {
        font-size: 1.6rem;
    }
    
    &-InfoPop {
        display: block;
        position: absolute;
        margin-top: -3.7rem;
        padding: 0.8rem 1.4rem;
        background-color: white;
        border: 1px solid;
        transition: all 0.25s;
        opacity: 0;
        z-index: -1;
    }
    
    &-Input:focus + &-InfoPop {
        margin-top: -8rem;
        opacity: 1;
        z-index: 1;
    }
    
    &-TableInputContainer {
        display: table;
        width: 100%;
        margin: auto;
        
        &-Cell {
            display: table-cell;
            padding-right: 1rem;
            text-align: center;
            white-space: nowrap;
            
            &:last-child {
                padding-right: 0;
            }
        }
        
        &.fixed-2-col &-Cell {
            width: 33.333%;
        }
        &.fixed-3-col &-Cell {
            width: 33.333%;
        }
        
        &.gender {
            max-width: 300px;
        }    
        &.relationship-status {
            max-width: 400px;
        }
    }
    
    &.radio &-Label, &.radio &-Input {
        display: inline-block;
        width: auto;
        margin-top: 0;
        vertical-align: middle;
        margin: 0 0.2rem;
    }
    
    &.withAside {
        display: table;
        width: 100%;
        margin-bottom: 0;
            
        > * {
            display: table-cell;
            position: relative;
        }
        
        & > *:first-child {
            border-top-right-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
        }
        & > *:last-child {
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
        }
        .FormField-Input {
            float: left;
            width: 100%;
        }
        .aside {
            width: 1%;
            padding: 0.8rem 1.2rem;
            vertical-align: middle;
            line-height: 1;
            white-space: nowrap;
            border: 1px solid;
            border-left: 0 !important;
            
            &.btn {
                padding: 0;
            }
            
            .FormField-Button {
                background-color: transparent;
                border: none;
                color: inherit;
            }
        }
    }
}

.Fields-Table-Row {
    display: table;
    width: 100%;
    margin-bottom: 1rem;
    
    & > .FormField-Label {
        display: table-cell;
        width: 30%;
        padding-right: 1rem;
        text-align: right;
    }
    
    &.Free > .FormField-Label {
        width: auto;
        text-align: left;
    }

    & > .FormField {
        display: table-cell;
        width: auto;
        vertical-align: middle;
    }
    
    .FormField-Info {
        display: inline-block;
        padding-left: 30%;
        margin-top: -1rem;
    }
    
}

.FormField-FlexContainer {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}