/* --------------------------------- MODULE RESEAUX SOCIAUX --------------------------------- */
.module_social{    
    //@include inline-list(0.5rem 0.25rem , 0 0.5rem);
    display:flex;
    justify-content: space-around;
    list-style:none;
    margin: 0;
    margin-bottom: 2rem;
    padding: 0;
    li {
        margin:0 0.5rem;
        a{
            width:2.4rem;
            height:2.7rem;    
            border:0px solid red;
            padding:0; 
            display:block;
            span{display:none}
        }
    }
    #ico-fb{
        background: transparent url('/images_landing/ico-socials.svg') 0% 0% no-repeat;
        background-size:cover;
    }
    #ico-tw{
        background: transparent url('/images_landing/ico-socials.svg') 33% 0%  no-repeat;
        background-size:cover;
    }
    
    #ico-insta{
        background: transparent url('/images_landing/ico-socials.svg') 66% 0% no-repeat;
        background-size:cover;
    }
    
    #ico-bs{
        background: transparent url('/images_landing/ico-socials.svg') 100% 0% no-repeat;
        background-size:cover;
    }
}