/* 
    ----------------------------------
    --      module tirage tarot     --
    ----------------------------------

    Created on : 26 mai 2016
    Author     : Laurène Dourdin <2aurene@gmail.com>
*/

.WidgetTarot {
    text-align: center;
    position: relative;
    
    &-Draw, &-Result {
        margin-bottom: 3rem;
    }
    
    &-ResultMsg {
        hyphens: none;
        font-size: 2.1rem;
        margin-bottom: 4rem;
    }
    
    &-Card {
        display: inline-block;
        position: relative;
        width: $card-width;
        height: $card-height;
        overflow: hidden;
        cursor: pointer;
        perspective-origin: center bottom;
        z-index: 5;
        margin-right: $overlap;
        margin-left: $overlap;
        
        &.notFlipped {
            background: white;
            position: relative;
        }
        
        &.Flipped {
            z-index: 10;
        }
        
        &-Face {
            height: 100%;
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background: white;
            -webkit-transform-style: preserve-3d;
            -webkit-transition-duration: 0.5s;
            -webkit-transition-property: transform;
            -webkit-transition-timing-function: ease-out;
            -webkit-backface-visibility: hidden;
            transform-style: preserve-3d;
            transition-duration: 0.5s;
            transition-property: transform;
            transition-timing-function: ease-out;
            backface-visibility: hidden;
            
            &.front {
                z-index: 5;
                border: 3px solid grey;
            }
            
            &.back {
                z-index: 0;
                -webkit-transform: rotateY(-180deg);
                transform: rotateY(-180deg);
                border: 3px solid orange;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
        
        &.Flipped &-Face.front {
            z-index: 10;
            -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
        }
        &.Flipped &-Face.back {
            z-index: 5;
            -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
        }
        
        &.place {
            background: silver;
            margin: 0;
            margin-right: 10px;
            background-repeat: no-repeat;
            background-size: cover;
        }
        
        &.place:last-child {
            margin-right: 0;   
        }
    }
}

/* Règles responsive tirage tarot */
@media screen and (max-width: 1200px) {
    .WidgetTarot-Card[data-card="8"].notFlipped, .WidgetTarot-Card[data-card="9"].notFlipped {
        display: none;
    }
}
@media screen and (max-width: 1050px){
    .WidgetTarot-Card[data-card="7"].notFlipped, .WidgetTarot-Card[data-card="10"].notFlipped {
        display: none;
    }
}
@media screen and (max-width: 880px){
    .WidgetTarot-Card[data-card="7"].notFlipped, .WidgetTarot-Card[data-card="8"].notFlipped, .WidgetTarot-Card[data-card="9"].notFlipped, .WidgetTarot-Card[data-card="10"].notFlipped, .WidgetTarot-Card[data-card="11"].notFlipped, .WidgetTarot-Card[data-card="12"].notFlipped {
        display: none;
    }
    .WidgetTarot-Card.place {
        margin-right: 0.8rem;
    }
}
@media screen and (max-width: 800px){
    .WidgetTarot-Card {
        width: 120px;
        height: 213px;
        margin-left: -42px;
        margin-right: -42px;
    }
}
@media screen and (max-width: 720px){
    .WidgetTarot-Card {
        width: 100px;
        height: 178px;
        margin-left: -34px;
        margin-right: -34px;
    }
}
@media screen and (max-width: 600px){
    .WidgetTarot-Card[data-card="6"].notFlipped, .WidgetTarot-Card[data-card="13"].notFlipped, .WidgetTarot-Card[data-card="14"].notFlipped, .WidgetTarot-Card[data-card="15"].notFlipped, .WidgetTarot-Card[data-card="16"].notFlipped, .WidgetTarot-Card[data-card="17"].notFlipped, .WidgetTarot-Card[data-card="18"].notFlipped, .WidgetTarot-Card[data-card="19"].notFlipped, .WidgetTarot-Card[data-card="20"].notFlipped, .WidgetTarot-Card[data-card="21"].notFlipped, .WidgetTarot-Card[data-card="22"].notFlipped {
        display: none;
    }
    
    .WidgetTarot-Card {
        margin-left: -28px;
        margin-right: -28px;
    }
}
@media screen and (max-width: 420px){
    .WidgetTarot-Card {
        width: 80px;
        height: 143px;
        margin-left: -16px;
        margin-right: -16px;
    }
}