/* 
    ----------------------------------
    --      module tirage tarot     --
    ----------------------------------

    Created on : 26 mai 2016
    Author     : Laurène Dourdin <2aurene@gmail.com>
*/

.WidgetTarot {
    text-align: center;
    position: relative;
    
    &-Draw, &-Result {
        min-height: $card-height+px;
        margin-bottom: 3rem;
        text-align: center;
    }
    
    &-ResultMsg {
        hyphens: none;
        font-size: 2.1rem;
        margin-bottom: 4rem;
    }
    
    &-Card {
        display: inline-block;
        top: 0;
        left: auto;
        position: relative;
        width: $card-width+px;
        height: $card-height+px;
        overflow: hidden;
        cursor: pointer;
        perspective-origin: center bottom;
        z-index: 5;
        margin-right: $overlap+px;
        margin-left: $overlap+px;
        
        &.notFlipped {
            background: white;
            position: relative;
        }
        
        &.Flipped {
            z-index: 10;
        }
        
        &-Face {
            height: 100%;
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background: white;
            -webkit-transform-style: preserve-3d;
            -webkit-transition-duration: 0.5s;
            -webkit-transition-property: transform;
            -webkit-transition-timing-function: ease-out;
            -webkit-backface-visibility: hidden;
            transform-style: preserve-3d;
            transition-duration: 0.5s;
            transition-property: transform;
            transition-timing-function: ease-out;
            backface-visibility: hidden;
            
            &.front {
                z-index: 5;
                border: 3px solid grey;
                background-repeat: no-repeat;
                background-size: 100% 100%;
            }
            
            &.back {
                z-index: 0;
                -webkit-transform: rotateY(-180deg);
                transform: rotateY(-180deg);
                border: 3px solid orange;
                background-repeat: no-repeat;
                background-size: 100% 100%;
            }
        }
        
        &.Flipped &-Face.front {
            z-index: 10;
            -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
        }
        &.Flipped &-Face.back {
            z-index: 5;
            -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
        }
        
        &.place {
            background: silver;
            margin: 0;
            margin-right: 10px;
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }
        
        &.place:last-child {
            margin-right: 0;
        }
    }
    
    &.toShuffle &-Card {
        transition: all 1s cubic-bezier(0.68, -.55, .265, 1.55);
    }
    &-Card.toShuffle {
        position: absolute;
        top: ($card-height + 30)+px; // 30 = margin-bottom du container des cartes à tirer
        transform: translateX(-($card-width / 2 - 20)+px); // -20 = margin des cartes pour superposition
    }
    &.toShuffle &-Card.place {
        background-color: transparent;
    }
}