@charset "UTF-8";
/* 
    ---------------------------------------------------
    --      module liste de choix de la question     --
    ---------------------------------------------------

    Created on : 26 mai 2016
    Author     : Laurène Dourdin <2aurene@gmail.com>
*/

.ThemeChoice-List {
    position: relative;
    width: 62%;
    margin: auto;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    
    &Item {
        display: table;
        width: 100%;
        margin: 0;
        margin-bottom: 8px;
        padding: 0.8rem 1.5rem;
        border: 1px solid;
        
        &-Icon {
            display: table-cell;
            width: 3.5rem;
            background-color: darkgrey;
        }
        &-Input {
            display: none;
        }
        &-Label {
            display: table-cell;
            padding-left: 2rem;
            hyphens: none;
            font-size: 1.8rem;
            vertical-align: middle;
            line-height: 3.5rem;
        }
        
        &:last-child {
            margin-bottom: 0;
        }
        
        &:hover, &:active, &:focus {
            color: steelblue;
        }
        &:hover &-Icon {
            background-color: lightblue;
        }
        
        &-Input:checked + & {
            color: coral;
            .ThemeChoice-ListItem-Icon {
                background-color: peachpuff;
            }
        }
    }
}

@media all and (max-width: 980px){
    .ThemeChoice-List {
        width: 80%;
        
        &Item-Label {
            padding-left: 1rem;
            font-size: 1.6rem;
            line-height: 3rem;
        }
        &Item-Icon { width: 3rem;}
    }
}

@media all and (max-width: 460px){
    .ThemeChoice-List {
        width: 100%;
        &Item {
            width: 100%;
            padding: 0.8rem 0rem;
            &-Label {
                font-size: 1.4rem;
            }
        }
    }
}