@charset "UTF-8";
/* 
    -------------------------
    --      module roue    --
    -------------------------

    Created on : 10 juin 2016
    Author     : Laurène Dourdin <2aurene@gmail.com>
*/
@import "math-functions";

$core_diam: false !default; @if not $core_diam { $core_diam: 480;}
$core_radius: $core_diam / 2;
$item_edge: false !default; @if not $item_edge { $item_edge: 80;}
$item_margin: false !default; @if not $item_margin { $item_margin: 16;}

.Wheel {
    position: relative;
    height: ($core_diam + 2 * $item_edge + 4 * $item_margin )+px;
    
    &-Core {
        position: absolute !important;
        top: 50% !important;
        left: 50% !important;
        box-sizing: border-box;
        width: $core_diam+px !important;
        height: $core_diam+px !important;
        margin-top: -$core_radius+px !important;
        margin-left: -$core_radius+px !important;
        padding: ($core_radius * .3)+px;
        padding-bottom: 0;
        background-color: grey;
        border-radius: 50%;
        
        &-Title {
            height: 7rem;
            max-height: 7rem;
            text-align: center;
            font-size: 3rem;
            line-height: 3.5rem;
            margin-bottom: 1rem;
        }
        
        &.overlay {
            padding-top: ($core_diam * .2)+px;
        }
    }
    
    $center_item: $item_edge / 2;
    $maximum_position: $core_radius + $item_margin + $center_item;
    $medium_position: cos(30deg) * $maximum_position;
    $minimum_position: cos(60deg) * $maximum_position;
    
    $leftside_max_pos: $maximum_position - $center_item;
    $leftside_med_pos: $medium_position - $center_item;
    $leftside_min_pos: $minimum_position - $center_item;

    $rightside_max_pos: - $maximum_position - $center_item;
    $rightside_med_pos: - $medium_position - $center_item;
    $rightside_min_pos: - $minimum_position - $center_item;
    
    &-Item {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: $item_edge+px;
        height: $item_edge+px;
        margin-left: -$center_item+px;
        margin-top: -$center_item+px;
        background-color: silver;
        background-repeat: no-repeat;
        background-size: contain;
        
        &.n01 { margin-top: $rightside_med_pos+px; margin-left: $leftside_min_pos+px;}
        &.n02 { margin-top: $rightside_min_pos+px; margin-left: $leftside_med_pos+px;}
        &.n03 { margin-left: $leftside_max_pos+px;}
        &.n04 { margin-top: $leftside_min_pos+px; margin-left: $leftside_med_pos+px;}
        &.n05 { margin-top: $leftside_med_pos+px; margin-left: $leftside_min_pos+px;}
        &.n06 { margin-top: $leftside_max_pos+px;}
        &.n07 { margin-top: $leftside_med_pos+px; margin-left: $rightside_min_pos+px;}
        &.n08 { margin-top: $leftside_min_pos+px; margin-left: $rightside_med_pos+px;}
        &.n09 { margin-left: $rightside_max_pos+px;}
        &.n10 { margin-top: $rightside_min_pos+px; margin-left: $rightside_med_pos+px;}
        &.n11 { margin-top: $rightside_med_pos+px; margin-left: $rightside_min_pos+px;}
        &.n12 { margin-top: $rightside_max_pos+px;}
    }
}