/* 
    --------------------------------
    --   Thème tarot-gratuit-16   --
    --------------------------------

    Created on : 12 avril 2016
    Author     : Laurène Dourdin <2aurene@gmail.com>
*/
body.voyance-telephone-1 {
    background: url('bg.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-color: #1A171E;
    padding-top: 30px !important;
}
body.voyance-telephone-1 .top-nav {
    display: none;
}
body.voyance-telephone-1 .left-part {
    float: right;
}
body.voyance-telephone-1 .left-part .right-part {
    margin-top: 175px;
}
body.voyance-telephone-1 .right-part {
    background: transparent;
}

body.voyance-telephone-1 .right-part.tchat {
    top: -30px;
}
body.voyance-telephone-1 .right-part.tchat > * {
    float: left;
}

.tchat .advert-online {
    text-align: left;
}
.tchat .advert-online h2 {
    color: white;
    font-weight: normal;
    right: 0;
}
.tchat .overlay {
    right: 4%;
    left: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 2px;
}
.tchat .screen {
    border-top-right-radius: 10px;
    border-top-left-radius: 2px;
    opacity: 0.7;
}

body.voyance-telephone-1 .left-part .logo img {
    display: none;
}

body.voyance-telephone-1 .right-part.logo-right {
    float: left;
    height: 268px;
    background: url('logo.png');
    background-repeat: no-repeat;
    background-position: 40%;
}

body.voyance-telephone-1 .voyant-membre {
    max-width: none;
    margin: 0;
    padding: 1px 10% 20px;
    background: rgba(125, 104, 111, 0.8);
    border-radius: 0;
}
body.voyance-telephone-1 .voyant-membre h2 {
    color: #211A38;
    border-bottom: 3px dotted #211A38;
    padding-bottom: 10px;
    margin: 20px auto;
}
body.voyance-telephone-1 .voyant-membre h2 strong {
    text-transform: uppercase;
    font-size: 21px;
}
body.voyance-telephone-1 .voyant-membre .slogan {
    color: white;
}

body.voyance-telephone-1 .right-part .widget {
    background-color: #211A38;
    border-radius: 0;
}

body.voyance-telephone-1 .right-part .widget .widget-title {
    background: #7304c9;
}
body.voyance-telephone-1 .right-part .widget .li-form input {
    height: auto;
    padding: 6px 10px;
    border: 0;
    border-radius: 0;
    color: #333333;
    font-size: 1.2em;
}
body.voyance-telephone-1 .right-part .widget input[type="submit"]:hover {
    background: #7304C9;
}
body.voyance-telephone-1 .right-part .widget input[type="submit"] {
    border-radius: 0;
    border: 0;
    border: 1px solid #DCC0F1;
    background-color: #9451C6;
    background: -webkit-linear-gradient(to bottom, #7304C9 0%, #9451C6 100%);
    background: linear-gradient(to bottom, #7304C9 0%, #9451C6 100%);
    color: white;
    text-transform: uppercase;
}

body.voyance-telephone-1 .left-part .comment-ca-marche h2 {
    color: white;
    text-transform: none;
    font-size: 2em;
}

body.voyance-telephone-1 .left-part .comment-ca-marche .faq {
    background: rgba(125, 104, 111, 0.6);
    border: none;
    border-radius: 0;
}
body.voyance-telephone-1 .left-part .comment-ca-marche .faq .cols-3 {
    color: #211A38;
    font-style: normal;
    font-weight: bold;
}

body.voyance-telephone-1 .left-part .comment-ca-marche .faq .cols-3.first {
    background: url('ico-form-telephone1.png') no-repeat 20px center transparent;
}
body.voyance-telephone-1 .left-part .comment-ca-marche .faq .cols-3.last {
    background: url('ico-rappel1.png') no-repeat 20px center transparent;
}

body.voyance-telephone-1 .subfooter {
    background: transparent;
}
body.voyance-telephone-1 .subfooter ul {
    background-color: #211A38;
    margin-top: 20px;
}

body.voyance-telephone-1 .footer {
    color: white;
}