@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css?family=Parisienne');
.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: transparent;
  height: 124px;
  padding: 24px 0;
  color: white;
  position: absolute;
  top: 0;
  width: 100%;
  box-sizing: content-box;
}

.container-960 {
  max-width: 1024px;
  margin: 0 auto;
  background: #0b1129;
  height: 100%;
  padding: 15px;
  box-sizing: border-box;
  z-index: 2;
}

.container-960::before {
  content: '';
  height: 160px;
  display: block;
  border: 6px solid;
  width: 40%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 4px -2px #000;
  z-index: 1;
}
.bloc-spe{
  color: #0b1129;
  font-size: 20px;
  background: #e5b878;
  padding: 7px 14px;
  z-index: 1;
  position: absolute;
  display: block;
  width: 120px;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
}

.App-title {
  /*font-size: 1.5em;*/
  font-size: 55px;
  color: #e5b878;
  margin: 0 0 0 -15%;
}

.App-title span {
  font-family: 'Parisienne', cursive;
  font-size: 78px;
  margin-top: -50px;
  display: block;
  margin-left: 43%;
  font-weight: normal;
}

.App-intro {
  font-size: large;
}

.col-2 {
  width: 50%;
  min-height: 100vh;
}

.col-left {
  background: #c1c5d1;
  float: left;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.col-right {
  float: right;
  background-size: cover;
  background-repeat: no-repeat;
}
