@charset "UTF-8";
/* CSS Document */

body {text-align:center;}
h1 { font-family:Arial, Helvetica, sans-serif; font-size:16px; }
p { font-family:Arial, Helvetica, sans-serif; font-size:12px; }
.border { border:none;}


#Content {
	margin:0px auto;
	width: 655px;
	height:900px;
	}


#Header {
	margin:0px auto;
	
	}
	
#titre {
	
	}
	
.horos {
	width:325px;
	margin-bottom:10px;
	text-align:left;
	display:block;
	float:left;
	}
	
.lien {
	float:right;
	
	}
	
.lienhoros{
	width:301px;
	height:88px;
	background:url(img/email-elle_24.jpg) no-repeat;
	padding-top:15px;
	margin-top:15px;
	padding-left:15px;
	margin-left:15px;
	
	}
	
.lienhoros a { font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#000;}